﻿@model DividaBill.ViewModels.LoginForgotPasswordViewModel

@{
    Layout = null;
    ViewBag.Title = "Login - Dividabill";
    ViewBag.MetaDescription = "Login to your Dividabill account. Manage your account, pay your student bills & young professional housing bills.";
    ViewBag.MetaKeywords = "login to my account, login, Dividabill";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DividaBill</title>
    @Styles.Render("~/Content/metronic-core", "~/Content/metronic-login")
    @Scripts.Render("~/bundles/modernizr")

</head>

<!-- BEGIN BODY -->

<body class="login">

    <!-- BEGIN LOGO -->

    <div class="logo">

        <a href="/">

            <img src="https://az754941.vo.msecnd.net/Content/Images/logo.png" alt="" />

        </a>

    </div>

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->

    <div class="content">
        @{ Html.RenderPartial("~/Views/Account/LoginPartial/_LoginForm.cshtml", Model.loginModel); }

        @{ Html.RenderPartial("~/Views/Account/LoginPartial/_ForgotPasswordForm.cshtml", Model.forgotPasswordModel); }


    </div>

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->

    <div class="copyright">

        <p>&copy; @DateTime.Now.Year - DividaBill.co.uk</p>

    </div>

    <!-- END COPYRIGHT -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metronic-core")
    @Scripts.Render("~/bundles/metronic-login")

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Login.init();
        });
    </script>
</body>

<!-- END BODY -->

</html>