﻿@model DividaBill.ViewModels.SignUpViewModel

    @{
        var titlesList = new SelectList(new List<Object>
        {
            new {value = 1, text = "Ms"},
            new {value = 2, text = "Miss"},
            new {value = 3, text = "Mrs"},
            new {value = 4, text = "Mr"}
        },
        "value",
        "text"
        );
    }

@{
    string[] months = { "Ms", "Miss", "Mrs", "Mr" };
    var values = new SelectList(months);

    
}

<div class="">
    @using (Html.BeginForm("/", "api/tenants", null, FormMethod.Post, new {@id = "form-tenant-add", @class="form-horizontal"}))
    {

    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.HouseId)
    <fieldset>
        <legend>Personal Details</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.RefTitle, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.DropDownListFor(model => model.RefTitle, values, new { @class = "form-control select2me" })
            </div>
            @Html.ValidationMessageFor(model => model.RefTitle, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", required="required", data_rule_maxlength = "50" })
            </div>
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LastName, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", required = "required", data_rule_maxlength = "50" })
            </div>
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", required="required", data_rule_email = "true"})
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DoB, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.DoB, "", new { @class = "form-control", placeholder="dd/mm/yyyy", data_date_week_start="1",data_date_autoclose = "true", data_date_end_date="-16y", data_date_start_date="-125y", data_date_format= "dd/mm/yyyy", required="required" })
            </div>
            @Html.ValidationMessageFor(model => model.DoB, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Phone, new { @class = "control-label col-sm-4 text-right" })
            <div class="col-sm-7">
                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", required="required" })
            </div>
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </fieldset>
        <fieldset>
            <legend>Bank Details</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountName, new { @class = "control-label col-sm-4 text-right" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control", required="required" })
                </div>
                @Html.ValidationMessageFor(model => model.AccountName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label col-sm-4 text-right" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control", required="required" })
                </div>
                @Html.ValidationMessageFor(model => model.AccountNumber)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountSortCode, new { @class = "control-label col-sm-4 text-right" })
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.AccountSortCode, new { @class = "form-control", required="required" })
                </div>
                @Html.ValidationMessageFor(model => model.AccountSortCode)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.AccountStandalone, new { @class = "control-label col-sm-4 text-right"})
                <div class="col-sm-7" style="margin-top: 0.6em;">
                    @Html.CheckBoxFor(model => model.AccountStandalone, new { required = "required" })
                </div><br/>
                @Html.ValidationMessageFor(model => model.AccountStandalone)
            </div>
        </fieldset>
        <fieldset>
            <legend>Other</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.NewsletterSubscription, new { @class = "control-label col-sm-4 text-right" })
                <div class="col-sm-7" style="margin-top: 0.6em;">
                    @Html.CheckBoxFor(model => model.NewsletterSubscription)
                </div>
            </div>
        </fieldset>
        <br /><br />
    }
</div>

