﻿@{
    ViewBag.Title = "Active Tenants";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button id="clientsTable_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Export to Excel", "Export", new { FileType = "Excel", Type = "active" })
                            </li>
                        </ul>
                    </div>
                </div>

                @using Mvc.JQuery.DataTables
                @using Mvc.JQuery.DataTables.Serialization
                
                @{
                    var vm = Html.DataTableVm<DividaBill.ViewModels.DataTables.TenantsDataTableViewModel>("table-users", new Uri("/api/tenants/ActiveTenantsAsDataTable", UriKind.Relative));


                    //vm.JsOptions.Add("iDisplayLength", 5);

                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.LengthMenu = LengthMenuVm.Default();
                    vm.AutoWidth = true;
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copy',
            'excel',
            'csv',
            'pdf'
    ]"));

                    vm.ColumnFilter = false;

                }

                @Html.Partial("DataTable", vm, ViewData)

            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/admin-clientsDetailsTable")
    @Styles.Render("~/Content/adminTables")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>
}