﻿@model DividaBill.Models.ReferalCode

@{
    ViewBag.Title = "Create";
    var referals = ViewBag.Referals as IEnumerable<SelectListItem>;
    var codes = ViewBag.Codes as IEnumerable<SelectListItem>;
}



<!-- BEGIN PAGE CONTENT-->

<div class="row">

    <div class="col-md-12">

        @using (Html.BeginForm("Create", "Referals", FormMethod.Post, new { @class = "form-horizontal form-row-seperated", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="portlet">

                <div class="portlet-title">

                    <div class="caption">

                        <i class="fa fa-plus"></i>New Bill

                    </div>

                    <div class="actions btn-set">

                        <a href="@Url.Action("Index")" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        <a href="@Request.Url.PathAndQuery" class="btn default"><i class="fa fa-reply"></i> Reset</a>
                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>

                        @*<button class="btn green"><i class="fa fa-check-circle"></i> Save & Continue Get</button>*@

                        @*<div class="btn-group">

                                <a class="btn yellow" href="#" data-toggle="dropdown">

                                    <i class="fa fa-share"></i> More <i class="fa fa-angle-down"></i>

                                </a>

                                <ul class="dropdown-menu pull-right">

                                    <li>

                                        <a href="#">

                                            Duplicate

                                        </a>

                                    </li>

                                    <li>

                                        <a href="#">

                                            Delete

                                        </a>

                                    </li>

                                    <li class="divider">

                                    </li>

                                    <li>

                                        <a href="#">

                                            Print

                                        </a>

                                    </li>

                                </ul>

                            </div>*@

                    </div>

                </div>

                <div class="portlet-body">

                    <div class="tabbable">

                        <ul class="nav nav-tabs">

                            <li class="active">

                                <a href="#tab_general" data-toggle="tab">

                                    General

                                </a>

                            </li>


                        </ul>

                        <div class="tab-content no-space">

                            <div class="tab-pane active" id="tab_general">

                                <div class="form-body">

                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })


                                    <div class="form-group">
                                        @Html.Label("Referal", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.Owner, referals, "--Select--", (ViewBag.DisabledDropdownList != null) ? new { @readonly = true } : null)
                                            @Html.ValidationMessage("Referal", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Code", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(model => model.DiscountCode, referals, "--Select--", (ViewBag.DisabledDropdownList != null) ? new { @readonly = true } : null)
                                            @Html.ValidationMessage("Code", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    </div>

</div>

<!-- END PAGE CONTENT-->



<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
}