﻿
<script type="text/template" id="servicesdetails-tpl">
    @model DividaBill.ViewModels.SignUpViewModel

    <!-- Modal Telephone More Info-->
    <div class="modal fade" id="TelephoneModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style='color:white; margin:0' id="ModalDividabill">Choose Your Landline Phone Package</h4>
                </div>
                <div class="modal-body">
                    <label for="LandlinePhoneType" class="error text-center" style="display:none;"></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="radio">
                                @Html.RadioButtonFor(m => m.LandlinePhoneType, DividaBill.Models.LandlineType.Basic, new { @id = "LandlineTypeBasic", @class = "service_radio" })
                                @Html.LabelFor(m => m.LandlinePhoneType, "Basic package", new { @for = "LandlineTypeBasic" })
                            </div>
                            <ul>
                                <li> Get 750 mobile minutes   </li>
                                <li> Get 3000 landline minutes</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio radio-success">
                                @Html.RadioButtonFor(m => m.LandlinePhoneType, DividaBill.Models.LandlineType.Medium, new { @id = "LandlineTypeMedium", @class = "service_radio" })
                                @Html.LabelFor(m => m.LandlinePhoneType, "Medium package", new { @for = "LandlineTypeMedium" })
                            </div>
                            <ul>
                                <li> Get 1500 mobile minutes   </li>
                                <li> Get 6000 landline minutes</li>
                            </ul>
                        </div><br />
                        <p class="small"><i>International calls not included <br /> 0870 and 0845 numbers included </i></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success col-md-4 col-md-offset-2" data-target="Telephone" id="checkTelephone">Save Service</button>
                        <button type="button" class="btn btn-danger col-md-4" data-dismiss="modal" id="cancelTelephone" data-target="Telephone">Cancel Service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Internet More Info -->
    <div class="modal fade" id="InternetModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style='color:white; margin:0' id="ModalDividabill">Choose Your Internet Package</h4>
                </div>
                <div class="modal-body">
                    <label for="BroadbandType" class="error text-center"></label> <br />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="radio">
                                @Html.RadioButtonFor(m => m.BroadbandType, DividaBill.Models.BroadbandType.ADSL20, new { @id = "BroadbandTypeADSL20", @class = "service_radio" })
                                @Html.LabelFor(m => m.BroadbandType, "Standard broadband", new { @for = "BroadbandTypeADSL20" })
                            </div>
                            <ul>
                                <li>ADSL Broadband</li>
                                <li>Unlimited broadband</li>
                                <li>Up to 17Mb/s download speed</li>
                                <li>1.5 Mb/s upload speed</li>
                                <li>No delivery or set up costs. Installation costs may apply</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio radio-success">
                                @Html.RadioButtonFor(m => m.BroadbandType, DividaBill.Models.BroadbandType.Fibre40, new { @id = "BroadbandTypeFibre40", @class = "service_radio" })
                                @Html.LabelFor(m => m.BroadbandType, "Super Fast broadband", new { @for = "BroadbandTypeFibre40" })
                            </div>
                            <ul>
                                <li> Fibre Optic Broadband</li>
                                <li> Unlimited broadband</li>
                                <li>Up to 76 Mb/s download speed</li>
                                <li>20 Mb/s upload speed</li>
                                <li>No delivery or set up costs. Installation costs may apply</li>
                            </ul>
                        </div> <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success col-md-4 col-md-offset-2" id="checkInternet" data-target="Internet">Save Service</button>
                        <button type="button" class="btn btn-danger col-md-4" data-dismiss="modal" id="cancelInternet" data-target="Internet">Cancel Service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal TV More Info -->
    <div class="modal fade" id="TelevisionModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" style='color:white; margin:0' id="ModalDividabill">Choose Your TV Services</h4>
                </div>
                <div class="modal-body">
                    <label for="tvitems" class="error tvitems-error"></label>
                    <div class="row">
                        <aside class="col-md-6">
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                @Html.CheckBoxFor(m => m.SkyTV, new { @id = "SkyTV", @class = "chck tv_checks" })
                                @Html.LabelFor(m => m.SkyTV, "Sky TV", new { @class = "tv-box-text", @for = "SkyTV" })
                            </div><br /> <br/>
                            <ul>
                                <li>Complete Entertainment Package</li>
                                <li> Sky Sports </li>
                                <li>Sky Movies </li>
                                <li> Complete Sky family package </li>
                                <li> Sky+HD</li>
                                <li>Installation only available in England</li>
                            </ul>
                        </aside>
                        <aside class="col-md-6">
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                @Html.CheckBoxFor(m => m.TVLicense, new { @class = "nope chck tv_checks", @id = "TVLicense" })
                                @Html.LabelFor(m => m.TVLicense, "TV License", new { @class = "tv-box-text", @for = "TVLicense" })
                            </div><br /><br />
                            <ul>
                                <li>License covers each residency</li>
                                <li>Get a license to watch live TV legally </li>
                                <li>Covers you to watch live TV on all devices</li>
                            </ul>
                        </aside>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success col-md-4 col-md-offset-2" id="checkTelevision" data-target="Television">Save Service</button>
                        <button type="button" class="btn btn-danger col-md-4" data-dismiss="modal" id="cancelTelevision" data-target="Television">Cancel Service</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Electricity More Info -->
    <div class="modal fade" id="modalElInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <p> The Tariff Comparison Rate (TCR) was introduced by Ofgem to help consumers easily compare tariff rates between suppliers. </p> <br />
                    <p>Switching your supplier will never mean you are without electricity – this is an industry standard. </p><br />
                    <p>Your tariff is made up of a standing charge and a unit rate per kilowatt-hour (kWh). </p><br />
                    <p>The standing charge is a fixed daily charge for each utility and the unit rate is multiplied by your usage in kWh. Prices may increase or decrease in line with energy price changes. </p><br />
                    <p>The guideline consumption figures for your estimated quotes are based on the OFGEM medium average 13,500 kWh of gas and 3,200 kWh of electricity per year. </p><br />
                    <p>If you are on a non twelve month tariff then estimated usage may vary.</p> <br />
                    <p>We will give you 30 days advanced notice in writing before we increase your prices.</p><br />
                    <p>Unfortunately at this time we cannot service Prepayment or Smart meter properties for Electricity. However it may be possible to switch your meter for one that we can provide, for more details please contact support@dividabill.co.uk  </p> <br />
                    <p>
                        If you have a pre payment meter we are unable to change it for you at the moment unfortunately. We are working on it and hope to have the ability to do this soon. You can still sign up for all our other services and join our electricity and gas at a later time.
                        You can call up your current supplier who may be able to change it for you, or change to a supplier that is able to change it. You then join us once you have a meter or smart meter fitted by them
                    </p> <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Gas More Info -->
    <div class="modal fade" id="modalGasInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <p class="par"> The Tariff Comparison Rate (TCR) was introduced by Ofgem to help consumers easily compare tariff rates between suppliers. </p> <br />
                    <p class="par">Switching your supplier will never mean you are without electricity – this is an industry standard. </p><br />
                    <p class="par">Your tariff is made up of a standing charge and a unit rate per kilowatt-hour (kWh). </p><br />
                    <p class="par">The standing charge is a fixed daily charge for each utility and the unit rate is multiplied by your usage in kWh. Prices may increase or decrease in line with energy price changes. </p><br />
                    <p class="par">The guideline consumption figures for your estimated quotes are based on the OFGEM medium average 13,500 kWh of gas and 3,200 kWh of electricity per year. </p><br />
                    <p class="par">If you are on a non twelve month tariff then estimated usage may vary.</p> <br />
                    <p class="par">We will give you 30 days advanced notice in writing before we increase your prices.</p><br />
                    <p class="par">Unfortunately at this time we cannot service Prepayment or Smart meter properties for Gas. However it may be possible to switch your meter for one that we can provide, for more details please contact support@dividabill.co.uk  </p> <br />
                    <p class="par">
                        If you have a pre payment meter we are unable to change it for you at the moment unfortunately.
                        We are working on it and hope to have the ability to do this soon. You can still sign up for all our other services and join our electricity and gas at a later time.
                        You can call up your current supplier who may be able to change it for you, or change to a supplier that is able to change it.
                        You then join us once you have a meter or smart meter fitted by them
                    </p> <br />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal  Water More Info-->
    <div class="modal fade" id="modalWaterInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
                </div>
                <div class="modal-body">
                    <br />
                    <p class="par">We don’t charge any additional fees to manage your water bill, so you don’t pay any more than you would pay doing it yourself, just without the hassle for you. </p><br />
                    <p class="par">Switching your payment to us will never mean you are without water.</p><br />
                    <p class="par"> You have fresh water entering your house and waste water leaving it.</p><br />
                    <p class="par">There are two different types of water meters; Metered and Unmetered. Billing for both meter types includes a standing charge, and your usage multiplied by the water unit rate.</p><br />
                    <p class="par"> Usage is measured by your exact useage for metered properties, and “the rateable value (RV)” for unmetered properties.</p><br />
                    <p class="par">The standing charge shown is a fixed daily amount.</p><br />
                    <p class="par">Exact prices depend on your house, usage and can vary from property to property</p><br />
                    <p class="par">We work on a twelve month cycle to allow for similar bills each month. Therefore if you chose to leave your contract early then there may be an additional charge or we will rebate to balance your account.</p><br />
                    <p class="par"> Please see your local water provider website, visit Ofwat or Consumer Council for water websites for more information about your water supply.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="signup-services">
        <section class="row text-center"><h3 class="signup-header"> Please Choose Your Services </h3><br />  </section>
        <!--NEW DESIGN-->
        <div class="error text-center"><label id="ServicesGroup-error" class="error" for="ServicesGroup"></label></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Electricity service" data-price-person="5" data-tariff="10" data-price-unit="20" data-charge="34" data-target="Electricity">
                            <i class="fa fa-bolt"></i>
                            @Html.CheckBoxFor(m => m.Electricity, new { @class = "hidden service_check", @id = "Electricity" })
                        </div>
                    </div>
                    <div class="service-content-container Electricity-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p id='fee-Electricity' class="small text-center"> £<span class="price-person">0.00 </span> (per week/person)</p>
                                <p class="small">Tariff Comparison Rate: <span class="El-tcr">0</span> </p>
                                <p class="small"> Price per Unit: <span class="El-price-unit">0</span> </p>
                                <p class="small"> Standing Charge: <span class="El-charge">0</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Gas service" data-price-person="5" data-tariff="10" data-price-unit="20" data-charge="34" data-target="Gas" data-container="body" data-toggle="popover" data-content="You can choose Gas service with Electricity only! <i class='fa fa-times-circle close-popover' data-target='Gas'></i>" data-placement="top" data-trigger="manual" >
                            <i class="fa fa-fire"></i>
                            @Html.CheckBoxFor(m => m.Gas, new { @class = "hidden service_check", @id = "Gas" })
                        </div>
                    </div>
                    <div class="service-content-container Gas-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p id='fee-Gas' class="small text-center"> £<span class="price-person">0.00</span> (per week/person)</p>
                                <p class="small"> Tariff Comparison Rate: <span class="Gas-tcr">0</span> </p>
                                <p class="small"> Price per Unit: <span class="Gas-price-unit">0</span> </p>
                                <p class="small"> Standing Charge: <span class="Gas-charge">0</span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Water service" data-price-person="5" data-target="Water">
                            <i class="fa fa-tint"></i>
                            @Html.CheckBoxFor(m => m.Water, new { @class = "hidden service_check", @id = "Water"})
                        </div>
                    </div>
                    <div class="service-content-container Water-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p id='fee-Water' class="text-center small"> £<span class="price-person">0.00</span> (per week/person)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <Br />
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Internet service" data-price-person="5" data-target="Internet">
                            <i class="fa fa-wifi"></i>
                            @Html.CheckBoxFor(m => m.Broadband, new { @class = "hidden service_check", @id = "Internet" })
                        </div>
                    </div>
                    <div class="service-content-container Internet-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p class="internet-service small text-center"></p>
                                <p id='fee-Internet' class="small text-center"> £<span class="price-person">0.00</span> (per week/person)</p>
                                <button type="button" class="btn small-button btn-primary custom-btn" data-toggle="modal" data-target="#InternetModal">Change</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Television service" data-price-person="4" data-target="Television">
                            <i class="fa fa-desktop"></i>
                            @Html.CheckBoxFor(m => m.TV, new { @class = "hidden service_check", @id = "Television" })
                        </div>
                    </div>
                    <div class="service-content-container Television-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p class="television-service small text-center"></p>
                                <p id='fee-tv' class="small text-center"> £<span class="price-person">0.00</span> (per week/person)</p>
                                <button type="button" class="btn small-button btn-primary custom-btn" data-toggle="modal" data-target="#TelevisionModal">Change</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-box">
                    <div class="service-box-icon pull-left">
                        <div class="third-single-img Telephone service" data-price-person="4" data-target="Telephone">
                            <i class="fa fa-phone"></i>
                            @Html.CheckBoxFor(m => m.LandlinePhone, new { @class = "hidden service_check", @id = "Telephone" })
                        </div>
                    </div>
                    <div class="service-content-container Telephone-info">
                        <div class="flipper">
                            <div class="front-content">
                                <p class="small">I am the front </p>
                            </div>
                            <div class="back-content">
                                <p class="telephone-service small text-center"></p>
                                <p id='fee-phone' class="small text-center"> £<span class="price-person">0.00</span> (per week/person)</p>
                                <button type="button" class="btn small-button btn-primary custom-btn" data-toggle="modal" data-target="#TelephoneModal">Change</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row total_prices_services" style="display:none"><br/><br/>
            <div class="col-sm-3 col-sm-offset-3"> <br/><br/>
                <p class="text-center small">Total price per week/person</p>
                <div class="services_prices">
                    <p class="text-center total_price_person" style="color:rgb(51, 51, 51)"> £0.0</p>
                </div>
                <p class="text-center small">(Based on chosen services below)</p>
            </div>
            <div class="col-sm-3"><br /><br />
                <p class="text-center par">Total price per week/house</p>
                <div class="services_prices">
                    <p class="text-center total_price_house" style="color:rgb(51, 51, 51)"> £0.0</p>
                </div>
                <p class="text-center small">(Based on chosen services below)</p>
        </div>
    </div>
 </div>
</script>

