﻿@{
    ViewBag.Title = "Dashboard";
}

<!-- BEGIN DASHBOARD STATS -->
<div class="row">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="dashboard-stat blue">

            <div class="visual">

                <i class="fa fa-building-o"></i>

            </div>

            <div class="details">

                <div class="number">

                    @ViewBag.RegisteredHousesToday

                </div>

                <div class="desc">

                    New Houses

                </div>

            </div>

            <a class="more" href="@Url.Action("New","Houses")">

                TODAY <i class="m-icon-swapright m-icon-white"></i>

            </a>

        </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="dashboard-stat green">

            <div class="visual">

                <i class="fa fa-check"></i>

            </div>

            <div class="details">

                <div class="number">

                    @ViewBag.ActiveHouses

                </div>

                <div class="desc">

                    Active Houses

                </div>

            </div>

            <a class="more" href="@Url.Action("Active","Houses")">

                View more

            </a>

        </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="dashboard-stat purple">

            <div class="visual">

                <i class="fa fa-globe"></i>

            </div>

            <div class="details">

                <div class="number">

                    @ViewBag.TotalHouses

                </div>

                <div class="desc">

                    Total Houses

                </div>

            </div>

            <a class="more" href="#">

                View more <i class="m-icon-swapright m-icon-white"></i>

            </a>

        </div>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">

        <div class="dashboard-stat yellow">

            <div class="visual">

                <i class="fa fa-bar-chart-o"></i>

            </div>

            <div class="details">

                <div class="number">

                    12,5M$

                </div>

                <div class="desc">

                    Total Profit

                </div>

            </div>

            <a class="more" href="#">

                View more <i class="m-icon-swapright m-icon-white"></i>

            </a>

        </div>

    </div>

</div>

<!-- END DASHBOARD STATS -->