﻿@model Dividabill.Areas.Admin.ViewModels.EmailsViewModel

<div class="inbox-header inbox-view-header">
    <h1 class="pull-left">
        @Model.Subject
        <a href="#">
            Inbox
        </a>
    </h1>
    <div class="pull-right">
        <i class="fa fa-print"></i>
    </div>
</div>
<div class="inbox-view-info">
    <div class="row">
        <div class="col-md-7">
            <img src="assets/img/avatar1_small.jpg">
            <span class="bold">
                @Model.From.DisplayName
            </span>
            <span>
                &#60;@Model.From.Address&#62;
            </span>
            to
            <span class="bold">
                @Model.To
            </span>
            on @Model.Sent
        </div>
        <div class="col-md-5 inbox-info-btn">
            <div class="btn-group">
                <button class="btn blue reply-btn">
                    <i class="fa fa-reply"></i> Reply
                </button>
                <button class="btn blue dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="#">
                            <i class="fa fa-reply reply-btn"></i> Reply
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-arrow-right reply-btn"></i> Forward
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-ban"></i> Spam
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="inbox-view">
    @Model.Message
</div>
<hr>
@if (Model.HasAttachement)
{

    <div class="inbox-attached">
        <div class="margin-bottom-15">
            <span>
                @Model.Attachments.Count() attachments —
            </span>
            <a href="#">
                Download all attachments
            </a>
            <a href="#">
                View all images
            </a>
        </div>

        @foreach (S22.Mail.SerializableAttachment attachment in Model.Attachments)
        {
            <div class="margin-bottom-25">
                <i class="fa fa-file-excel-o"></i>
                <div>
                    <strong>@attachment.Name</strong>
                    <span>                        
                        @*@attachment.ContentType.MediaType*@
                        @attachment.ContentStream.Length B
                    </span>
                    <a href="#">
                        View
                    </a>
                    <a href="#">
                        Download
                    </a>
                </div>
            </div>
        }

    </div>
}