﻿@model IEnumerable<Dividabill.Areas.Admin.ViewModels.EmailsViewModel>

<table class="table table-striped table-advance table-hover">
    <thead>
        <tr>
            <th colspan="3">
                <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                <div class="btn-group">
                    <a class="btn btn-sm blue" href="#" data-toggle="dropdown">
                        More <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <i class="fa fa-pencil"></i> Mark as Read
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-ban"></i> Spam
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-trash-o"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </th>
            <th class="pagination-control" colspan="3">
                <span class="pagination-info">
                    1-30 of @Model.Count()
                </span>
                <a class="btn btn-sm blue">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="btn btn-sm blue">
                    <i class="fa fa-angle-right"></i>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="unread" data-messageid="@item.ID">
                <td class="inbox-small-cells">
                    <input type="checkbox" class="mail-checkbox">
                </td>
                <td class="inbox-small-cells">
                    <i class="fa fa-star"></i>
                </td>
                <td class="view-message hidden-xs">
                    @item.To
                </td>
                <td class="view-message ">
                    @item.Subject
                </td>
                <td class="view-message inbox-small-cells">
                    @if (@item.HasAttachement)
                    {
                        <i class="fa fa-paperclip"></i>
                    }
                </td>
                <td class="view-message text-right">
                    @item.Sent.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>
