﻿@{
    var leftMenu = ViewBag.AdminLeftMenuViewModel as Dividabill.Areas.Admin.ViewModels.AdminLeftMenuViewModel;

}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title - DividaBill Administration</title>
    @Styles.Render("~/Content/metronic-core")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class="page-header-fixed page-full-width">

    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">
                <img src="~/Content/Images/Admin/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN HORIZANTAL MENU -->

            <div class="hor-menu hidden-sm hidden-xs">
                @{string ctrName = ViewContext.RouteData.Values["controller"].ToString();}

                <ul class="nav navbar-nav">

                    <li class="classic-menu-dropdown @if(ctrName == "Dashboard"){<text> active</text>}">
                        @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "dropdown-toggle" })
                    </li>

                    <li class="@if (ctrName == "Bills") { <text> active</text>}">
                        @Html.ActionLink("Bills", "Index", "Bills", null, new { @class = "dropdown-toggle" })
                    </li>

                    <li class="classic-menu-dropdown @if(ctrName == "Houses"){ <text> active</text>}">
                        <a href="@Url.Action("Index", "Houses", null)" class="dropdown-toggle" data-hover="dropdown" data-close-others="true">Houses <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="@Url.Action("Active", "Houses")">
                                    Active Houses
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Problem", "Houses")">
                                    Problem Houses
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Archived", "Houses")">
                                    Archived Houses
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("New", "Houses")">
                                    New Houses
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="classic-menu-dropdown @if(ctrName == " clients"){<text> active</text>}">
                        @Html.ActionLink("Clients", "Index", "Users", null, new { @class = "dropdown-toggle",  @data_hover="dropdown", @data_close_others="true" })
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="@Url.Action("Active", "Users")">
                                    Active Clients
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("All", "Users")">
                                    All Clients
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="@if(ctrName == "Codes"){<text> active</text>}">
                        @Html.ActionLink("Codes", "Index", "Coupons", null, new { @class = "dropdown-toggle" })
                    </li>
                    <li class="@if(ctrName == "Media"){<text> active</text>}">
                        @Html.ActionLink("Media", "Index", "Media", null, new { @class = "dropdown-toggle" })
                    </li>

                    <li>

                        <span class="hor-menu-search-form-toggler">

                            &nbsp;

                        </span>

                        <div class="search-form">

                            <form class="form-search">

                                <div class="input-group">

                                    <input type="text" placeholder="Search..." class="form-control">

                                    <div class="input-group-btn">

                                        <button type="button" class="btn"></button>

                                    </div>

                                </div>

                            </form>

                        </div>

                    </li>

                </ul>

            </div>

            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="~/Content/Images/Admin/menu-toggler.png" alt="" />
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->

            <ul class="nav navbar-nav pull-right">

                <!-- BEGIN NOTIFICATION DROPDOWN -->

                <li class="dropdown" id="header_notification_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                        <i class="fa fa-warning"></i>

                        <span class="badge">@leftMenu.Notifications.Count()</span>

                    </a>

                    <ul class="dropdown-menu extended notification">

                        <li>

                            <p>

                                You have 14 new notifications

                            </p>

                        </li>

                        <li>

                            <ul class="dropdown-menu-list scroller" style="height: 250px;">

                                @foreach (Dividabill.Areas.Admin.ViewModels.INotificationViewModel notification in leftMenu.Notifications)
                                {
                                    <li>
                                        <a href="@notification.Link">
                                            <span class="label label-icon @notification.Type">
                                                <i class="fa @notification.Action"></i>
                                            </span>
                                            @notification.Title
                                            <span class="time">
                                                @notification.Created
                                            </span>
                                        </a>
                                    </li>
                                }
                                

                            </ul>

                        </li>

                        <li class="external">

                            <a href="@Url.Action("Notifications", "Dashboard",new { Area="Admin" })">

                                See all notifications <i class="m-icon-swapright"></i>

                            </a>

                        </li>

                    </ul>

                </li>

                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->

                <li class="dropdown" id="header_inbox_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                        <i class="fa fa-envelope"></i>

                        <span class="badge">

                            5

                        </span>

                    </a>

                    <ul class="dropdown-menu extended inbox">

                        <li>

                            <p>

                                You have 12 new messages

                            </p>

                        </li>

                        <li>

                            <ul class="dropdown-menu-list scroller" style="height: 250px;">

                                <li>

                                    <a href="inbox.html?a=view">

                                        <span class="photo">

                                            <img src="./assets/img/avatar2.jpg" alt="" />

                                        </span>

                                        <span class="subject">

                                            <span class="from">

                                                Lisa Wong

                                            </span>

                                            <span class="time">

                                                Just Now

                                            </span>

                                        </span>

                                        <span class="message">

                                            Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="inbox.html?a=view">

                                        <span class="photo">

                                            <img src="./assets/img/avatar3.jpg" alt="" />

                                        </span>

                                        <span class="subject">

                                            <span class="from">

                                                Richard Doe

                                            </span>

                                            <span class="time">

                                                16 mins

                                            </span>

                                        </span>

                                        <span class="message">

                                            Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="inbox.html?a=view">

                                        <span class="photo">

                                            <img src="./assets/img/avatar1.jpg" alt="" />

                                        </span>

                                        <span class="subject">

                                            <span class="from">

                                                Bob Nilson

                                            </span>

                                            <span class="time">

                                                2 hrs

                                            </span>

                                        </span>

                                        <span class="message">

                                            Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh...

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="inbox.html?a=view">

                                        <span class="photo">

                                            <img src="./assets/img/avatar2.jpg" alt="" />

                                        </span>

                                        <span class="subject">

                                            <span class="from">

                                                Lisa Wong

                                            </span>

                                            <span class="time">

                                                40 mins

                                            </span>

                                        </span>

                                        <span class="message">

                                            Vivamus sed auctor 40% nibh congue nibh...

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="inbox.html?a=view">

                                        <span class="photo">

                                            <img src="./assets/img/avatar3.jpg" alt="" />

                                        </span>

                                        <span class="subject">

                                            <span class="from">

                                                Richard Doe

                                            </span>

                                            <span class="time">

                                                46 mins

                                            </span>

                                        </span>

                                        <span class="message">

                                            Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...

                                        </span>

                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="external">

                            <a href="inbox.html">

                                See all messages <i class="m-icon-swapright"></i>

                            </a>

                        </li>

                    </ul>

                </li>

                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN TODO DROPDOWN -->

                <li class="dropdown" id="header_task_bar">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                        <i class="fa fa-tasks"></i>

                        <span class="badge">

                            5

                        </span>

                    </a>

                    <ul class="dropdown-menu extended tasks">

                        <li>

                            <p>

                                You have 12 pending tasks

                            </p>

                        </li>

                        <li>

                            <ul class="dropdown-menu-list scroller" style="height: 250px;">

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                New release v1.2

                                            </span>

                                            <span class="percent">

                                                30%

                                            </span>

                                        </span>

                                        <span class="progress">

                                            <span style="width: 40%;" class="progress-bar progress-bar-success" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    40% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                Application deployment

                                            </span>

                                            <span class="percent">

                                                65%

                                            </span>

                                        </span>

                                        <span class="progress progress-striped">

                                            <span style="width: 65%;" class="progress-bar progress-bar-danger" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    65% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                Mobile app release

                                            </span>

                                            <span class="percent">

                                                98%

                                            </span>

                                        </span>

                                        <span class="progress">

                                            <span style="width: 98%;" class="progress-bar progress-bar-success" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    98% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                Database migration

                                            </span>

                                            <span class="percent">

                                                10%

                                            </span>

                                        </span>

                                        <span class="progress progress-striped">

                                            <span style="width: 10%;" class="progress-bar progress-bar-warning" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    10% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                Web server upgrade

                                            </span>

                                            <span class="percent">

                                                58%

                                            </span>

                                        </span>

                                        <span class="progress progress-striped">

                                            <span style="width: 58%;" class="progress-bar progress-bar-info" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    58% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                Mobile development

                                            </span>

                                            <span class="percent">

                                                85%

                                            </span>

                                        </span>

                                        <span class="progress progress-striped">

                                            <span style="width: 85%;" class="progress-bar progress-bar-success" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    85% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                                <li>

                                    <a href="#">

                                        <span class="task">

                                            <span class="desc">

                                                New UI release

                                            </span>

                                            <span class="percent">

                                                18%

                                            </span>

                                        </span>

                                        <span class="progress progress-striped">

                                            <span style="width: 18%;" class="progress-bar progress-bar-important" aria-valuenow="18" aria-valuemin="0" aria-valuemax="100">

                                                <span class="sr-only">

                                                    18% Complete

                                                </span>

                                            </span>

                                        </span>

                                    </a>

                                </li>

                            </ul>

                        </li>

                        <li class="external">

                            <a href="#">

                                See all tasks <i class="m-icon-swapright"></i>

                            </a>

                        </li>

                    </ul>

                </li>

                <!-- END TODO DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->

                <li class="dropdown user">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                        <img alt="" src="assets/img/avatar1_small.jpg" />

                        <span class="username hidden-1024">
                            @ViewBag.AdminLeftMenuViewModel.User.FullName
                            @User.Identity.Name

                        </span>

                        <i class="fa fa-angle-down"></i>

                    </a>

                    <ul class="dropdown-menu">

                        <li>

                            <a href="extra_profile.html">

                                <i class="fa fa-user"></i> My Profile

                            </a>

                        </li>

                        <li>

                            <a href="page_calendar.html">

                                <i class="fa fa-calendar"></i> My Calendar

                            </a>

                        </li>

                        <li>

                            <a href="inbox.html">

                                <i class="fa fa-envelope"></i> My Inbox

                                <span class="badge badge-danger">

                                    3

                                </span>

                            </a>

                        </li>

                        <li>

                            <a href="#">

                                <i class="fa fa-tasks"></i> My Tasks

                                <span class="badge badge-success">

                                    7

                                </span>

                            </a>

                        </li>

                        <li class="divider">

                        </li>

                        <li>

                            <a href="javascript:;" id="trigger_fullscreen">

                                <i class="fa fa-arrows"></i> Full Screen

                            </a>

                        </li>

                        <li>

                            <a href="extra_lock.html">

                                <i class="fa fa-lock"></i> Lock Screen

                            </a>

                        </li>

                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
                            {
                            @Html.AntiForgeryToken()
                            }
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-key"></i> Log Out</a>

                        </li>

                    </ul>

                </li>

                <!-- END USER LOGIN DROPDOWN -->

            </ul>

            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">

    </div>

    <!-- BEGIN CONTAINER -->

    <div class="page-container">

        @*@Html.Partial("~/Areas/Admin/Views/Shared/_Sidepanel.cshtml")*@
        <!-- BEGIN CONTENT -->

        <div class="page-content-wrapper">

            <div class="page-content">

                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                                <h4 class="modal-title">Modal title</h4>

                            </div>

                            <div class="modal-body">

                                Widget settings form goes here

                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn blue">Save changes</button>

                                <button type="button" class="btn default" data-dismiss="modal">Close</button>

                            </div>

                        </div>

                        <!-- /.modal-content -->

                    </div>

                    <!-- /.modal-dialog -->

                </div>

                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
@Html.Partial("~/Areas/Admin/Views/Shared/_StyleCustomizer.cshtml")
                <!-- BEGIN PAGE HEADER-->

                <div class="row">

                    <div class="col-md-12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                        <h3 class="page-title">

                            @ViewBag.Title <small>@ViewBag.SubTitle</small>

                        </h3>

                        <ul class="page-breadcrumb breadcrumb">

                            <li class="btn-group">

                                <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">

                                    <span>

                                        Actions

                                    </span>

                                    <i class="fa fa-angle-down"></i>

                                </button>

                                <ul class="dropdown-menu pull-right" role="menu">

                                    <li>

                                        <a href="#">

                                            Action

                                        </a>

                                    </li>

                                    <li>

                                        <a href="#">

                                            Another action

                                        </a>

                                    </li>

                                    <li>

                                        <a href="#">

                                            Something else here

                                        </a>

                                    </li>

                                    <li class="divider">

                                    </li>

                                    <li>

                                        <a href="#">

                                            Separated link

                                        </a>

                                    </li>

                                </ul>

                            </li>

                            <li>

                                <i class="fa fa-home"></i>

                                @Html.ActionLink(linkText: "Home", actionName: "Index", controllerName: "Dashboard",
                                routeValues: null, htmlAttributes: "")

                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li>


                                @Html.ActionLink(ViewContext.RouteData.Values["Controller"].ToString(), "Index")



                                <i class="fa fa-angle-right"></i>

                            </li>

                            <li>
                                @Html.ActionLink(linkText: ViewContext.RouteData.Values["Action"].ToString(),
                                         actionName: ViewContext.RouteData.Values["Action"].ToString(),
                                         controllerName: ViewContext.RouteData.Values["Controller"].ToString(),
                                         routeValues: null, htmlAttributes: "")

                            </li>

                        </ul>

                        <!-- END PAGE TITLE & BREADCRUMB-->

                    </div>

                </div>

                <!-- END PAGE HEADER-->
                @RenderBody()

            </div>

        </div>

        <!-- END CONTENT -->

    </div>

    <!-- BEGIN FOOTER -->

    <div class="footer">

        <div class="footer-inner">

            &copy; @DateTime.Now.Year - DividaBill.co.uk

            <br />

            <span>Version: @typeof(Dividabill.MvcApplication).Assembly.GetName().Version</span>

        </div>

        <div class="footer-tools">

            <span class="go-top">

                <i class="fa fa-angle-up"></i>

            </span>

        </div>

    </div>
    
    <!-- END FOOTER -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metronic-core")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
    @RenderSection("scripts", required: false)

    <!-- URL: @Request.Url.AbsoluteUri -->
</body>
</html>