﻿@model IEnumerable<Dividabill.Areas.Admin.ViewModels.BillsViewModel>

@{
    ViewBag.Title = "Index";
}





<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button id="billsTable_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Export to Excel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="billsTable">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#billsTable .checkboxes">
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.House.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.House.Housemates)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ElectricBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GasBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WaterBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ServiceCharge)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GrossTotalBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NetTotalBill)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adjustment)
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr class="gradeX @{ if (i % 2 == 0)
                                                         { <text> even </text>       }
                                                         else
                                                         { <text> odd </text>      }} ">
                                <td>
                                    <input type="checkbox" class="checkboxes" value="@item.BillID">
                                </td>
                                <td>
                                    @item.House.Address.ToString()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.House.Housemates)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ElectricBill)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GasBill)
                                </td>
                                <td class="center ">
                                    @Html.DisplayFor(modelItem => item.WaterBill)
                                </td>
                                <td class="center ">
                                    @Html.DisplayFor(modelItem => item.ServiceCharge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GrossTotalBill)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NetTotalBill)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adjustment)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.BillID }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.BillID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.BillID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/admin-billsDetailsTable")
    @Styles.Render("~/Content/adminTables")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>
}