﻿@model DividaBill.ViewModels.SignUpViewModel

@Scripts.RenderFormat(@"<script type=""text/javascript"" src=""{0}"" async></script>", "~/bundles/zxcvbn")

@{
    string[] months = { "MR", "MRS", "MS", "MISS", "MX" };
    var values = new SelectList(months);
}

<div id='signupOne' class="step_2" style="display:none;">
    <hr/>
    <h2 class="big-size align"> User Information </h2><hr />
    <section class='row'>
        <div class="form-group">
            <label class="col-sm-2 control-label text-right">Title:</label>
            <div class="dropdown col-sm-4">
                @Html.DropDownListFor(m => m.RefTitle, values, "Choose", new { @class = "selectpicker col-xs-12", required="required" })
                @Html.ValidationMessageFor(model => model.RefTitle)
            </div>
        </div>
    </section>
    <section class='row'>
        <div class="form-group">
            <label for="firstname" class="col-sm-2 control-label text-right">First Name:</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>
        <div class="form-group">
            <label for="lastname" class="col-sm-2  control-label text-right">Last Name :</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>
    </section>
    <br /> <br />
    <section class='row'>
        <div class="form-group">
            <label for="dateofbirth" class="col-sm-2 control-label text-right">Date of Birth :</label>
            <div class="col-sm-4">
                @Html.DatePickerFor(m => m.DoB, "week-start=1", "autoclose=true", "end-date=-16y", "start-date=-125y")
                @*@Html.JQueryUI().DatepickerFor(m => m.DoB, new { @class = "datepicker form-control cust-para", @readonly = true })*@
                @Html.ValidationMessageFor(model => model.DoB)
            </div>
        </div>
    </section>
    <section class='row'>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label text-right">Email :</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <label for="phone" class="col-sm-2  control-label text-right">Phone :</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control cust-para" })
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>
    </section><br /> <br />
    
    <section class='row'>
        <div class="form-group" style="margin-bottom 0px;">
            <label for="password" class="col-sm-2 control-label text-right">Password:</label>
            <div class="col-sm-4" oninput="checkPassword()">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control cust-para" })

                <div class="progress">
                    <div class="progress-bar" role="progressbar" id="PassMeter" style="width: 0%;">
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>
        <div class="form-group">
            <label for="confirm-pass" class="col-sm-2  control-label text-right">Confirm Password:</label>
            <div class="col-sm-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control cust-para", data_equalTo= "Password", required="required" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>
    </section>
    <br/>
    <section class='row'>
        <aside class='col-sm-8 col-sm-offset-2'>
            <div class="checkbox checkbox-custom checkbox-info checkbox-circle checkbox-inline">
                @Html.CheckBoxFor(m => m.NewsletterSubscription)
                @Html.LabelFor(m => m.NewsletterSubscription, " Tick this box if you WANT to receive newsletters and offers in your area for goods or services that you might be interested in.", new { @class = "par", @for = "NewsletterSubscription" })
            </div>
        </aside>
    </section><br /><br />
    <div class="step_2_btns">
        <section class="row">
            <aside class="col-md-12 align">
                <button class="button next" type="button" id='signup-btn2' style="margin-bottom:0.5em">Save & Continue</button>
            </aside>
        </section>
    </div>
</div> <!-- Signup One end -->