﻿@model DividaBill.ViewModels.SignUpViewModel


@{
    var values = new SelectList(new List<Object>{
        new {value = 1, text= "1"},
        new {value = 2, text= "2"},
        new {value = 3, text= "3"},
        new {value = 4, text= "4"},
        new {value = 5, text= "5"},
        new {value = 6, text= "6"},
        new {value = 7, text= "7"},
        new {value = 8, text= "8"},
        new {value = 9, text= "9"},
        new {value = 10, text= "10"},
        new {value = 11, text= "11"},
        new {value = 12, text= "12"},
        new {value = 13, text= "13"},
        new {value = 14, text= "14"},
        new {value = 15, text= "15"},
    },
    "value",
    "text"
        );

    var period = new SelectList(new List<Object> {
        new { value = 9 , text = "9 Months"  },
        new { value = 10 , text = "10 Months"  },
        new { value = 11 , text = "11 Months"  },
        new { value = 12 , text = "12 Months"  }
    },
    "value",
    "text");
}

<!-- Eror Services Modal -->
<div class="modal fade" id="servicesError" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="errorModal">Oops You Forgot to Choose Something </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <p class="par" id="services-error-msg"></p>
            </div>
            <div class="modal-footer" id="error-btns">

            </div>
        </div>
    </div>
</div>

<!-- Existing House Model -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">House Information</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                Great news! Your house has already been registered with DividaBill, so all you need to do next is click continue.<br /><br />
                If you want to update or change the services later by phoning or emailing us.
            </div>
            <div class="modal-footer">
                <button type="button" id="reggedHouse" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Postcode Error Modal -->
<div class="modal fade" id="postcodeError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">Postcode Information</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                Please enter a valid postcode!
            </div>
            <div class="modal-footer">
                <button type="button" id="reggedHouse" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Service Information Modal -->
<div class="modal fade" id="servicesInformation" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="errorModal">Services Information</h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <p class="par"> You can change your selected services by emailing <a href="mailto:support@dividabill.co.uk?Subject=Service%20change%20request" target="_top">support@dividabill.co.uk</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Telephone More Info-->
<div class="modal fade" id="modalPhoneInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
            </div>
            <div class="modal-body">
                <br />
                <p class="par align">Call rate (outside of your minutes)</p> <hr />
                <ul>
                    <li>£0.09 per minute to landlines</li>
                    <li>£0.12 per minute to mobiles</li>
                    <li>International calls not included</li>
                    <li>All prices are inclusive of VAT</li>
                </ul><hr />
                <p class="par align">New line or line reactivation required?</p> <hr />
                <ul>
                    <li>In the rare case that you need a new phone line put in or need a BT phone line reactivated an additional one off charge of £140.00 will be added to your first bill.</li>
                    <li>Handset not included</li>

                </ul> <hr />
                <p class="par text-center" style="font-size: 18px;">Line rental of £15.99 per month required</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Internet More Info -->
<div class="modal fade" id="modalInternetInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
            </div>
            <div class="modal-body">
                <br />
                <p class="par align">What else do you get?</p> <hr />
                <p class="par">All of our packages include a BT home hub. Landline calls are not available unless you select the landline phone service with DividaBill. The bandwidth is unlimited.</p><hr />
                <p class="par align">What happens if a new line or line reactivation is required?</p> <hr />
                <p class="par">In the rare case that you need a new phone line put in or need a BT phone line reactivated an additional one off charge of £132.00 will be added to your first bill. We will always inform you before we charge you and you reserve the right to cancel. </p><hr />
                <p class="par align">What happens if it stops working?</p> <hr />
                <p class="par">With business grade support, we’ll be able to provide a super fast response and an engineer to fix the problem the next working day. You won’t be left stranded without internet again.</p> <hr />
                <p class="par align">What speeds will I get?</p> <hr />
                <p class="par">The speeds referred to are download speeds; speeds are affected by various factors including distance from the cabinet, time of day and internal home wiring. If your line won’t support our top speed, we’ll offer the next best speed available. We’ll always offer the best available speed on your line. </p> <hr />
                <p class="par align">What contracts are available?</p><hr />
                <p class="par">Our standard contracts are twelve months; however we also offer shorter contracts with a minimum of nine months.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Electricity More Info -->
<div class="modal fade" id="modalElInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
            </div>
            <div class="modal-body">
                <br />
                <p class="par"> The Tariff Comparison Rate (TCR) was introduced by Ofgem to help consumers easily compare tariff rates between suppliers. </p> <br />
                <p class="par">Switching your supplier will never mean you are without electricity – this is an industry standard. </p><br />
                <p class="par">Your tariff is made up of a standing charge and a unit rate per kilowatt-hour (kWh). </p><br />
                <p class="par">The standing charge is a fixed daily charge for each utility and the unit rate is multiplied by your usage in kWh. Prices may increase or decrease in line with energy price changes. </p><br />
                <p class="par">The guideline consumption figures for your estimated quotes are based on the OFGEM medium average 13,500 kWh of gas and 3,200 kWh of electricity per year. </p><br />
                <p class="par">If you are on a non twelve month tariff then estimated usage may vary.</p> <br />
                <p class="par">We will give you 30 days advanced notice in writing before we increase your prices.</p><br />
                <p class="par">Unfortunately at this time we cannot service Prepayment or Smart meter properties for Electricity. However it may be possible to switch your meter for one that we can provide, for more details please contact support@dividabill.co.uk  </p> <br />
                <p class="par">
                    If you have a pre payment meter we are unable to change it for you at the moment unfortunately. We are working on it and hope to have the ability to do this soon. You can still sign up for all our other services and join our electricity and gas at a later time.
                    You can call up your current supplier who may be able to change it for you, or change to a supplier that is able to change it. You then join us once you have a meter or smart meter fitted by them
                </p> <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Gas More Info -->
<div class="modal fade" id="modalGasInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
            </div>
            <div class="modal-body">
                <br />
                <p class="par"> The Tariff Comparison Rate (TCR) was introduced by Ofgem to help consumers easily compare tariff rates between suppliers. </p> <br />
                <p class="par">Switching your supplier will never mean you are without electricity – this is an industry standard. </p><br />
                <p class="par">Your tariff is made up of a standing charge and a unit rate per kilowatt-hour (kWh). </p><br />
                <p class="par">The standing charge is a fixed daily charge for each utility and the unit rate is multiplied by your usage in kWh. Prices may increase or decrease in line with energy price changes. </p><br />
                <p class="par">The guideline consumption figures for your estimated quotes are based on the OFGEM medium average 13,500 kWh of gas and 3,200 kWh of electricity per year. </p><br />
                <p class="par">If you are on a non twelve month tariff then estimated usage may vary.</p> <br />
                <p class="par">We will give you 30 days advanced notice in writing before we increase your prices.</p><br />
                <p class="par">Unfortunately at this time we cannot service Prepayment or Smart meter properties for Gas. However it may be possible to switch your meter for one that we can provide, for more details please contact support@dividabill.co.uk  </p> <br />
                <p class="par">
                    If you have a pre payment meter we are unable to change it for you at the moment unfortunately.
                    We are working on it and hope to have the ability to do this soon. You can still sign up for all our other services and join our electricity and gas at a later time.
                    You can call up your current supplier who may be able to change it for you, or change to a supplier that is able to change it.
                    You then join us once you have a meter or smart meter fitted by them
                </p> <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal  Water More Info-->
<div class="modal fade" id="modalWaterInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalDividabill">More Information</h4>
            </div>
            <div class="modal-body">
                <br />
                <p class="par">We don’t charge any additional fees to manage your water bill, so you don’t pay any more than you would pay doing it yourself, just without the hassle for you. </p><br />
                <p class="par">Switching your payment to us will never mean you are without water.</p><br />
                <p class="par"> You have fresh water entering your house and waste water leaving it.</p><br />
                <p class="par">There are two different types of water meters; Metered and Unmetered. Billing for both meter types includes a standing charge, and your usage multiplied by the water unit rate.</p><br />
                <p class="par"> Usage is measured by your exact useage for metered properties, and “the rateable value (RV)” for unmetered properties.</p><br />
                <p class="par">The standing charge shown is a fixed daily amount.</p><br />
                <p class="par">Exact prices depend on your house, usage and can vary from property to property</p><br />
                <p class="par">We work on a twelve month cycle to allow for similar bills each month. Therefore if you chose to leave your contract early then there may be an additional charge or we will rebate to balance your account.</p><br />
                <p class="par"> Please see your local water provider website, visit Ofwat or Consumer Council for water websites for more information about your water supply.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id='signupZero' class="step_1 active_step">
    <h2 class="big-size align"> House Information </h2><hr />
    <div class="col-sm-12">
        @Html.LabelFor(m => m.PostCode, new { @class = "col-sm-2 control-label text-right" })
        <div class="col-sm-4">
            <div class="form-group" style="margin-bottom:0px">
                <div class="input-group s_postcode">
                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control cust-para", placeholder = "Postcode", @style = "text-transform:uppercase;    border-right-color: #29abe2;" })
                    <span class="input-group-addon quick-find"><i class="fa fa-search" id="quick-find"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.PostCode)
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2" style="display: none;">
            <div class="form-group">
                <select id="building" class="selectpicker form-control cust-para " onchange="Javascript: selectBuilding($('#building').val());">*</select>
            </div>
        </div>
    </div>

    <div id="filled-signup-info" class="hidden">
        <div class="col-sm-12">
            <div class="row">
                <div class="form-group" style="margin-bottom:0px;">
                    @Html.LabelFor(m => m.AddressTT1, new { @class = "col-sm-2 control-label text-right" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.AddressTT1, new { @class = "form-control cust-para" })
                        @Html.ValidationMessageFor(model => model.AddressTT1)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.CityTT, new { @class = "col-sm-2 control-label text-right" })
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CityTT, new { @class = "form-control cust-para" })
                        @Html.ValidationMessageFor(model => model.CityTT)
                    </div>
                </div>
            </div>
            <div class="form-group" style="    margin-bottom: 0px;">
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.TextBoxFor(m => m.AddressTT2, new { @class = "form-control cust-para" })
                    @Html.ValidationMessageFor(model => model.AddressTT2)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CountyTT, new { @class = "col-sm-2 control-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.CountyTT, new { @class = "form-control cust-para" })
                    @Html.ValidationMessageFor(model => model.CountyTT)
                    @Html.TextBoxFor(m => m.Udprn, new { @class = "form-control cust-para hidden" })
                </div>
            </div>
        </div>

        <aside class="col-sm-12">
            <hr />
            <div class="form-group" style="margin-bottom:0px">
                @Html.LabelFor(m => m.StartTime, new { @class = "col-sm-2 control-label text-right" })
                <div class="col-sm-4">
                    @Html.DatePickerFor(m => m.StartTime, "required=required","start-date=+15d", "week-start=1", "autoclose=true", "calendar-weeks=true")
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Period, new { @class = "col-sm-2  control-label text-right" })
                <div class="col-sm-2 col-xs-12">
                    @Html.DropDownListFor(m => m.Period, period, "Choose", new { @class = "col-sm-12 col-xs-12 selectpicker ischecked", required="required" })
                </div>
            </div>
            <div class="checkbox checkbox-success checkbox-inline col-sm-2 col-xs-offset-1 col-sm-offset-0">
                @Html.CheckBoxFor(m => m.Ongoing, new { @style = "margin-top: 0.3em;", @class = "ischecked" })
                @Html.LabelFor(m => m.Ongoing, new { @class = "par", @style = "margin-top: 0.3em;" })
            </div>
            <div class="col-sm-12">
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.ValidationMessageFor(model => model.StartTime)
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    @Html.ValidationMessageFor(m => m.Period)
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    @Html.LabelFor(m => m.Housemates, new { @class = "col-sm-2 control-label text-right", required="required"})
                    <div class="col-sm-4">
                        @Html.DropDownListFor(m => m.Housemates, values, "Choose", new { @class = "selectpicker form-control cust-para col-sm-6 ischecked" })
                        @Html.ValidationMessageFor(m => m.Housemates)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Coupon, new { @class = "col-sm-2 control-label text-right" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Coupon, new { @placeholder = "Enter Your Discount Code", @id = "Coupon", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Coupon)
                </div>
            </div>
        </aside>
        <aside class="col-sm-6"></aside>
        <aside class="col-sm-6">

            <div class="row">

            </div>
        </aside>
    </div>
    <hr /><br /> <br />
    <div id="signup-services" class="hidden">
        <section class='row'>
            <section class='col-md-12'> <br/><br/>
                <h2 class="big-size align">Please choose your services</h2>
            </section>
        </section>
        <br /><br />
        <section class='row'>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="quote-checker">
                    <p class="third-single-title par">Electricity</p>
                    <div class="third-single-img electricity" id="electricity"><i class="fa fa-bolt"></i></div>
                    <i class="fa fa-circle-o quote-check" id='el-quote' style='color:#E74B3C;display:block'></i>
                    @Html.CheckBoxFor(m => m.Electricity, new { @class = "hidden checkbox" })
                    <p id='fee-electricity' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person, <br /> based on <br /> today's prices)</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="">
                    <p class="third-single-title par">Gas</p>
                    <div class="third-single-img gas" id='gas'><i class="fa fa-fire"></i></div>
                    <i class="fa fa-circle-o quote-check" id="gas-quote" style='color:#F29B11;display:block'></i>
                    @Html.CheckBoxFor(m => m.Gas, new { @class = "hidden checkbox" })
                    <p id='fee-gas' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person, <br /> based on <br /> today's prices)</p>
                    <p class="fee-per-week gas-notshow-msg text-center" style="display:none;"> Sorry, you can't choose gas service without electricity</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="quote-checker">
                    <p class="third-single-title par">Water</p>
                    <div class="third-single-img water" id="water"><i class="fa fa-tint"></i></div>
                    <i class="fa fa-circle-o quote-check" id="water-quote" style='color:#3596DA;display:block'></i>
                    @Html.CheckBoxFor(m => m.Water, new { @class = "hidden checkbox" })
                    <p id='fee-water' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person)</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="quote-checker">
                    <p class="third-single-title par">Internet</p>
                    <div class="third-single-img internet services" id="internet"><i class="fa fa-wifi"></i></div>
                    <i class="fa fa-circle-o quote-check  with-checkbox" id="internet-quote" style='color:#19937B;display:block'></i>
                    @Html.CheckBoxFor(m => m.Broadband, new { @class = "hidden checkbox" })
                    <p id='fee-internet' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person)</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="quote-checker">
                    <p class="third-single-title par" style="margin:-1px; margin-bottom:1px">TV Services</p>
                    <div class="third-single-img television services" id="television"><i class="fa fa-desktop"></i></div>
                    <i class="fa fa-circle-o quote-check with-checkbox" id="tv-quote" style='color:#7863E0;display:block'></i>
                    @Html.CheckBoxFor(m => m.TV, new { @class = "hidden checkbox" })
                    <p id='fee-tv' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person)</p>
                </div>
            </div>
            <div class="col-md-2 col-xs-4 quote-cont">
                <div class="quote-checker">
                    <p class="third-single-title par">Telephone</p>
                    <div class="third-single-img telephone services" id="telephone"><i class="fa fa-phone"></i></div>
                    <i class="fa fa-circle-o quote-check with-checkbox" id="tel-quote" style='color:#19937B;display:block'></i>
                    @Html.CheckBoxFor(m => m.LandlinePhone, new { @class = "hidden" })
                    <p id='fee-phone' class="fee-per-week" style="display:none;">£<span class="value">0.00</span><br />(per week/person)</p>
                </div>
            </div>
        </section>
    </div>
    <div id="more-services-info">
        <aside class='row boxes' id='choose-internet' style="display:none;">
            <section class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box'>
                <p class='par '>Please Choose Your Internet Package</p> <br />
                <div class="col-sm-6">
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.BroadbandType, DividaBill.Models.BroadbandType.ADSL20, new { @id = "BroadbandTypeADSL20" })
                        @Html.LabelFor(m => m.BroadbandType, "Standard broadband", new { @for = "BroadbandTypeADSL20" })
                    </div><br />
                    <ul>
                        <li>ADSL Broadband</li>
                        <li>Unlimited broadband</li>
                        <li>Up to 17Mb/s download speed</li>
                        <li>1.5 Mb/s upload speed</li>
                        <li>No delivery or set up costs. Installation costs may apply</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="radio radio-success">
                        @Html.RadioButtonFor(m => m.BroadbandType, DividaBill.Models.BroadbandType.Fibre40, new { @id = "BroadbandTypeFibre40" })
                        @Html.LabelFor(m => m.BroadbandType, "Super Fast broadband", new { @for = "BroadbandTypeFibre40" })
                    </div> <br />
                    <ul>
                        <li> Fibre Optic Broadband</li>
                        <li> Unlimited broadband</li>
                        <li>Up to 76 Mb/s download speed</li>
                        <li>20 Mb/s upload speed</li>
                        <li>No delivery or set up costs. Installation costs may apply</li>
                    </ul>
                </div> <br />
                <button type="button" class="btn small-button btn-default" data-toggle="modal" data-target="#modalInternetInfo"> More Information</button>
                <p class="bank-header">Inc. line rental in price <br /> +£15.99 line rental per month included in quote<br /> No upfront or standard installation costs </p>

            </section>
        </aside>
        <aside class="row boxes" id="choose-television" style="display:none;">
            <section class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box">
                <aside class="row">
                    <p class="par">Please Choose Your TV Services</p> <br />
                    <aside class="col-md-6">
                        <span class="img-circle rounded rounded-icons4" style="border-color:blue;background-color:white;"><img style="opacity:1" src="~/Content/Images/v4/sky.png" alt="" width="18px"> </span>
                        <span class="btn-text">Sky</span> <br /> <br />
                        <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                            @Html.CheckBoxFor(m => m.SkyTV, new { @id = "SkyTV", @class = "chck" })
                            @Html.LabelFor(m => m.SkyTV, "Entertainment Package", new { @class = "tv-box-text", @for = "SkyTV" })
                        </div><br />
                        <ul>
                            <li> Sky Sports </li>
                            <li>Sky Movies </li>
                            <li> Complete Sky family package </li>
                            <li> Sky+HD</li>
                            <li>Installation only available in England</li>
                        </ul>
                    </aside>
                    <aside class="col-md-6">
                        <div class="img-circle rounded rounded-icons2" style="border-color:#7863e0;background-color:white"><i class="fa fa-desktop" style="color:#7863E0;opacity:1"></i></div>
                        <span class="btn-text">TV License</span> <br /><br />
                        <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                            @Html.CheckBoxFor(m => m.TVLicense, new { @class = "nope chck", @id = "TVLicense" })
                            @Html.LabelFor(m => m.TVLicense, "License covers each residency", new { @class = "tv-box-text", @for = "TVLicense" })
                        </div><br />
                        <ul>
                            <li>Get a license to watch live TV legally </li>
                            <li>Covers you to watch live TV on all devices</li>
                        </ul>
                    </aside>
                </aside>
            </section>
        </aside>
        <aside class='row boxes' id='choose-telephone' style="display:none;">
            <section class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box'>
                <p class='par '>Please Choose Your Landline Phone Package</p> <br />
                <div class="col-sm-6">
                    <div class="radio">
                        @Html.RadioButtonFor(m => m.LandlinePhoneType, DividaBill.Models.LandlineType.Basic, new { @id = "LandlineTypeBasic" })
                        @Html.LabelFor(m => m.LandlinePhoneType, "Basic package", new { @for = "LandlineTypeBasic" })
                    </div>
                    <ul>
                        <li> Get 750 mobile minutes   </li>
                        <li> Get 3000 landline minutes</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <div class="radio radio-success">
                        @Html.RadioButtonFor(m => m.LandlinePhoneType, DividaBill.Models.LandlineType.Medium, new { @id = "LandlineTypeMedium" })
                        @Html.LabelFor(m => m.LandlinePhoneType, "Medium package", new { @for = "LandlineTypeMedium" })
                    </div>
                    <ul>
                        <li> Get 1500 mobile minutes   </li>
                        <li> Get 6000 landline minutes</li>
                    </ul>
                </div><br />
                <button type="button" class="btn small-button btn-default" data-toggle="modal" data-target="#modalPhoneInfo">
                    More Information
                </button>
                <p class="bank-header"><i>International calls not included <br /> 0870 and 0845 numbers included </i></p>

            </section>
        </aside>
        <aside class='row boxes' id='choose-electricity' style='display:none'>
            <section class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box'>
                <p class='par '>Your Electricity bill </p> <br />
                <!--<ul>
                    <li style="list-style: none; font-size:15px;">Variable Tariff</li>
                    <li id="tariff-elec-unit">Unit Rate: <span class="value"></span></li>
                    <li id="tariff-elec-charge">Standing Charge: <span class="value"></span></li>
                    <li>Tariff Comparison Rate (TCR)</li>
                </ul>-->
                <br /> <button type="button" class="btn small-button btn-default" data-toggle="modal" data-target="#modalElInfo"> More Information</button>
                <p class="bank-header">The above quote is an estimate using Ofgem average figures over a twelve-month cycle. Seasonal variations can affect usage for different length service agreements.</p>

            </section>
        </aside>
        <aside class='row boxes' id='choose-gas' style='display:none'>
            <section class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box'>
                <p class='par '>Your Gas bill </p><br />
                <ul>
                    <!--<li style="list-style: none; font-size:15px;">Variable Tariff</li>
                    <li id="tariff-gas-unit">Unit Rate: <span class="value"></span></li>
                    <li id="tariff-gas-charge">Standing Charge: <span class="value"></span></li>
                    <li>Tariff Comparison Rate (TCR)</li>-->
                    <li style="list-style: none; font-size:15px;">Setup time - In some cases can take 4-6 weeks to switch over</li>
                </ul>
                <br /> <button type="button" class="btn small-button btn-default" data-toggle="modal" data-target="#modalGasInfo"> More Information</button>
                <p class="bank-header">The above quote is an estimate using Ofgem average figures over a twelve-month cycle. Seasonal variations can affect usage for different length service agreements.</p>

            </section>
        </aside>
        <aside class='row boxes' id='choose-water' style='display:none'>
            <section class='col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 info-box'>
                <p class='par '>Your water bill explained</p><br />
                <ul>
                    <li>We only charge you the same as your water supplier</li>
                    <li>No additional management fees</li>
                    <li>Our prices are an estimate for a typical unmetered property</li>
                </ul> <br />
                <button type="button" class="btn small-button btn-default" data-toggle="modal" data-target="#modalWaterInfo"> More Information</button>
                <p class="bank-header">Your usage is calculated over a twelve month cycle. Seasonal variations can affect usage for different length service agreements.</p>

            </section>
        </aside>
    </div>


    <div id="prices" class="hidden">
        <br />
        <hr />
        <div class="your-quote col-sm-10 col-sm-offset-1">
            <aside class="row">
                <h2 class="big-size text-center"> Your estimated quote</h2>
            </aside> <br />
            <aside class='row'>
                <section class='col-md-9 col-md-offset-2 col-sm-12'>
                    <div class="form-group">
                        <label for="housing-cost" class="col-md-5 col-sm-6 control-label">Weekly Estimated Housing Bill:</label>
                        <div class="col-md-4 col-sm-5">
                            <input type="text" disabled="disabled" class="form-control" id="housing-cost" value="£0.0">
                        </div>
                    </div>
                </section>
            </aside>
            <aside class='row'>
                <section class='col-md-9 col-md-offset-2 col-sm-12'>
                    <div class="form-group">
                        <label for="cost-per-person" class="col-md-5 col-sm-6 control-label">Weekly Estimated Bill per Person:</label>
                        <div class="col-md-4 col-sm-5">
                            <input type="text" readonly="readonly" class="form-control" id="person-cost" value="£0.0">
                        </div>
                    </div>
                </section>
            </aside>
        </div>
        <section class="row">
            <aside class="col-sm-12 text-center">
                <button type="button" class="button next" id='signup-btn1'>Save & Continue</button>
            </aside>
        </section>
    </div> <br/>
</div> <!-- End of signup Zero -->
