﻿@model DividaBill.Models.HouseModel
@{
    ViewBag.Title = "Details";
    var address = @Model.Address.ToString();
}
<style>
    .former-tenant{
        background-color: #0b6694 !important;
        color: #000000 !important;
    } 
</style>

<div class="row profile">
    <div class="col-md-12">
        <!--BEGIN TABS-->
        <div class="tabbable tabbable-custom tabbable-full-width">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab_overview" data-toggle="tab">Overview</a></li>
                <li><a href="#tab_tenants" data-toggle="tab" id="tenants-tab">Tenants</a></li>
                <li><a href="#tab_contracts" data-toggle="tab" id="contracts-tab">Contracts</a></li>
                <li><a href="#tab_bills" data-toggle="tab">Bills</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_overview">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="list-unstyled profile-nav">
                                <li><img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=@{@address}" class="img-responsive" alt="" /></li>
                                <li>@Html.ActionLink("Add Bill", "Create", "Bills", new { houseId = Model.ID }, null)</li>
                                <li><a href="#">Messages<span></span></a></li>
                                <li>@Html.ActionLink("Export to Excel", "Export", "Tenants", new { id = "Excel", includeHouse = true, houseID = Model.ID }, null)</li>
                                <li>@Html.ActionLink("Generate BG Form", "GenerateBGForm", new { id = Model.ID })</li>
                                <li>
                                    @Ajax.ActionLink("Add Tenants to GoCardless", "AddToGoCardless", new { id = Model.ID }, new AjaxOptions
                               {
                                   HttpMethod = "POST",
                                   OnSuccess = "success"
                               }, new { id = "addToGoCardless" })
                                </li>
                                <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-8 profile-info">
                                    <h1>House @Model.ID</h1>
                                    <p>@Model.Note</p>
                                    <ul class="list-inline">
                                        <li><i class="fa fa-map-marker"></i> @address</li>
                                        <li><i class="fa fa-calendar"></i>Registration:  @Model.RegisteredDate.Date.ToString("dd/MM/yyyy")</li>
                                        <li><i class="fa fa-info-circle"></i>Housemates: @ViewBag.HousematesCount</li>
                                    </ul>
                                </div>
                                
                                <div class="col-md-4">
                                    <div class="portlet sale-summary">
                                        <div class="portlet-title">
                                            <div class="caption">Subscriptions</div>
                                        </div>
                                        <div class="portlet-body">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.Electricity)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.Electricity)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.Gas)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.Gas)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.Water)
                                                    </span>
                                                    <span class="sale-num">@Html.DisplayFor(model => model.Water)</span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.Broadband)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.Broadband)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.SkyTV)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.SkyTV)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.NetflixTV)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.NetflixTV)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.TVLicense)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.TVLicense)
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="sale-info">
                                                        @Html.DisplayNameFor(model => model.LandlinePhone)
                                                    </span>
                                                    <span class="sale-num">
                                                        @Html.DisplayFor(model => model.LandlinePhone)
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-md-4-->
                            </div>
                            <!--end row-->
                            <div class="tabbable tabbable-custom tabbable-custom-profile">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1_1" data-toggle="tab">Bills</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1">
                                        <div class="portlet-body">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <i class="fa fa-briefcase"></i> Bill

                                                        </th>
                                                        <th class="hidden-xs">
                                                            <i class="fa fa-calendar"></i> Date

                                                        </th>
                                                        <th>
                                                            <i class="fa fa-money"></i> Amount

                                                        </th>
                                                        <th>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <!--tab-pane-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_tenants">
                    <div class="row">
                        <div class="col-md-3">
                            <ul class="ver-inline-menu tabbable margin-bottom-10">
                                @{var j = 0;}
                                @foreach (DividaBill.ViewModels.TenancyViewModel tenancy in ViewBag.TenanciesViewModel)
                                {
                                    j++;

                                    <li class="">
                                            <a data-toggle="tab" href="#tab_2_@j" class="@(!@tenancy.IsActive ? "former-tenant" : "")">
                                                <i class="fa fa-user"></i> @tenancy.User.FirstName @tenancy.User.LastName
                                            </a>
                                            <span class="after">
                                            </span>
                                    </li>

                                }
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                @{var i = 0;
                                    var active = "active";}
                                @foreach (DividaBill.ViewModels.TenancyViewModel tenancy in @ViewBag.TenanciesViewModel)
                                {
                                    i++;
                                    if (i > 1)
                                    {
                                        active = "";
                                    }
                                    <div id="tab_2_@i" class="tab-pane @active">
                                        <div id="accordion1" class="panel-group">
                                            @Html.Partial("~/Views/Shared/_UserProfile.cshtml", tenancy)
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab_contracts">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="row">
                                <table  id="contracts-table" class="table table-striped table-bordered table-advance table-hover">
                                    <thead>
                                        <tr>
                                            <th><i class="fa fa-briefcase"></i>Contract</th>
                                            <th class="hidden-xs"><i class="fa fa-calendar"></i>Usage Date</th>
                                            <th><i class="fa fa-calendar"></i>Period</th>
                                            <th><i class="fa fa-briefcase"></i>Type</th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (DividaBill.Models.Contract contract in @Model.Contracts)
                                        {
                                            <tr @if (contract.StartDate.HasValue) { <text> class="active" </text>   }>
                                                <td>
                                                    @Html.ActionLink("Contract " + contract.ID, "Details", "Contracts", new { id = contract.ID }, null)
                                                </td>
                                                <td class="hidden-xs">
                                                    @{ @((contract.StartDate ?? contract.RequestedStartDate).Date.ToShortDateString()); } - @contract.EndDate.Date.ToShortDateString()
                                                </td>
                                                <td>@contract.Length</td>
                                                <td>@contract.ServiceNew.Name</td>
                                                <td>
                                                    @Html.ActionLink("Get", "Get", "Contracts", new { id = contract.ID }, new { @class = "btn default btn-xs green-stripe", @id = "edit-contract-" + contract.ID })

                                                    <script>
                                                        $(document).on("click", "#edit-contract-@contract.ID", function(e) {
                                                            e.preventDefault();

                                                            @using DividaBill.Models.Bills
                                                            @using System.Text.RegularExpressions;

                                                            populateEditContractBox(@Model.ID, @contract.ID);

                                                            var form = '@Html.Raw(Regex.Replace(Html.Action("ContractEdit", "Contracts", new {id = contract.ID})
                                                                            .ToHtmlString(), @"\r\n?|\n", string.Empty))';
                                                            var dialog = bootbox.dialog({
                                                                title: "Get Contract @contract.ID",
                                                                message: form,
                                                                className: "editContract",
                                                                backdrop: true,
                                                                onEscape: true,
                                                                show: false,
                                                                closeButton: true,
                                                                buttons: {
                                                                    success: {
                                                                        label: "Save",
                                                                        className: "btn-success",
                                                                        callback: function(result) {
                                                                            if($('#form-contract-@contract.ID').valid())
                                                                            {
                                                                                $('#form-contract-@contract.ID').submit();
                                                                            }
                                                                            else {
                                                                                return false;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            });
                                                            $('#form-contract-@contract.ID').submit(function() {
                                                                // submit the form
                                                                $(this).ajaxSubmit({
                                                                    type: 'PUT',
                                                                    headers: { "X-HTTP-Method-Override": "PUT" },
                                                                    dataType: "json",
                                                                    contentType: "application/json",
                                                                    success: function(data, textStatus, jqXHR) {
                                                                        toastr.options = {
                                                                            "closeButton": true,
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-right",
                                                                            "onclick": null,
                                                                            "showDuration": "1000",
                                                                            "hideDuration": "1000",
                                                                            "timeOut": "5000",
                                                                            "extendedTimeOut": "1000",
                                                                            "showEasing": "swing",
                                                                            "hideEasing": "linear",
                                                                            "showMethod": "fadeIn",
                                                                            "hideMethod": "fadeOut"
                                                                        }

                                                                        toastr['success']("Contract updated successfully.", "Success");
                                                                        populateContractsTable(@Model.ID);

                                                                    },
                                                                    error: function(jqXHR, textStatus, errorThrown) {
                                                                        toastr.options = {
                                                                            "closeButton": true,
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-right",
                                                                            "onclick": null,
                                                                            "showDuration": "1000",
                                                                            "hideDuration": "1000",
                                                                            "timeOut": "5000",
                                                                            "extendedTimeOut": "1000",
                                                                            "showEasing": "swing",
                                                                            "hideEasing": "linear",
                                                                            "showMethod": "fadeIn",
                                                                            "hideMethod": "fadeOut"
                                                                        }

                                                                        toastr['error']("Update Failed.", "Error");

                                                                    }
                                                                });
                                                                // return false to prevent normal browser submit and page navigation
                                                                return false;
                                                            });

                                                            dialog.on("shown.bs.modal", function(event) {
                                                                $('#form-contract-@contract.ID').ajaxForm();
                                                                if (jQuery().select2) {
                                                                    $('.select2me').select2({
                                                                        placeholder: "Select",
                                                                        allowClear: true
                                                                    });
                                                                }

                                                                $('.datepicker').datepicker({
                                                                    format: "dd/mm/yyyy",
                                                                    weekStart: 1,
                                                                    calendarWeeks: false,
                                                                    autoclose: true,
                                                                    todayBtn: true,
                                                                });

                                                            });

                                                            dialog.modal('show');
                                                        });
                                                    </script>

                                                    @Html.ActionLink( "Remove", "Remove", "Contracts", new { id = contract.ID }, new { @class = "btn default btn-xs red-stripe", @id = "remove-contract-" + contract.ID })

                                                    <script>
                                                        $(document).on("click", "#remove-contract-@contract.ID", function (e) {
                                                            e.preventDefault();

                                                            @using System.Text.RegularExpressions;

                                                            populateEditContractBox(@Model.ID, @contract.ID);

                                                            var form = '@Html.Raw(Regex.Replace(Html.Action("ContractRemove", "Contracts", new { id = contract.ID })
                                                                       .ToHtmlString(), @"\r\n?|\n", string.Empty))';
                                                            var dialog = bootbox.dialog({
                                                                title: "Remove Contract @contract.ID",
                                                                message: form,
                                                                className: "removeContract",
                                                                backdrop: true,
                                                                onEscape: true,
                                                                show: false,
                                                                closeButton: true,
                                                                buttons: {
                                                                    success: {
                                                                        label: "Remove",
                                                                        className: "btn-success",
                                                                        callback: function (result) {
                                                                            if($('#form-contract-@contract.ID').valid())
                                                                            {
                                                                                $('#form-contract-@contract.ID').submit();
                                                                            }
                                                                            else {
                                                                                return false;
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            });
                                                            $('#form-contract-@contract.ID').submit(function () {
                                                                // submit the form
                                                                $(this).ajaxSubmit({
                                                                    type: 'DELETE',
                                                                    headers: { "X-HTTP-Method-Override": "PUT" },
                                                                    dataType: "json",
                                                                    contentType: "application/json",
                                                                    success: function (data, textStatus, jqXHR) {
                                                                        toastr.options = {
                                                                            "closeButton": true,
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-right",
                                                                            "onclick": null,
                                                                            "showDuration": "1000",
                                                                            "hideDuration": "1000",
                                                                            "timeOut": "5000",
                                                                            "extendedTimeOut": "1000",
                                                                            "showEasing": "swing",
                                                                            "hideEasing": "linear",
                                                                            "showMethod": "fadeIn",
                                                                            "hideMethod": "fadeOut"
                                                                        }

                                                                        toastr['success']("Contract removed successfully.", "Success");
                                                                        populateContractsTable(@Model.ID);

                                                                    },
                                                                    error: function (jqXHR, textStatus, errorThrown) {
                                                                        toastr.options = {
                                                                            "closeButton": true,
                                                                            "debug": false,
                                                                            "positionClass": "toast-top-right",
                                                                            "onclick": null,
                                                                            "showDuration": "1000",
                                                                            "hideDuration": "1000",
                                                                            "timeOut": "5000",
                                                                            "extendedTimeOut": "1000",
                                                                            "showEasing": "swing",
                                                                            "hideEasing": "linear",
                                                                            "showMethod": "fadeIn",
                                                                            "hideMethod": "fadeOut"
                                                                        }

                                                                        toastr['error']("Remove Failed.", "Error");
                                                                    }
                                                                });
                                                                // return false to prevent normal browser submit and page navigation
                                                                return false;
                                                            });

                                                            dialog.on("shown.bs.modal", function (event) {
                                                                $('#form-contract-@contract.ID').ajaxForm();
                                                                if (jQuery().select2) {
                                                                    $('.select2me').select2({
                                                                        placeholder: "Select",
                                                                        allowClear: true
                                                                    });
                                                                }

                                                               $('.datepicker').datepicker({
                                                                    format: "dd/mm/yyyy",
                                                                    weekStart: 1,
                                                                    calendarWeeks: false,
                                                                    autoclose: true,
                                                                    todayBtn: true,
                                                                });

                                                            });

                                                            dialog.modal('show');
                                                        });
                                                    </script>
                                                </td>
                                            </tr>
                                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end tab-pane-->
            </div>
        </div>
        <!--END TABS-->
    </div>
</div>
<!-- END PAGE CONTENT-->
@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editHouse")
    @Styles.Render("~/Content/metronic-profile")

    <script>
        $(document).ready(function () {
            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);

                if (isChrome || isSafari) {
                    var d = new Date();
                    var secondValue = moment(value, "DD/MM/YYYY").toDate();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(secondValue.toLocaleDateString()));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            };
        });
    </script>
    <script>
        $(document).on("click", "#add-contract", function(e) {
            e.preventDefault();


            var form = '@Html.Raw(Regex.Replace(Html.Action("ContractAdd", "Contracts", new {houseId = Model.ID})
                            .ToHtmlString(), @"\r\n?|\n", string.Empty))';

            var dialog = bootbox.dialog({
                title: "Add Contract",
                message: form,
                backdrop: true,
                onEscape: true,
                show: false,
                closeButton: true,
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function(result) {
                            if ($('#form-contract-add').valid()) {
                                $('#form-contract-add').submit();
                            }
                            else{
                                return false;
                            }
                        }
                    } 
                }
            });
            $('#form-contract-add').submit(function() {
                // submit the form
                $(this).ajaxSubmit({
                    type: 'POST',
                    dataType: null,
                    contentType: "application/json",
                    success: function(data, textStatus, jqXHR) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-right",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                        toastr['success']("Contract added successfully.", "Success");
                        location.reload();
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-right",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                        var message = "Adding of new Contract failed.";
                        if (jqXHR.status == 400) {
                            message += "<br/>"+jqXHR.responseJSON.Message;
                        }
                        toastr['error'](message, "Error");
                    }
                });
                // return false to prevent normal browser submit and page navigation
                return false;
            });

            dialog.on("shown.bs.modal", function(event) {
                $('#form-contract-new').ajaxForm();
                if (jQuery().select2) {
                    $('.select2me').select2({
                        placeholder: "Select",
                        allowClear: true
                    });
                }

                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    weekStart: 1,
                    calendarWeeks: false,
                    autoclose: true,
                    todayBtn: true,
                    startDate: "01-01-2013"
                });

            });

            dialog.modal('show');

        });

    </script>

    <script>
        $(document).on("click", "#add-tenant", function (e) {
            e.preventDefault();

            var formTenant = '@Html.Raw(Regex.Replace(Html.Action("TenantAdd", "Tenants", new {houseId = Model.ID})
                                                                           .ToHtmlString(), @"\r\n?|\n", string.Empty))';


            var message = "Creation of new tenant failed.";
            var dialog = bootbox.dialog({
                title: "Add Tenant",
                message: formTenant,
                backdrop: true,
                onEscape: true,
                show: false,
                closeButton: true,
                buttons: {
                    success: {
                        label: "Save",
                        className: "btn-success",
                        callback: function (result) {

                            if($('#form-tenant-add').valid())
                            {
                               $('#form-tenant-add').submit().submit();
                            }                           
                            else {
                                return false;
                            }
                        }
                    }
                }
            });
            $('#form-tenant-add').submit(function () {
                // submit the form
                $(this).ajaxSubmit({
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json",
                    success: function (data, textStatus, jqXHR) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-right",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                        toastr['success']("Tenant added successfully.", "Success");
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "positionClass": "toast-top-right",
                            "onclick": null,
                            "showDuration": "1000",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }

                        var message = "Creation of new tenant failed.";
                        message += "<br/>" + jqXHR.responseJSON.Message.toString();

                        toastr['error'](message, "Error");
                    }
                });
                // return false to prevent normal browser submit and page navigation
                return false;
            });

            dialog.on("shown.bs.modal", function (event) {
                $('#form-tenant-new').ajaxForm();
                if (jQuery().select2) {
                    $('.select2me').select2({
                        placeholder: "Select",
                        allowClear: true
                    });
                }

                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    weekStart: 1,
                    calendarWeeks: false,
                    autoclose: true,
                    todayBtn: true,
                    startDate: "01-01-2013"
                });

            });

            dialog.modal('show');

            $("#AccountSortCode").inputmask("99-99-99");
            $("#AccountNumber").inputmask("99999999");
            $('#Phone').inputmask('(+44) 99999-9999[9]');
            $('#DoB').datepicker("setDate", "0");
        });

    </script>

<script type="text/javascript">
    var isAJAX = false, gotData = false;
    function populateContractsTable(houseID){
        var data;
        var startDate, endDate;
        $.getJSON('/api/contracts/GetByHouseId/' + houseID).done(
        function (contracts) {
            if (contracts.length == 0)
                alert("Sorry, there were no results");
            else {
                $("#contracts-table > tbody").empty();
                $.each(contracts, function (key, contract) {
                    data = "<tr class='success'><td><a href='/Contracts/Details/"+contract.ID+"'>Contract "+contract.ID+"</a></td><td class='hidden-xs'>"+convertDate(contract.StartDate)+" - "+convertDate(contract.EndDate)+"</td><td>"+contract.LengthName+"</td><td>"+contract.ServiceName+"</td><td><a class='btn btn-xs green-stripe' href='/Contracts/Get/"+contract.ID+"' id='edit-contract-"+contract.ID+"'>Get</a><a class='btn btn-xs red-stripe' href='/Contracts/Delete/"+contract.ID+"' id='remove-contract-"+contract.ID+"'>Delete</a></td></tr>";
                    $('#contracts-table > tbody').append(data);
                });
                isAJAX = true;
                gotData = false;
            }
        });
    }

    function populateEditContractBox(houseID, contractID){
        var startDate, endDate;
        if(isAJAX == true && gotData == false)
        {
            console.log("Is making JSON request");
            $.getJSON('/api/contracts/GetByHouseId/' + houseID).done(
               function (contracts) {
                   if (contracts.length == 0)
                       alert("Sorry, there were no results");
                   else {
                       $.each(contracts, function (key, contract) {
                           if(contract.ID == contractID)  {
                               document.getElementById("RequestedStartDate").value = convertDate(contract.RequestedStartDate);
                               document.getElementById("StartDate").value = convertDate(contract.StartDate);
                               document.getElementById("EndDate").value = convertDate(contract.EndDate);
                               $("#House_ID").val(contract.House_ID).change();
                               $("#Length").val(contract.Length).change();
                               document.getElementById("SubmissionStatus").value = contract.SubmissionStatusName;
                               $("#PackageRaw").val(contract.PackageRaw).change();
                               $("#Provider_ID").val(contract.Provider_ID).change();
                               $("#RequestedTenantId").val(contract.RequestedTenantId).change();

                               gotData = true;
                           }
                       });
                   }
               });
        }
}

function convertDate(date){
    var checkDate, isoDate;
    if (date == null){
        checkDate = " ";
    }
    else {
        isoDate = new Date(date);
        checkDate = isoDate.toLocaleDateString();
    }

    return checkDate;
}
</script>

<script type="text/javascript">
    var form = $("form");
    var validator = form.data('validator');

    jQuery.validator.methods.date = function (value, element) {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);

        if (isChrome || isSafari) {
            var d = new Date();
            var secondValue = moment(value, "DD/MM/YYYY").toDate();
            return this.optional(element) || !/Invalid|NaN/.test(new Date(secondValue));
        } else {
            return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
        }
    };


    //jQuery Validator to Bootstrap class binder.
    jQuery.validator.setDefaults({
        highlight: function (element, errorClass, validClass) {
            if (element.type === 'radio') {
                this.findByName(element.name).addClass(errorClass).removeClass(validClass);
            } else {
                $(element).addClass(errorClass).removeClass(validClass);
                $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
            }
        },
        unhighlight: function (element, errorClass, validClass) {
            if (element.type === 'radio') {
                this.findByName(element.name).removeClass(errorClass).addClass(validClass);
            } else {
                $(element).removeClass(errorClass).addClass(validClass);
                $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
            }
        },
        errorPlacement: function(error, element) {
            if (element.attr("id") == "EndDate") 
            {
                $(element).closest(".form-group").append(error);
            } 
            else
                error.insertAfter(element);
        }
    });


    $(function () {
        $("span.field-validation-valid, span.field-validation-error").addClass('help-block');
        $("div.form-group").has("span.field-validation-error").addClass('has-error');
        $("div.validation-summary-errors").has("li:visible").addClass("alert alert-block alert-danger");
    });

    $.validator.messages.required = function (param, input) {
        var name = input.name.replace( /([a-z])([A-Z])/g, "$1 $2");
        return 'The ' + name + ' field is required';
    }
</script>
}

@section ActionsMenu {
    <li>
        <a href="javascript: return 0;" id="add-contract">Add Contract</a>
    </li>
    <li class="divider">
    </li>
    <li>
        <a href="javascript: return 0;" id="add-tenant">Add Tenant</a>
    </li>
}
