﻿html,
body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden;
    overflow-y: scroll;*/
    -webkit-overflow-scrolling: touch;
    padding: 0px !important;
    margin: 0px !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

.navbar-default {
    background-color: white;
    border: 0px;
}

    .navbar-default .navbar-nav > li > a:hover {
        color: #29AAE1;
        border: 1px solid #29AAE1;
        border-radius: 20px;
        background-color: white;
        margin-top: 4px;
        padding: 7px 14px;
    }

@font-face {
    font-family: 'HelveticaNeueLTStd UltLt';
    src: url("/Content/Fonts/HelveticaNeueLTStd-UltLt.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-UltLt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaCE Cond';
    src: url("/Content/Fonts/HelveticaCE-Cond.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaCE-Cond.woff') format('woff'), url('/Content/Fonts/HelveticaCE-Cond.ttf') format('truetype'), url('/Content/Fonts/HelveticaCE-Cond.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Light';
    src: url("/Content/Fonts/Helvetica-Light.ttf");
    src: local('☺'), url('/Content/Fonts/Helvetica-Light.woff') format('woff'), url('/Content/Fonts/Helvetica-Light.ttf') format('truetype'), url('/Content/Fonts/Helvetica-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd Lt';
    src: url("/Content/Fonts/HelveticaNeueLTStd-Lt.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-Lt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd Th';
    src: url("/Content/Fonts/HelveticaNeueLTStd-Th.otf");
    src: local('☺'), url('/Content/Fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('/Content/Fonts/HelveticaNeueLTStd-Th.ttf') format('truetype'), url('/Content/Fonts/HelveticaNeueLTStd-Th.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

label, p {
    font-family: 'HelveticaCE Cond';
    font-size: 17px;
    color: #000000;
    color: rgb(0, 0, 0);
}

label {
    margin-top: 5px;
}

#image1 {
    width: 100%;
    height: 100px;
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/img1.jpg");
    background-size: cover;
}

#image2 {
    width: 100%;
    height: 100%;
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/img1.jpg");
    background-size: cover;
}

.header-info {
    font-size: 21px;
    font-weight: bold;
    font-family: 'Helvetica Light';
    color: black;
}

#PostCode {
    text-transform: uppercase;
    border-right-color: #29abe2;
}

.has-success .form-control {
    border-right-color: #3c763d !important;
}

.align {
    text-align: center;
}

.navbar-default ul li a {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 19px;
    color: #4D4D4D;
    color: rgb(77, 77, 77);
    padding: 7px 15px;
    margin-top: 5px;
}

.quick-find {
    font-family: 'Helvetica Light';
    font-size: 15px;
    color: #29ABE2;
    color: rgb(41, 171, 226);
    border: 1px solid #29AAE1;
    border-radius: 20px;
    color: #29AAE1;
    background-color: white;
    padding: 7px 15px;
    outline: 0;
}

    .quick-find:hover {
        color: white;
        background-color: #29AAE1;
        text-decoration: none;
    }

a:hover {
    text-decoration: none;
}

.logo {
    padding: 0px;
    margin-right: 1em;
}

.navi {
    padding: 10px 0px 5px 0px;
}

.third-single-img img {
    width: 25px;
}

.third-single-img i {
    font-size: 40px;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
}

#check1, #check3, #BroadbandTypeADSL20, #BroadbandTypeFibre40, #LandlineTypeBasic, #LandlineTypeMedium, .change, #get_geo {
    cursor: pointer;
}

.third-single-img {
    border-radius: 100px;
    height: 75px;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
    width: 75px;
    cursor: pointer;
}

.third-single-title {
    text-align: center;
}

.fee-per-week {
    font-family: 'Helvetica Light';
    font-size: 10px;
    color: #B3B3B3;
    color: rgb(179, 179, 179);
    text-align: center;
    margin: -2px;
    margin-top: 0.4em;
}

.big-size {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 34px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.right {
    float: right;
}

.big-link-footer {
    margin-right: -0.8em;
}

.footer {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: -20px;
}

footer a, footer p {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 16px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
}

.space {
    margin-bottom: 1.3em;
}

.bigger-space {
    margin-bottom: 20px;
}

.button {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 26px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    background-color: #29AAE1;
    border: 0px;
    border-radius: 30px;
    padding: 7px 30px;
    margin-top: 5%;
}

.signup-link {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 26px;
    color: #A6A6A6;
    cursor: pointer;
}

.signup-nav {
    color: white !important;
    background-color: #29AAE1;
    border: 1px solid #29AAE1;
    border-radius: 20px;
    outline: 0;
}

.signup-nav:hover, .signup-nav:focus {
    color: #29AAE1 !important;
    background-color: white !important;
    outline: 0 !important;
}

.form-group {
    margin-bottom: 0px;
}

.bootstrap-select {
    padding: 0px;
}

.par {
    font-family: 'Helvetica Light';
    font-size: 18px;
    color: #333333;
    color: rgb(51, 51, 51);
    margin: 0;
}

.myriadpro {
    font-family: 'Myriad Pro';
    font-size: 18px;
    color: #29ABE2;
    color: rgb(41, 171, 226);
}

.grey {
    background-color: rgba(128, 128, 128, 0.08);
    border-radius: 7px;
    padding-top: 2em;
    padding-bottom: 3em;
}

.heading {
    font-family: 'HelveticaCE Cond';
    font-size: 24px;
    color: #000000;
    color: rgb(0, 0, 0);
    margin: 0;
}

.align-left {
    text-align: left;
}

.home-img-title {
    font-family: 'HelveticaNeueLTStd Th';
    font-size: 28px;
    color: #666666;
}

.img-title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: -1px;
}

.img-info {
    font-family: 'Helvetica Light';
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    text-align: center;
    background-color: rgba(41, 170, 225, 0.78);
    width: 100%;
    padding: 2em 1em 1em 1em;
}

.home-button {
    font-family: HelveticaCE Cond;
    font-size: 20px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    border: 0px;
    border-radius: 30px;
    padding: 12px 30px;
    background-color: #29AAE1;
}

.people-say-info {
    font-family: 'Myriad Pro';
    font-size: 13px;
    line-height: 40px;
    color: #333333;
    color: rgb(51, 51, 51);
}

.in-img {
    z-index: 1;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


.image-options-box {
    height: 370px;
    overflow: hidden;
    position: relative;
    display: table;
    width: 100%;
}

.feel-home {
    /* background: url("https://az754941.vo.msecnd.net/Content/Images/v4/image-001.jpeg") no-repeat center center scroll;
    background-size: contain;*/
}

.happy-settled {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/settled.jpg?height=569") no-repeat center center scroll;
    background-size: contain;
}

.new-home {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/Justmovedin.jpg?height=569") no-repeat center center scroll;
    background-size: contain;
}

.header {
    display: table;
    position: absolute;
    width: 100%;
    bottom: 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.this-back {
    background-color: rgba(255, 255, 255, 0.53);
    padding: 10px;
}

.sm-par {
    font-family: 'Helvetica Light';
    font-size: 16px;
    color: #666666;
    color: rgb(102, 102, 102);
}

.in-img-text {
    font-family: 'Helvetica Light';
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
}


.img-back {
    background-color: white;
    height: 9em;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    margin-bottom: 5px;
}

.change-indi-colour ol li {
    border: 1px solid gray;
}

.change-indi-colour .active {
    background-color: black;
}

.item-back {
    background-color: white;
}

.img1 {
    width: 10em;
    padding-top: 2em;
}

.img2 {
    width: 7em;
    padding-top: 1em;
}

.img3 {
    width: 6em;
    padding-top: 0.5em;
}

.carousels {
    padding-top: 5em;
    padding-bottom: 10em;
}

.last-carousels {
    bottom: -3em;
    left: 8.5em;
    width: 4em;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.header-title-onpic {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 69px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    margin: 0px;
    font-weight: 800;
}

.under-header-onpic {
    font-family: 'Helvetica Light';
    font-size: 22px;
    color: #333333;
    color: rgb(51, 51, 51);
    margin: 0px;
}

.onpic {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.button-onpic {
    font-family: 'HelveticaCE Cond';
    font-size: 28px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    width: 8em;
    height: 2em;
    border-radius: 5px;
}

.get-quote-btn {
    background-color: rgba(153, 0, 102, 0.8);
    border: 0px;
    padding: 0.3em 2em 0.3em 2em;
}

.why-works-btn {
    border: 0px;
    background-color: rgba(0, 102, 204, 0.8);
    margin-right: 0.2em;
    padding: 0.3em 2em 0.3em 2em;
}

.signup-btn {
    border: 0px;
    background-color: rgba(51, 153, 204, 0.8);
    margin-left: 0.2em;
    padding: 0.3em 3em 0.3em 3em;
}

.about-header {
    font-family: 'HelveticaCE Cond';
    font-size: 25px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.person {
    margin-bottom: 1em;
    border: 1px solid black;
}

.awards {
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.award-year {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 21px;
    color: #999999;
    color: rgb(153, 153, 153);
}

.award-info {
    font-family: 'Helvetica Light';
    font-size: 13px;
    line-height: 20px;
    color: #736357;
    color: rgb(115, 99, 87);
}

.no-padding {
    padding: 0;
}

.img-aligned {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cust-small-header {
    font-family: 'HelveticaCE Cond';
    font-size: 18px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.cust-para {
    font-family: 'Helvetica Light';
    font-size: 17px;
    color: #333333;
    color: rgb(51, 51, 51);
}

.align-button {
    display: block;
    margin: auto;
    text-align: center;
}

.quote-check {
    margin-top: 0.5em;
    text-align: center;
    display: block;
}

.quote-checker {
    height: 200px;
}
.electricity-active {
    color: white;
    border: 1px solid #E74B3C;
    background-color: #E74B3C;
}

.gas-active {
    border: 1px solid #F29B11;
    background-color: #F29B11;
}

.water-active {
    border: 1px solid #3596DA;
    background-color: #3596DA;
}

.internet-active {
    border: 1px solid #19937B;
    color: white;
    background-color: #19937B;
}

.television-active {
    border: 1px solid #7863E0;
    color: white;
    background-color: #7863E0;
}

.telephone-active {
    border: 1px solid #19937B;
    color: white;
    background-color: #19937B;
}

.rounded {
    margin-right: 0.5em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
}

.info-box {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 1em;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.309804);
    -webkit-transition: box-shadow 3s ease-in-out;
    -moz-transition: box-shadow 3s ease-in-out;
    transition: box-shadow 3s ease-in-out;
}

.addShadow {
    box-shadow: 0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22);
}

.form-control:focus {
    border-color: #ccc;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blue-header {
    color: #3596DA;
}

.electricity {
    border: 1px solid #E74B3C;
    color: #E74B3C;
}

.gas {
    border: 1px solid #F29B11;
    color: #F29B11;
}

.water {
    border: 1px solid #3596DA;
    color: #3596DA;
}

.internet {
    border: 1px solid #19937B;
    color: #19937B;
}


.television {
    border: 1px solid #7863E0;
    color: #7863E0;
}


.telephone {
    border: 1px solid #19937B;
    color: #19937B;
}


.form-group input:focus {
    background-color: #ccc;
}


.bank-header {
    font-family: 'Helvetica Light';
    font-size: 13px;
    color: #B3B3B3;
    color: rgb(179, 179, 179);
    margin: -2px;
    margin-top: 0.4em;
}

.button-green {
    font-family: 'Helvetica Light';
    font-size: 15px;
    color: #8BC53F;
    border: 1px solid #8BC53F;
    border-radius: 20px;
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 10px;
}

    .button-green:hover {
        background-color: #8BC53F;
        color: white;
    }

.modal-header {
    background-color: #29AAE1;
}

.orange-info-box {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid #F7931E;
    border-radius: 1em;
}

ul.dropdown-menu {
    width: 90%;
    left: 1em;
}

.thisbox {
    width: 25px;
    height: 25px;
    border: 1px solid #29AAE1;
    vertical-align: middle;
    margin-top: 0.3em;
}

.btn-text {
    font-family: 'HelveticaCE Cond';
    font-size: 17px;
    margin: 0;
}

.rounded-numbers {
    padding: 0.3em;
    padding-left: 0.5em;
    font-size: 17px;
    font-family: 'HelveticaCE Cond';
    font-size: 17px;
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
}

.double-right-angle {
    float: right;
    color: #E4E1DC;
}

.mybtn {
    color: #000000;
    color: rgb(0, 0, 0);
    margin-bottom: 0.4em;
    border: 1px solid #E4E1DC;
}

.mypanel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.mybtn > a {
    color: #000000;
    color: rgb(0, 0, 0);
}

.btn-icon {
    border-radius: 100px;
    height: 75px;
    margin: 0 auto;
    padding-top: 17px;
    text-align: center;
    width: 75px;
}

    .btn-icon img {
        width: 25px;
    }

.acc-text {
    font-family: 'Helvetica Light';
    font-size: 15px;
    color: #1A1A1A;
    color: rgb(26, 26, 26);
}

.rounded-icons {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    padding: 5px 4px 7px 7px;
}

    .rounded-icons img {
        width: 13px;
        opacity: 0.3;
    }

#el-btn:focus {
    border: 1px solid #E74B3C;
    background-color: #E74B3C;
    color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.rounded-icons2 {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    font-size: 17px;
    float: left;
    padding: 4px 4px 0px 5px;
}

.rounded-icons3 {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    font-size: 15px;
    float: left;
    line-height: initial;
    padding: 4px 7px 4px 5px;
}

    .rounded-icons3 img {
        opacity: 0.3;
    }

.rounded-icons4 img {
    opacity: 0.3;
}

.small-button {
    font-family: 'HelveticaNeueLTStd UltLt';
    font-size: 15px;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
    background-color: #29AAE1;
    border: 0px;
    border-radius: 30px;
    margin-top: 2%;
}

.rounded-icons4 {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    padding: 5px 1px 7px 5px;
}

.rounded-icons5 {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    font-size: 15px;
    float: left;
    line-height: initial;
    padding: 5px 10px 5px 9px;
}

.get-quote-btn:hover {
    background-color: rgba(100, 58, 86, 0.8);
    color: white;
}

.why-works-btn:hover {
    background-color: rgba(31, 85, 139, 0.8);
    color: white;
}

.signup-btn:hover {
    background-color: rgba(59, 107, 131, 0.8);
    color: white;
}

.home-button:hover {
    background-color: #147EAB;
    color: white;
}

.carousel-friends {
    bottom: -30px;
}

.testimg {
    width: 100%;
    height: 300px;
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/manager.jpg");
}

.jon {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/Jon4.jpg");
}

.patch {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/Patch3.jpg");
}

.gavin {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/Aboutus/gavin.jpg");
    background-position: -50px;
    background-repeat: no-repeat;
}

.small-button:focus {
    color: white;
    background-color: #29AAE1;
    outline: 0;
}

.wrapperimg {
    width: 200px;
    height: 300px;
    background-size: cover;
    display: table;
    position: relative;
    margin-bottom: 1em;
}

    .wrapperimg .onimg-items {
        z-index: 1;
        display: table-cell;
        text-align: center;
        vertical-align: bottom;
    }

    .wrapperimg .onimg-text {
        visibility: hidden;
        color: rgba(29, 24, 24, 1);
        font-family: 'Helvetica Light';
        font-size: 20px;
        background-color: rgba(255, 255, 255, 0.47);
    }

    .wrapperimg:hover .onimg-text {
        visibility: visible;
    }

    .wrapperimg:hover img {
        opacity: 0.6;
    }


.button:hover {
    background-color: #147EAB;
    color: white;
}

.small-button:hover {
    background-color: #147EAB;
    color: white;
}

.signup-link:hover {
    text-decoration: none;
    color: #147EAB;
}

.field-validation-error, .error{
    color:#a94442 !important;
}


.email-me-link {
    color: #29AAE1;
}

.tv-box-text {
    font-family: 'Helvetica Light';
    font-size: 15px;
    color: #29AAE1;
}

#all-sections {
    opacity: 0.3;
}

#first-col-info:hover {
    opacity: 1;
    cursor: default;
}

.error-text {
    font-family: 'AccidentalPresidency';
    font-size: 337px;
    color: #000000;
    color: rgb(0, 0, 0);
}

.media-icon {
    margin-right: 0.2em;
    opacity: 0.3;
}

.oval {
    margin: auto;
    background-color: white;
    height: 5em;
    width: 80%;
    border-radius: 50% / 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

video {
    width: 100%;
}

.video-cont{
    position: relative;
}
/*Services page*/

.water-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/water-service.jpg?height=500");
    background-position: 0;
}

.internet-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/internet-service.jpg?height=500");
    background-position: 0;
}

.sky-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/tv-service.jpg?height=500");
    background-position: 0;
}

.netflix-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/netflix-service.jpg?height=500");
    background-position: 0;
}

.phone-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/phone-service.jpg?height=500");
    background-repeat: round;
}

.tv-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/tvlicense-service.jpg?height=500");
    background-position: 0;
}

.gas-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/gas-service.jpg?height=500");
    background-position: 0;
}

.dividabill-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/dividabill-service.jpg?height=500");
}

.services-image {
    width: 100%;
    height: 300px;
    background-size: cover;
}

/*Customer page*/
.customer-images {
    width: 100%;
    height: 350px;
    background-size: cover;
}

.accommodation-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/sharedAccomodation.jpg?height=350");
}

.life-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/students.jpg?height=350");
}

.home-image {
    background-image: url("https://az754941.vo.msecnd.net/Content/Images/v4/residential.jpg?height=350");
}
/* Index page */

.active-onpic {
    background-color: rgba(255, 255, 255, 0.53);
    padding: 10px;
}

/* How we simplify your life */

.simplify-box {
    height: 525px;
    overflow: hidden;
    position: relative;
}

.get-settled {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/getsettled.jpg?height=525&Mode=Crop") center center;
    background-size: cover;
}

.move-in {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/movein.jpg?height=525&Mode=Crop") center center;
    background-size: cover;
}

.live-simple {
    background: url("https://az754941.vo.msecnd.net/Content/Images/v4/livesimply.jpg?height=525&Mode=Crop") center center;
    background-size: cover;
}

.btn-why-works {
    background-color: rgba(0, 102, 204, 0.8);
    border-color: rgba(0, 102, 204, 0.8);
}

.btn-get-quote {
    background-color: rgba(153, 0, 102, 0.8);
    border-color: rgba(153, 0, 102, 0.8);
}

.btn-sign-up {
    background-color: rgba(51, 153, 204, 0.8);
    border-color: rgba(51, 153, 204, 0.8);
}

.modal-body > p {
    font-size: 12px;
}

.sidebar.affix {
    top: 20px;
    width: 30%;
}

.affix-top {
    margin-top: 0px !important;
}

.quote-form {
    background-color: rgba(255,255,255,0.9);
    border-radius: 6px;
    padding: 15px 0px 0px 0px;
}

#btn-quote {
    display: none;
}

.bck {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.45);
}

button, button:focus, button:hover {
    outline: 0;
}

.nav-pills li > a > .rounded-numbers {
    color: #E4E1DC !important;
}

.nav-pills li.active > a > .rounded-numbers {
    color: #337ab7 !important;
}

.your-quote {
    padding: 20px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);    
    border-radius: 20px;
    margin-bottom: 40px;
}

.button-warning {
    font-family: 'Helvetica Light';
    font-size: 15px;
    color: #C1272D;
    border: 1px solid #C1272D;
    border-radius: 20px;
    background-color: white;
    padding: 10px 50px;
    margin-bottom: 10px;
}

    .button-warning:hover {
        background-color: #9B363A;
        color: white;
    }

.style-icon {
    font-size: 20px !important;
    top: 4px;
    position: relative;
    padding: 0px 0px 0px 0px;
}

.rounded-icons-faq {
    color: #E4E1DC;
    border: 1px solid #E4E1DC;
    padding: 5px 8px 7px 8px;
}

.radio > label {
    color: #29AAE1;
}
/*Video media queries*/
@media (max-width:350px) {
    .email-footer {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .carousels {
        display: none;
    }
}

@media (max-width: 500px) {
    .btn-quote-group {
        display: none;
    }

    #btn-quote {
        display: block;
        margin-top: 15px;
    }

    #quote_postcode {
        border-radius: 0px 6px 6px 0px;
    }

    .feel-home {
        background-size: 230% 100%;
        background-position: 40%;
    }

    .header-title-onpic {
        font-size: 38px;
    }

    .header {
        height: auto !important;
    }
}

@media (max-width: 750px) {
    .sidebar.affix {
        position: static;
        width: 100%;
    }

    .quick-find {
        margin-bottom: 0.5em;
    }

    .quote-cont{
        padding:0px;
    }

    .form-group {
        margin-bottom: 15px;
    }
}

@media (max-width: 780px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
        display: inline-block;
    }

    main{
        min-height: 100%;
    }

    .steps {
        font-size: 1.7em !important;
        width: 40px;
        height: 40px;
        padding-top: 7px;
        margin: 0.5em 0em 0 0.1em;
    }
    .signup-sidebar {
        position: fixed; 
    }

    .navbar-default .navbar-nav>li>a:hover {
        padding: 9px 15px 4px 14px;
    }

    .navbar-default ul li a {
        padding: 9px 15px 5px 15px;
    }

    .button {
        padding: 11px 30px 5px 30px;
    }

    .small-button {
        font-weight: bold;
        padding: 10px 7px 5px 7px;
    }

}

@media (min-width: 781px) {
    .steps {
        font-size: 2.4em!important;
        margin: .5em 0 0 0.1em;
        width: 50px;
        height: 50px;
        padding-top: 7px;
    }
    
    .signup-sidebar {
        position: fixed; 
    }

}

@media (min-width: 1280px) {
    .steps {
                font-size: 2.7em !important;
        margin: 0.5em 0em 0em 0.5em;
        width: 60px;
        height: 60px;
        padding-top: 10px;

    }
}
@media (max-width: 900px) {
    .feel-home {
        background: url("https://az754941.vo.msecnd.net/Content/Images/v4/image-001.jpeg") no-repeat scroll;
        background-size: 130% 100%;
        background-position: 50%;
    }

    .header {
        position: relative;
        height: 40em;
    }

    .header-title-onpic {
        font-size: 60px;
    }

    .video {
        display:none;
    }

    .simplify-content{
        padding: 0 5px 0 5px;
    }
}

@media (min-width: 992px) {
    .sidebar.affix {
        width: 31%;
    }

    .faq-services-sidebar.affix {
        width: 23%;
    }

    main{
        min-height: 80%;
    }
}

@media (min-height: 1200px) {
    main {
        min-height: 100%;
    }
}


/*SERVICES PAGE*/
.small-service {
    border-radius: 100px !important;
    height: 45px;
    padding-top: 5px;
    width: 45px;
    cursor: pointer;
    margin-bottom: 0.3em;
    background-color: white;
    margin-right: 1em;
}

    .small-service i {
        font-size: 25px;
    }

.services-sidebar.affix {
    top: 10%;
}

.sidebar-btn {
    display: table;
}

.service-title {
    display: table-cell;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

    .service-title.active {
        visibility: visible;
        opacity: 1;
    }

.sidebar-btn:hover .service-title {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 767px) {
    .services-sidebar {
        display: block;
        margin: 0 auto;
        width: -webkit-max-content;
        margin-bottom: 3em;
        border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        padding: 10px 0px 10px 0px;
        background-color: white;
        text-align: center;
        z-index: 999999;
        width: 100%;
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .sidebar-btn {
        display: inline-table;
    }

    .small-service {
        margin-right: 0px;
    }

    .services-sidebar.affix {
        top: 0px;
    }

    .sidebar-wrapper {
        padding: 0px;
    }

    .error-text {
        font-size: 100px;
    }

    .error-img {
        width: 100px;
        height: 100px;
    }

    .navi {
        box-shadow: 0px 1px 20px 0px #888888;
    }

    .awards-block > aside {
        min-height: 215px;
    } 

    .contact-links > div {
        min-height: 200px;
    }

    .simplify-box {
        height: 400px;
    }

    .wrapperimg {
        width: 150px;
        height: 250px;
    }

    .signup-sidebar {
        text-align: center;
        padding-bottom: 12px;
        width: 100%;
        background-color: white;
        z-index: 100;
        position: relative;

    }
    .step-btn {
        display: inline-table;
    }


    .signup-header {
        height: 200px;
        background-position: 0px -1em;
    }

}

.small-service .fa-bolt {
    color: #E74B3C;
}

.small-service .fa-tint {
    color: #428bca;
}

.small-service .fa-fire {
    color: #F29B11;
}

.small-service .fa-wifi {
    color: #19937B;
}

.small-service .fa-desktop {
    color: #7863E0;
}

.small-service .fa-phone {
    color: #19937B;
}
/*Sidebar services active */
.Electricity.active {
    background-color: #E74B3C;
}

.Gas.active {
    background-color: #F29B11;
}

.Water.active {
    background-color: #3596DA;
}

.Internet.active, .Telephone.active {
    background-color: #19937B;
}

.Television.active {
    background-color: #7863E0;
}

.Sky {
    fill: #374F6E;
    border: 2px solid #374F6E;
}

.Electricity.active i, .Gas.active i, .Water.active i, .Internet.active i, .Telephone.active i, .Television.active i, .Telephone.active i {
    color: white;
}

/*Sidebar Services*/
.Electricity {
    color: #E74B3C;
    border: 2px solid #E74B3C;
}

.Gas {
    color: #F29B11;
    border: 2px solid #F29B11;
}

.Water {
    color: #3596DA;
    border: 2px solid #3596DA;
}

.Internet {
    color: #19937B;
    border: 2px solid #19937B;
}

.Television {
    color: #7863E0;
    border: 2px solid #7863E0;
}

.Telephone {
    color: #19937B;
    border: 2px solid #19937B;
}

.Sky.active {
    fill: white;
    background-color: #374F6E;
}

/*Services page header*/
.text-heading {
    display: table-cell;
    vertical-align: middle;
}

.header-icon {
    font-size: 7em;
    color: white;
}

.page-title {
    color: white !important;
}

.head {
    background-image: url("/Content/Images/v4/services.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    text-align: center;
    display: table;
}

.steps:hover, .steps:focus{
    text-decoration: none;
    color: rgb(171, 169, 169);

}

.active-green {
    background-color: #99CC33;
    color: white !important;
}


.active-step {
    background-color: rgba(128, 128, 128, 0.34);
    color: white !important;
}

.active-green, .active-step {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    cursor: pointer !important;

}

.active-green:hover, .active-step:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}

.signup-header
{
   width: 100%;
   height: 300px;
   background-image: url("/Content/Images/Dividabill-Together.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 0em -3em;
}

.steps {         
        border: 2px solid #CAC9C9;
        border-radius: 50px;
        text-align: center;
        color: rgb(171, 169, 169);
        transition: all .3s ease-out;
        cursor: default;
}

.fixed {
    position: fixed;
    top: 0px;
}