﻿Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>

    <style type="text/css">
        body, #bodyTable, #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        table {
            border-collapse: collapse;
        }

        img, a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body, table, td, p, a, li, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body, #bodyTable {
            background-color: #F2F2F2;
        }

        #bodyCell {
            border-top: 0;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -1px;
            margin: 0;
            text-align: left;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.75px;
            margin: 0;
            text-align: left;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.5px;
            margin: 0;
            text-align: left;
        }

        h4 {
            color: #808080 !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: normal;
            margin: 0;
            text-align: left;
        }

        #templatePreheader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent, .preheaderContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateHeader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateBody {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateFooter {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        @@media only screen and (max-width: 480px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[id=bodyCell] {
                padding: 10px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            img[class=mcnImage] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnImageGroupContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                max-width: 600px !important;
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            h3 {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templatePreheader] {
                display: block !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {

            td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top:9px;"></td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="Shared bills made simple" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/3d1319fc-3974-45fd-bf4b-5cf409eaa62b.png" width="564" style="max-width:567px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="color:#04aff0">Your first bill from DividaBill&nbsp;</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="font-size:12px">
                                                                                Hi @ViewBag.FirstName,<br />
                                                                                <br />
                                                                                Below is a breakdown of your first bill. This will be collected on the <strong>@ViewBag.PaymentDate</strong> as your services go live with us!
                                                                            </span><br />
                                                                            <br />
                                                                            <span style="color: #4F4F4F;font-size: 12px;line-height: 20.7999992370605px;">House reference number:</span><span style="font-size:12px; line-height:20.7999992370605px">&nbsp;</span><span style="color:#04aff0"><span style="font-size:12px; line-height:20.7999992370605px">@ViewBag.HouseID</span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="color:#04aff0"><span style="font-size:14px"><strong>Bill breakdown</strong></span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                                                <tbody class="mcnBoxedTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="border: 1px solid #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent">
                                                                                            <div style="text-align: center;"><span style="color:#04aff0"><span style="font-size:14px; line-height:20.7999992370605px; text-align:center"><strong>£@ViewBag.PerPerson</strong></span></span><span style="text-align:center"><span style="color: #04AFF0;font-size: 14px;line-height: 20.7999992370605px;">&nbsp;</span><strong><span style="font-size:14px; line-height:20.7999992370605px">your&nbsp;</span><span style="font-size:14px">individual</span><span style="font-size:14px; line-height:20.7999992370605px">&nbsp;payment&nbsp;this month</span></strong></span></div>

                                                                                            <div style="text-align: center;"><span style="text-align:center"><strong><span style="font-size:10px"><span style="line-height:20.7999992370605px">(Includes the remainder of this month and your second month)</span></span></strong></span></div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="border: 1px solid #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent">
                                                                                            <div style="line-height: 20.7999992370605px; text-align: center;">
                                                                                                <span style="font-size:13px"><span style="color:#04aff0"><span style="line-height:20.7999992370605px; text-align:center"><strong>£@ViewBag.TotalBill</strong></span></span><span style="line-height:20.7999992370605px; text-align:center">&nbsp;</span><strong style="font-size:14px; line-height:20.7999992370605px; text-align:center">your total house payment this&nbsp;month</strong></span><br />
                                                                                                <span style="font-size:10px"><strong style="line-height:20.7999992370605px; text-align:center"><span style="line-height:20.7999992370605px">(Includes the remainder of this month and your second month)</span></strong></span>
                                                                                            </div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                                                <tbody class="mcnBoxedTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="border: 1px solid #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent">
                                                                                            <div style="text-align: center;">
                                                                                                <div style="text-align: left;">
                                                                                                    <div style="line-height: 20.7999992370605px;"><span style="font-size:11px"><span style="line-height:20.7999992370605px"><span style="color:#04aff0">Payment Period:&nbsp;<strong>@ViewBag.BillStartDate - @ViewBag.BillEndDate</strong></span></span></span></div>

                                                                                                    <div style="line-height: 20.7999992370605px;">&nbsp;</div>

                                                                                                    <div style="line-height: 20.7999992370605px;"><span style="font-size:11px"><span style="line-height:20.7999992370605px"><span style="color:#04aff0">Payment Date:&nbsp;<strong>@ViewBag.PaymentDate</strong></span></span></span></div>
                                                                                                </div>
                                                                                                &nbsp;

                                                                                                <table style="line-height: 20px; width: 220px; font-family: Arial, Helvetica, sans-serif; padding-left: 254px; padding-right: 254px; padding-bottom: 50.796875px;">
                                                                                                    <tbody>
                                                                                                        <tr style="font-size: 12px;color: #04AFF0;text-decoration: underline;">
                                                                                                            <td style="padding-bottom: 1px; padding-left: 5px; text-align: left;"><strong>Service</strong></td>
                                                                                                            <td style="padding-bottom: 1.046875px; padding-left: 26.25px; text-align: justify;"><strong>Full Amount per Month</strong></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Water</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.WaterAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Gas</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.GasAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Electricity</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.ElectricityAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Internet <span style="color:#04aff0">@ViewBag.BroadbandType Mb/s</span></td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.BroadbandAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">TV Licence</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.TVLicenseAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Netflix</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.NetflixTVAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Sky Complete Package</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.SkyTVAmount</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 5px;text-align: left;">Landline Phone</td>
                                                                                                            <td style="padding-right: 1.046875px;color: #4F4F4F;font-size: 12px;padding-left: 26.25px;text-align: left;">£@ViewBag.LandlinePhoneAmount</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td class="mcnBoxedTextContentColumn" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="border: 1px solid #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent">
                                                                                            <div style="line-height: 20.7999992370605px; text-align: justify;">
                                                                                                <span style="color: #04AFF0;font-size: 12px;line-height: 20.7999992370605px;text-align: center;"><strong>How is my bill worked out?&nbsp;</strong></span><br style="line-height: 20.7999992370605px; text-align: center; font-size: 12px;" />
                                                                                                <span style="font-size:12px; line-height:20.7999992370605px; text-align:center">Your bill is based on your specific house usage for each of the services – you only pay for what you use.</span><br style="line-height: 20.7999992370605px; text-align: center; font-size: 12px;" />
                                                                                                <span style="font-size:12px; line-height:20.7999992370605px; text-align:center">&nbsp;</span><br style="line-height: 20.7999992370605px; text-align: center; font-size: 12px;" />
                                                                                                <strong><span style="font-size:12px">Your first bill covers the remainder of the first month, plus the second month in advance, but don’t worry you won’t be charged again in your second month.&nbsp;</span></strong><span style="font-size:12px; line-height:20.7999992370605px; text-align:center">Your future bills will be for one month at a time and are collected at the beginning of each month.&nbsp;</span><span style="font-size:12px; line-height:20.7999992370605px; text-align:justify">Your bill date may be subject to change, but it will never be before the date we have provided you.</span>
                                                                                            </div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="font-size:12px">
                                                                                If you want any more information you can visit our <u>FAQ</u>, drop us an <u><a href="mailto:support@dividabill.co.uk">email</a>  </u>or if you prefer a good old fashioned conversation you can call one of the friendly DividaBill team on <u><a href="tel:02380223596">02380223596 </a> </u>.<br />
                                                                                <br />
                                                                                Thanks again,<br />
                                                                                &nbsp;<br />
                                                                                Mike &amp; the DividaBill Team
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock">
                                                <tbody class="mcnFollowBlockOuter">
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border: 1px solid #EEEEEE;background-color: #FAFAFA;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top">


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Facebook</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Twitter</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:5px;">
                                                                                                                            <a href="http://www.dividabill.co.uk" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:0; padding-bottom:9px;">
                                                                                                                            <a href="http://www.dividabill.co.uk" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Website</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->

                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                                                <tbody class="mcnBoxedTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="background-color: #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent" style="color: #FFFFFF;">
                                                                                            <div style="text-align: left;">
                                                                                                <span style="font-size:12px">
                                                                                                    <span style="color:#FFFFFF">
                                                                                                        <strong>Energy Saving Fun Fact:</strong><br />
                                                                                                        Using lids when you cook will help your food&nbsp;cook more quickly,&nbsp;this will not only save energy but also let you feast faster!
                                                                                                    </span>
                                                                                                </span>
                                                                                            </div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
</body>
</html>


