﻿Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>

    <style type="text/css">
        body, #bodyTable, #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        table {
            border-collapse: collapse;
        }

        img, a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                line-height: 100%;
            }

        table, td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body, table, td, p, a, li, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body, #bodyTable {
            background-color: #F2F2F2;
        }

        #bodyCell {
            border-top: 0;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -1px;
            margin: 0;
            text-align: left;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.75px;
            margin: 0;
            text-align: left;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.5px;
            margin: 0;
            text-align: left;
        }

        h4 {
            color: #808080 !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: normal;
            margin: 0;
            text-align: left;
        }

        #templatePreheader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent, .preheaderContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateHeader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateBody {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateFooter {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        @@media only screen and (max-width: 480px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[id=bodyCell] {
                padding: 10px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            img[class=mcnImage] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnImageGroupContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h3 {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templatePreheader] {
                display: block !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top:9px;"></td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="Shared bills made simple" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/3d1319fc-3974-45fd-bf4b-5cf409eaa62b.png" width="564" style="max-width:567px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="color:#04aff0">Your DividaBill Estimated First Bill&nbsp;</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="font-size:12px">
                                                                                Hi @ViewBag.FirstName,<br />
                                                                                <br />
                                                                                It's us again.&nbsp;As promised here’s a summary of the important financial information for your account.<br />
                                                                                &nbsp;<br />
                                                                                Whilst you’re waiting for your first bill to arrive we’ve estimated what you will pay on the @ViewBag.PaymentDate when we aim for your services to go live with us.&nbsp;
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="color: #4F4F4F;font-size: 12px;line-height: 20.7999992370605px;">House reference number:</span><span style="font-size:12px; line-height:20.7999992370605px">&nbsp;</span><span style="color:#04aff0"><span style="font-size:12px; line-height:20.7999992370605px">@ViewBag.HouseID</span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="color:#04aff0"><span style="font-size:14px"><strong>Estimated bill breakdown - First Bill</strong></span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageGroupBlock">
                                                <tbody class="mcnImageGroupBlockOuter">

                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageGroupBlockInner">

                                                            <table align="left" width="273" border="0" cellpadding="0" cellspacing="0" class="mcnImageGroupContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageGroupContent" valign="top" style="padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img alt="" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/864d8f5e-3356-4b7b-a679-79383663123d.png" width="151" style="max-width:151px; padding-bottom: 0;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" width="273" border="0" cellpadding="0" cellspacing="0" class="mcnImageGroupContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageGroupContent" valign="top" style="padding-right: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img alt="" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/a700deb3-6101-43cc-8e0b-a54190097def.jpg" width="235" style="max-width:235px; padding-bottom: 0;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">

                                                                            <div style="text-align: center;">
                                                                                <span style="color:#04aff0"><span style="line-height:20.7999992370605px; text-align:center"><strong>£@ViewBag.TotalBill</strong>&nbsp;</span></span><strong style="line-height:20.7999992370605px; text-align:center">first bill for&nbsp;</strong><strong style="line-height:20.7999992370605px">whole house</strong><br />
                                                                                <span style="font-size:12px"><strong style="line-height:20.7999992370605px; text-align:center">Up-to your first 2&nbsp;months based on your payment period below</strong></span>
                                                                            </div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <div style="text-align: center;">
                                                                                <div style="line-height: 20.7999992370605px; text-align: center;">
                                                                                    <div style="line-height: 20.7999992370605px; text-align: center;"><span style="color:#04aff0"><span style="line-height:20.7999992370605px"><strong>£@ViewBag.PerPerson</strong></span></span><span style="line-height:20.7999992370605px">&nbsp;</span><strong style="line-height:20.7999992370605px">first&nbsp;</strong><strong style="line-height:20.7999992370605px">bill&nbsp;</strong><strong style="line-height:20.7999992370605px">per person&nbsp;</strong></div>

                                                                                    <div style="line-height: 20.7999992370605px; text-align: center;"><strong style="font-size:12px; line-height:20.7999992370605px; text-align:center">Based on equal payment for the house size provided</strong></div>
                                                                                </div>
                                                                            </div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <div style="text-align: center;"><strong><span style="color:#04aff0">First Payment Period: </span></strong>@ViewBag.BillStartDate - @ViewBag.BillEndDate</div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                                                <tbody class="mcnBoxedTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="background-color: #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent" style="color: #FFFFFF;">
                                                                                            <span style="color:#FFFFFF">
                                                                                                <strong style="line-height:20.7999992370605px">
                                                                                                    <span style="font-size:12px; line-height:20.7999992370605px">
                                                                                                        <u><span style="font-size:14px">First Payment Information</span></u><br />
                                                                                                        If your contract starts&nbsp;
                                                                                                    </span><span style="font-size:12px">immediately</span><span style="font-size:12px; line-height:20.7999992370605px">
                                                                                                        &nbsp;your first bill includes the remainder of&nbsp;this month plus the next month in advance.<br />
                                                                                                        If you're really organised and have pre-registered your start date, your first bill will include the remainder of that month, plus the next month.
                                                                                                    </span>
                                                                                                </strong><br />
                                                                                                <br />
                                                                                                <span style="line-height:20.7999992370605px">
                                                                                                    <span style="font-size:12px; line-height:20.7999992370605px">DON'T WORRY: You will not be charged again in your second month.&nbsp;</span><br />
                                                                                                    <span style="font-size:12px; line-height:20.7999992370605px">In the future, your bills are one month at a time at the beginning of each month.</span>
                                                                                                </span>
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">

                                                                            <table style="width:100%; font-family: Arial, Helvetica, sans-serif; padding-left: 50%; padding-right: 50%; padding-bottom: 10%;">
                                                                                <tbody>
                                                                                    <tr style="font-size:12px; color:#04aff0; text-decoration: underline; text-align: left;">
                                                                                        <td style="padding-bottom: 1%; padding-left: 50%;"><strong>Service</strong></td>
                                                                                        <td style="padding-bottom: 1%; padding-left: 25%;"><strong>Total Price per Month</strong></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Water</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.WaterAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Gas</td>
                                                                                        <td style="align: center; padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.GasAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Electricity</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.ElectricityAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Internet <span style="color:#04aff0">@ViewBag.BroadbandType Mb/s</span></td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.BroadbandAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">TV Licence</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.TVLicenseAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Netflix</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.NetflixTVAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Sky Complete Package&nbsp;</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.SkyTVAmount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 50%;">Landline Phone&nbsp;</td>
                                                                                        <td style="padding-right: 1%; color: #4f4f4f; font-size: 12px; padding-left: 25%;">£@ViewBag.LandlinePhoneAmount</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <br />
                                                                            <span style="font-size:12px"><span style="color:#04aff0"><strong>Payment Date: </strong>@ViewBag.PaymentDate</span></span>

                                                                            <div style="text-align: justify;"><span style="font-size:12px"><span style="font-size:10px">(Your bill date may be subject to change, but it will never be before the date we have provided you.)</span></span></div>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <table align="left" cellpadding="0" cellspacing="0" hspace="0" vspace="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="text-align: justify;">
                                                                                            <span style="font-size:12px">
                                                                                                <span style="color:#04aff0"><strong>How is my bill worked out? </strong></span><br />
                                                                                                We automatically divide your bill equally between everyone who signs up to your house account. From July you will be able to amend individual payment levels through the online customer portal. In the meantime if you want to make a change just give us a call on <u><a href="tel:02380223596">02380223596</a> </u>. Your estimated bill is based on your household information provided when you signed up combined with industry average usage details for people similar to you.<br />
                                                                                                <br />
                                                                                                Your actual bill will be based on your specific house usage and will be charged correctly at time.
                                                                                            </span>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="font-size:12px">
                                                                                If you want to divide your bill with other people in your house, they need to sign up here at least seven days before the first payment is due.<br />
                                                                                <br />
                                                                                As always if you’re after more information you can visit our&nbsp;<a href="http://www.dividabill.co.uk/Home/Questions" target="_blank">FAQ</a>, drop us an <u><a href="mailto:support@dividabill.co.uk">email</a> &nbsp;</u>at support@dividabill.co.uk, chat to us on our website, or if you prefer a good old fashioned conversation you can call one of the friendly DividaBill team on&nbsp;02380223596.<br />
                                                                                &nbsp;<br />
                                                                                Thanks again and don’t forget to follow us on Facebook and Twitter to keep up to date with all our smashing offers and discount codes.<br />
                                                                                &nbsp;<br />
                                                                                Mike &amp; the DividaBill Team
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                <tbody class="mcnDividerBlockOuter">
                                                    <tr>
                                                        <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                            <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #04AFF0;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <span></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock">
                                                <tbody class="mcnFollowBlockOuter">
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border: 1px solid #EEEEEE;background-color: #FAFAFA;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top">


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="http://www.facebook.com/DividaBill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Facebook</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="http://www.twitter.com/DividaBill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Twitter</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:5px;">
                                                                                                                            <a href="http://www.dividabill.co.uk" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:0; padding-bottom:9px;">
                                                                                                                            <a href="http://www.dividabill.co.uk" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Website</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->

                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnBoxedTextBlock">
                                                <tbody class="mcnBoxedTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnBoxedTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnBoxedTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:18px;">

                                                                            <table border="0" cellpadding="18" cellspacing="0" class="mcnTextContentContainer" width="100%" style="background-color: #04AFF0;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" class="mcnTextContent" style="color: #FFFFFF;">
                                                                                            <div style="text-align: left;">
                                                                                                <span style="font-size:12px">
                                                                                                    <span style="color:#FFFFFF">
                                                                                                        <strong>Energy Saving Fun Fact:</strong><br />
                                                                                                        Putting tin foil behind your radiators can significantly reduce heat escaping through the wall. Sound tricky? Spend 3:38 minutes watching this
                                                                                                    </span><a href="https://www.youtube.com/watch?v=GS5Bb9ZQ5u0" target="_blank"><span style="color:#FFFFFF"><u>handy demonstration</u>.</span></a>
                                                                                                </span>
                                                                                            </div>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
</body>
</html>

