﻿@model DividaBill.ViewModels.TenancyViewModel
@{
    ViewBag.Title = "Edit tenancy";
    var housesList = ViewBag.Houses as IEnumerable<SelectListItem>;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Edit Tenancy @Model.TenancyId for @Model.User.FullName </h4>
        @Html.HiddenFor(m => m.UserId)
        @Html.HiddenFor(m => m.TenancyId)
        @Html.HiddenFor(m => m.HouseId)
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            <label class="control-label col-md-2">Tenancy</label>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.HouseModel.houseDisplay, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.HouseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JoiningDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.JoiningDate, new {htmlAttributes = new {@class = "form-control datepicker", @type = "date"}})
                @Html.ValidationMessageFor(model => model.JoiningDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeavingDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.JQueryUI().DatepickerFor(model => model.LeavingDate, new {htmlAttributes = new {@class = "form-control datepicker"}})
                @Html.ValidationMessageFor(model => model.LeavingDate, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Notes, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>

    </div>
    <div>
        <a href="@Url.Action("Edit", "Tenants", new { id = @Model.UserId})">Back to tenant edit</a>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/editHouse")
    @Styles.Render("~/Content/metronic-profile")
<script>
        $(function () {
            checkSupportForInputTypeDate();
            $('.datepicker').datepicker({
                weekStart: 1,
                calendarWeeks: false,
                autoclose: true,
                todayBtn: true
            });
        });

       
        //Function to configure date format as the native date type from chrome and safari browsers clashes with jQuery ui date picker.
        function checkSupportForInputTypeDate() {
            jQuery.validator.methods.date = function (value, element) {
                var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
                if (isSafari || isChrome) {
                    var d = new Date();
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                } else {
                    return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                }
            }
        }
</script>
}
