﻿@{
    ViewBag.Title = "Email Confirmed";
}

<main class="white-bg">
    <h2 class="text=cemter">@ViewBag.Title.</h2>
    <div>
        <p class="text-center par">
            Congratulations! Your email has been verified.
        </p>
    </div>
</main>
