﻿@model DividaBill.ViewModels.SignUpViewModel
@{
    ViewBag.Title = "Sign Up - Join DividaBill for easy student bills";
    ViewBag.SubTitle = "Sign Up";
    ViewBag.Heading = "Create a new account.";
    ViewBag.MetaDescription = "Sign up - Join DividaBill today to split your student & young professional housing bills easily.";
    ViewBag.MetaKeywords = "sign up, sign up to DividaBill, easy student bills, student bills, DividaBill";
}

<script type="text/template" id="signup-tpl">
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="confirmatioModalLabel" id='confirmationModal' aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class=" text-center" style="color:white; margin:0" id="confirmatioModalLabel">Please Confirm Your Details</h3>
                </div>
                <div class="modal-body">
                    <p class="text-center"> I would like to <a id="changePersonalDetails" data-dismiss="modal"> change </a> my details</p>
                    <section class='row'>
                        <aside class='col-md-8 col-md-offset-2'>
                            <hr />
                        </aside>
                    </section>
                    <section class='row'>
                        <section class='col-xs-6 col-sm-4 col-sm-offset-2'>
                            <p class="par">Account Name</p>
                        </section>
                        <section class='col-xs-6 col-sm-4'>
                            <p class="par" id="AccountNameConfirmation">John Smith</p>
                        </section>
                    </section>
                    <section class='row'>
                        <section class='col-xs-6 col-sm-4 col-sm-offset-2'>
                            <p class="par">Account Number</p>
                        </section>
                        <section class='col-xs-6 col-sm-4'>
                            <p class="par" id="AccountNumberConfirmation">xxxxxxxx</p>
                        </section>
                    </section>
                    <section class='row'>
                        <section class='col-xs-6 col-sm-4 col-sm-offset-2'>
                            <p class="par">Sort Code</p>
                        </section>
                        <section class='col-xs-6 col-sm-4'>
                            <p class="par" id="AccountSortCodeConfirmation">xx-xx-xx</p>
                        </section>

                    </section>
                    <section class='row'>
                        <aside class='col-md-8 col-md-offset-2'>
                            <hr />
                        </aside>
                    </section>
                    <section class='row'>
                        <aside class='col-md-8 col-md-offset-2'>
                            <p class="text-center">By clicking Approve you agree to our <br/> <a href="https://www.dividabill.co.uk/Home/Terms" target="_blank">Terms and Conditions</a>.</p> <br />
                            <button type="submit" id='approveRegistration' class="button-green aligned" data-dismiss="modal">Approve & Complete</button>
                        </aside>
                    </section>
                    <section class='row'>
                        <aside class='col-md-8 col-md-offset-2'>
                            @*<button type="button" class="quick-find align-button" onclick='continue4()' style="padding: 10px 21px;">Approve & Add More Tenants</button><br />*@
                            @*<p class="par align change" data-dismiss="modal">No, something is wrong.</p>*@
                            <button type="submit" class="button-warning aligned" data-dismiss="modal">No, something is wrong.</button>

                        </aside>
                    </section><br /> <br />
                </div>
            </div>
        </div>
    </div>
        <!-- Existing House Modal -->
        <div class="modal fade" id="existingHouseModal" tabindex="-1" role="dialog" aria-labelledby="existingHouseModelLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title align about-header" style='color:white; margin:0' id="existingHouseModelLabel">House Information</h4>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        Great news! Your house has already been registered with DividaBill, so all you need to do next is click continue.<br /><br />
                        If you want to update or change the services later by phoning or emailing us.
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="reggedHouse" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br />
        <section class="row" style="padding-bottom: 2em;">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="progress">
                    <div class="progress-bar bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                        <i class="fa fa-home fa-2x step-one step-active"></i>
                        <i class="fa fa-cogs fa-2x step-two"></i>
                        <i class="fa fa-user fa-2x step-three"></i>
                        <i class="fa fa-credit-card fa-2x step-four"></i>
                    </div>
                    </div>
            </div>
        </section>
        <section class='container' id='container'>
            <form id="form1" onkeypress="return event.keyCode != 13;">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            </form>
            <div id="continue_step2" class="col-sm-12" style="display:none">
                <button type="button" id="continue_step2_btn" class="button-icon next right">
                    <span style="vertical-align: super;">Next </span>
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </button>
            </div>
            <div class="col-sm-12" id="continue_step_joinedHouse" style="display:none">
                <button class="button-icon next right" id="joinedHouse_btn">
                    <span style="vertical-align: super;">Next </span>
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </button>
            </div>
            <div class="col-sm-12" id="step2-btns"  style="display:none"><br/><br/>
                <h3 class="text-right" style="font-family: 'Lato Light';font-size: 26px;margin-right: 15px;"> Happy with your Quote?</h3> <br/>
                <button id="continue_step3_btn" type="button" class="button-icon next right" style="margin-top:0;">
                    <span style="vertical-align: super;">SignUp </span>
                <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </button>
                <a id="previous-step1" class="signup-link back left" >
                    <i class="fa fa-arrow-circle-o-left fa-2x"></i>
                    <span style="vertical-align: super;">Back </span>
                </a>
            </div>
            <div class="col-sm-12" id="step3-btns" style="display:none"><br/><br/>
                <button id="continue_step4_btn" type="button" class="button-icon next right" style="margin-top:0;">
                    <span style="vertical-align: super;">Next </span>
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </button>
                <a id="previous-step2" class="signup-link back left">
                    <i class="fa fa-arrow-circle-o-left fa-2x"></i>
                    <span style="vertical-align: super;">Back </span>
                </a>
            </div>
            <div class="col-sm-12" id="step4-btns" style="display:none">
                <button id="confirm" type="button" class="button-icon next right" style="margin-top:0;">
                    <span style="vertical-align: super;">Next </span>
                    <i class="fa fa-arrow-circle-o-right fa-2x"></i>
                </button>
                <a id="previous-step3" class="signup-link back left">
                    <i class="fa fa-arrow-circle-o-left fa-2x"></i>
                    <span style="vertical-align: super;">Back </span>
                </a>
            </div>
            <br /><br /><br />
         </section>
</script>