﻿@{
    ViewBag.Title = "About DividaBill - Split housing bills";
    ViewBag.SubTitle = "About DividaBill";
    ViewBag.Heading = "We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "DividaBill provides students & young professionals with a way to split housing bills easily. No fights, no stress; just get on with things that really matter.";
    ViewBag.MetaKeywords = "about us, housing bills, shared accommodation bills, accommodation bills, DividaBill";
}

@section Header {
    <div class="hidden-xs" id="image1"></div>
}
<main class="white-bg">
    <br /> <br /> <br />
    <section class="row">
        <aside class="col-md-10 col-md-offset-1 align">
            <h2 class="big-size"> About DividaBill  </h2>
            <hr />
        </aside>
        <br />
    </section>
    <br />
    <section class='row'>
        <aside class='col-md-6 col-md-offset-1 col-sm-7'>
            <p class="par">Time is precious. Who wants to spend it organising bills. It was this simple truth that led us to start DividaBill. </p> <br />
            <p class="par">
                Our aim is to replace the time-consuming, complex and opaque nature of utilities and replace them with a simple, quick and transparent solution.
            </p>    <br/>
            <p class="par">
                Working with traditional industries isn't easy and we expect ups and downs on the road to a more simple bill-paying solution for you.
            </p> <br/>
            <p class="par">
                DividaBill guarantees we will never stop working towards a world where we work on your bills so you don't have too.
            </p>
        </aside>
        <aside class='col-md-4 col-sm-5 hidden-xs'>
            <img src="~/Content/Images/v4/aboutus-bigimg.jpg" width='100%' class="person img-square">
        </aside>     
    </section>
   <br/> <br/>
    <section class='row'>
        <aside class='col-md-10 col-md-offset-1'>
            <p class='about-header'> Awards </p>
            <hr />
        </aside> <br /> <br />
    </section>
    <section class='row awards-block'>
        <aside class='col-sm-3 col-md-2 col-md-offset-2 col-xs-6'>
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/Dragons evnt.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align"> LEN Dragons Investment Event Winners</p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6' >
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/VPlogo.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align"> Finalists of the NACUE Varsity Pitch</p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6' >
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/big-startup loanscomp.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align">Semi-Finalists for the Big Start Up Loans Competititon </p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6'>
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/Shell livewire and young entrepreneur.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align"> Winners of the Shell LiveWire Grand Ideas Award</p>
        </aside>
    </section>
    <section class="row awards-block">
        <aside class='col-sm-3 col-md-2 col-md-offset-2 col-xs-6'>
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/Shell livewire and young entrepreneur.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align">Shell LiveWire Young Entrepreneur of the Year of contestant </p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6'>
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/SUlogo.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align">Take off Southampton Winners </p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6'>
            <p class="award-year align"> 2014 </p>
            <img src="~/Content/Images/v4/Awards/logo-lloyds-enterprise-awards-print.png?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align">Lloyds Enterprise Awards London & South East Shortlist </p>
        </aside>
        <aside class='col-sm-3 col-md-2 col-xs-6'>
            <p class="award-year align"> 2015 </p>
            <img src="~/Content/Images/v4/Awards/Setsquared-square.jpg?width=100&height=100&mode=pad" alt="..." class="img-circle awards align-button">
            <p class="award-info align"> Best Graduate Enterprise  </p>
        </aside>
    </section><br /> <br />
    <section class='row'><br/> <br/>
        <aside class='col-md-10 col-md-offset-1'>
            <p class='about-header'> Fancy Joining? </p>
            <hr />
        </aside> <br /> <br />
    </section>
    <section class="row">
        <aside class="col-md-10 col-md-offset-1">
            <p class="par">We have a variety of internship opportunities available. If you think this is the kind of team you 
                could thrive in and feel you could add real value to the company, please contact <a href="mailto:support@dividabill.co.uk">support@dividabill.com</a> for a list of opportunities. </p>
        </aside>
    </section>
    <br /> <br />

</main>