﻿@{
    Layout = null;
    ViewBag.Title = "Blog - Latest news from Dividabill";
	ViewBag.MetaDescription = "Catch up with the latest company, housing and industry news from DividaBill. Read up on changes to water, gas and electricity rates, as well as housing news.";
	ViewBag.MetaKeywords = "news, blog, student bills, divide house bills, student housing bills, house bills, Dividabill";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DividaBill</title>
    @Styles.Render("~/Content/metronic-core", "~/Content/metronic-login", "~/Content/raleway")
    @Scripts.Render("~/bundles/modernizr")

</head>

<!-- BEGIN BODY -->

<body class="login">

    <!-- BEGIN LOGO -->

    <div class="logo">

        <a href="/">

            <img src="~/Content/Images/logo.png" alt="" />

        </a>

    </div>

    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->

    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <h3 class="form-title text-center" style="color: white;">Coming Soon</h3>
    </div>

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->

    <div class="copyright">

        <p>&copy; @DateTime.Now.Year - DividaBill.co.uk</p>

    </div>

    <!-- END COPYRIGHT -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metronic-core")
    @Scripts.Render("~/bundles/metronic-login")

    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
            Login.init();
        });
    </script>
</body>

<!-- END BODY -->

</html>