﻿@{
    ViewBag.Title = "Manage student bills & Young professional bills - Divide your house bills";
    ViewBag.SubTitle = "Services";
    ViewBag.Heading = " We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "Simple bills for shared houses. Rather than one person paying all the bills, DividaBill can split your student & young professional housing bills for you.";
    ViewBag.MetaKeywords = "student bill management, bill management, student bills, easy student bills, student bills, young professional bills, split bills";
}
@section Header {
    <link rel="canonical" href="https://www.dividabill.co.uk/Home/Services" />
}
<main>
    <div class="head">
        <div class="row text-heading">
            <div class="col-sm-4 col-sm-offset-4">
                <i class="fa fa-cogs fa-5x header-icon"></i>
                <h3 class="big-size page-title"> Our Services </h3>
            </div>
        </div>
    </div>
    <div class="content">
        <br /><br />
        <div class="col-sm-4 col-md-3 col-lg-2 sidebar-wrapper">
            <div class="services-sidebar" data-spy="affix" data-offset-top="300">
                <div class="sidebar-btn">
                    <button href="#gas-service" class="small-service Gas active btn-block" data-target="Gas">
                        <i class="fa fa-fire fa-2x"></i>
                    </button>
                    <p class="service-title active hidden-xs">Gas & Electricity</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#water-service" class="small-service Water btn-block" data-target="Water">
                        <i class="fa fa-tint fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Water</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#internet-service" class="small-service Internet btn-block" data-target="Internet">
                        <i class="fa fa-wifi fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Internet</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#phone-service" class="small-service Telephone btn-block" data-target="Telephone">
                        <i class="fa fa-phone fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Landline Phone</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#sky-service" class="small-service Sky btn-block" data-target="Sky">
                        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="30px" style="margin-top: 2px;" viewBox="-19.11 -19.11 1101.22 675.22" id="svg2521">
                            <defs id="defs2523" />
                            <path class="sky" d="M 394.90627,0 C 374.03247,0 359.15627,10.3904 359.15627,35.9375 L 359.15627,486.09375 C 359.15627,496.11256 365.79197,500.375 374.18747,500.375 L 426.59377,500.375 C 447.54947,500.37499 462.37497,489.9385 462.37497,464.375 L 462.37497,14.28125 C 462.37497,4.21325 455.69007,0 447.34377,0 L 394.90627,0 z M 121.75,153.46875 C 41.9112,153.46875 0,199.7226 0,258.6875 C 0,311.09351 32.2622,343.0109 96.6875,357.375 L 199.5312,380.375 C 220.4379,385.08109 226.9375,390.9667 226.9375,401.625 C 226.9375,409.80729 220.4359,416.34375 201.5625,416.34375 L 42.0937,416.34375 C 16.5302,416.34374 6.25,431.159 6.25,452 L 6.25,485.3125 C 6.25,493.65869 10.3874,500.375 20.4062,500.375 L 195.3437,500.375 C 289.8253,500.37499 327.96873,454.0469 327.96873,399.3125 C 327.96873,342.693 295.2489,310.80005 231.25,296.46875 L 128.375,273.40625 C 107.4684,268.73366 101,262.84735 101,252.15625 C 101,244.00745 107.4852,237.5 126.375,237.5 L 279.4062,237.5 C 304.90414,237.5 315.21873,222.6403 315.21873,201.75 L 315.21873,168.53125 C 315.21874,160.16855 311.06488,153.46875 301.06248,153.46875 L 121.75,153.46875 z M 635.74997,153.46875 C 619.99207,153.46875 611.59957,157.682 602.18747,167.75 L 468.68747,311.09375 L 588.43747,485.59375 C 595.35717,495.66176 601.13217,500.375 611.59377,500.375 L 682.93747,500.375 C 693.61217,500.37499 699.81247,496.1107 699.81247,487.125 C 699.81247,481.61539 697.13557,478.03555 693.59377,472.96875 L 588.43747,317.3125 L 668.28127,231.3125 L 825.90627,464.375 L 756.21877,611.6875 C 754.30027,616.0164 752.06247,620.19367 752.06247,624.375 C 752.06247,632.88523 758.30227,637 766.81247,637 L 830.03127,637 C 842.91957,637.00001 848.47827,632.55064 853.24997,622.1875 L 1058.8125,178.875 C 1060.8458,174.5133 1063,170.38685 1063,166.15625 C 1063,157.66245 1056.8243,153.46875 1048.2813,153.46875 L 984.56247,153.46875 C 971.80517,153.46875 966.01537,157.96485 961.37497,168.34375 L 871.46877,367.9375 L 746.06247,170.40625 C 738.32287,158.15805 730.15707,153.46875 711.56247,153.46875 L 635.74997,153.46875 z" />
                        </svg>
                    </button>
                    <p class="service-title hidden-xs">Sky TV</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#tvl-service" class="small-service Television btn-block" data-target="TVLicense">
                        <i class="fa fa-desktop fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">TV License</p>
                </div>
            </div>
        </div>
        <div class="services-content col-sm-8">
            <div class="Gas-block service-section">
                <div class="services-image gas-image"></div><br /> <br />
                <p>With a combination of tariffs and packages, gas and electricity are the most complex of utilities. Dividabill makes things simple. Our registration process will have you signed up in minutes. We'll do the hard work to ensure you get a competitive deal.</p>
                <div class="col-sm-8 col-md-6">
                    <!--<div class="input-group">
                        <input type="text" class="form-control col-md-12" id="postcode_prices" style="z-index:0" placeholder="Postcode">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id='find-prices-btn' onclick="getPrices($('#postcode_prices').val())" style="margin-bottom: 3em;">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <br />
                <aside class='col-md-8 col-sm-12'>
                    <div id="gas-table" class="table-responsive">
                        <h3>Electricity</h3>
                        <table class="table table-bordered">
                            <tr>
                                <th class="tg-yw4l"></th>
                                <th class="tg-yw4l">Standard Charge</th>
                                <th class="tg-yw4l"></th>
                                <th class="tg-yw4l">Economy 7</th>
                                <th class="tg-yw4l"></th>
                                <th class="tg-yw4l"></th>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yw4l">Standing Charge</td>
                                <td class="tg-yw4l">Unit Rate</td>
                                <td class="tg-yw4l">Standing Charge</td>
                                <td class="tg-yw4l">Day Unit Rate</td>
                                <td class="tg-yw4l">Night Unit Rate</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l"></td>
                                <td class="tg-yw4l">p/day</td>
                                <td class="tg-yw4l">p/kWh</td>
                                <td class="tg-yw4l">p/day</td>
                                <td class="tg-yw4l">p/kWh</td>
                                <td class="tg-yw4l">p/kWh</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Eastern</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">14.18</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.33</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">East Midlands</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">13.81</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.37</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">London</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.05</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.39</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">MANWEB</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.48</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">19.66</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Midlands</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">14.58</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.89</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Northern</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">13.91</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.41</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">North West</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.99</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Southern</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.19</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.42</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">South East</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">14.86</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.57</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">South Wales</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.36</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">18.64</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">South West</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.18</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">19.69</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Yorkshire</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">13.85</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.43</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Scottish Power</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">13.81</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">17.96</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                            <tr>
                                <td class="tg-yw4l">Scottish Hydro</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">15.33</td>
                                <td class="tg-yw4l">14.7</td>
                                <td class="tg-yw4l">20.81</td>
                                <td class="tg-yw4l">8.93</td>
                            </tr>
                        </table>
                        <br />
                        <table class="table table-bordered">
                            <h3>Gas</h3>
                            <tr>
                                <th>Standard Change</th>
                                <th>Unit Rate</th>
                            </tr>
                            <tr>
                                <td>p/day</td>
                                <td>p/kWh</td>
                            </tr>
                            <tr>
                                <td>21</td>
                                <td>4.24</td>
                            </tr>
                        </table>
                    </div>
                </aside>
            </div>
            <div class="Water-block service-section" style="display:none;">
                <div class="services-image water-image"></div><br /> <br />
                <p>
                    DividaBill works with your local water company. We manage your account without upfront or management fees.
                    From the day you move in and alert us we are on the case, if you're moving let us know your dates so we can set you up.
                </p>
            </div>
            <div class="Internet-block service-section" style="display:none;">
                <div class="services-image internet-image"></div> <br /> <br />
                <p>
                    To ensure you get the internet speeds you deserve, we work with our partner Origin Broadband. Why? <br />
                    No installation, delivery, set up and line rental costs with a 12 month contract. <br />
                    A dedicated customer service  line to smooth installation.<br />
                    Unlimited download and upload capacity.
                </p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Basic broadband</th>
                                <th>Fibre Optic broadband</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Download Speed </th>
                                <td>Up-to 17 Mb/s</td>
                                <td>Up-to 76 Mb/s </td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>£30 per month </td>
                                <td>£48 per month</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="Telephone-block service-section" style="display:none">
                <div class="services-image phone-image"></div> <br> <br>
                <p>
                    You can't have a broadband connection without a landline and we know your parents like the assurance of you having a landline number.
                    So choose the package you want and use your minutes anytime including 0870 and 0845 numbers.
                </p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Call Packages</th>
                                <th>Description</th>
                                <th>Price per month</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Basic</td>
                                <td>Anytime calls to UK Landlines</td>
                                <td>£5</td>
                            </tr>
                            <tr>
                                <td>Advanced</td>
                                <td>Anytime calls to UK Landlines & UK Mobiles</td>
                                <td>£10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="Sky-block service-section" style="display:none;">
                <div class="services-image sky-image"></div> <br> <br>
                <p class="cust-para">
                    You will get 75 entertainment channels,
                    11 movie channels and 7 sports channels, so there really is something for everyone, all in stunning HD. Our priority installation team gets
                    you set up on your first choice date almost all of the time so we are ready to go when you are.
                </p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th>Channels</th>
                                <th>Quality</th>
                                <th>Contract</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>£68.00 per month <br> No delivery and installation costs</td>
                                <td>75 entertainment channels <br> 11 movie channels <br> 7 sports channels </td>
                                <td>All in stunning HD <br> <br>  Pause and record TV </td>
                                <td>Based on 12 month contract</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <p>Installation available across most of the UK.</p>
                </div>
            </div>
            <div class="TVLicense-block service-section" style="display:none;">
                <div class="services-image tv-image"></div> <br> <br>
                <p>
                    However you watch tv on a big telly on your laptop , tablet or phone if you watch it live you may be breaking the law if you do not have a tv license.
                    Remove any doubt by paying the £145.50 upfront and hassle free with Dividabill.
                </p> <br> <br>
                <aside class="row">
                    <aside class="col-sm-12 col-md-8 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>£12.30 per month</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </aside>
            </div>
        </div> <!--Services Content -->
    </div>
</main>
<!-- /call_to_actions -->
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(".small-service").click(function () {
            var target = $(this).data("target");
            if (!$(this).hasClass("active")) {
                $(".small-service").removeClass("active");
                $(".service-section").slideUp("slow");
                $(".service-title").removeClass("active");

                $(this).parent().find(".service-title").addClass("active");
                $(this).addClass("active");
                $("." + target + "-block").slideDown("slow");
            }

        });

        //Calculates how much the sidebar to be scrolled
        $(window).scroll(function () {
            footertotop = ($('.footer').position().top);
            scrolltop = $(document).scrollTop() + 400;
            difference = scrolltop - footertotop;
            if (scrolltop > footertotop) {

                $('.services-sidebar').css('margin-top', 0 - difference);
            }

            else {
                $('.services-sidebar').css('margin-top', 0);
            }
        });

        $("#postcode_prices").keyup(function (event) {
            if (event.keyCode == 13) {
                $("#find-prices-btn").click();
            }
        });

        function getPrices(postcode) {
            $.getJSON(window.env.getPublicApiUrl('Price/UnitPricing/' + postcode)).done(
                function (result) {
                    // Check if there were any items found
                    if (result.length == 0)
                        alert("Sorry, there were no results");
                    else {
                        $("#gas-ur").empty();
                        $("#gas-sc").empty();
                        $("#el-ur").empty();
                        $("#el-sc").empty();

                        $("#el-sc").text(result.ElectricityStandingCharge + "p");
                        $("#el-ur").text(result.ElectrcityUnitRate + "p");
                        $("#gas-sc").text(result.GasStandingCharge + "p");
                        $("#gas-ur").text(result.GasUnitRate + "p");


                    }
                });
        }

    </script>
}