﻿<!-- Gas Page template-->
<script id="electricity-page-tpl" type="text/template">
    <section class="container">
        <div id="back-to-dash"></div>
        <p class="gas-title">Gas</p>
    </section>
    <section class="container">
        <section class="row">
            <section class="water-body-full">
                <section class="col-lg-12 gas-body-section">

                    <div id="second-nav"></div><br /> <hr />
                    <div id="page-item"></div>

                    <div class="clear-fix"></div>
                </section>
                <div class="clear-fix"></div>

                <div id="footer-info"></div>

            </section>
        </section>
    </section>
</script>

<script id="bill-table-tpl" type="text/template">
    <div id="search-options"></div>

    <div id="usage-status"></div>
    <section id="bill-table"></section>
</script>

<!-- Table template-->
<script id="table-tpl" type="text/template">
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Bill No. </td>
                <td>Date</td>
                <td>Status</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</script>

<!--Table item template -->
<script id="table-item-tpl" type="text/template">
    <td class="water-table-td"><%= Name %></td>
    <td><%= Date %></td>
    <td><%= BillNo %></td>
    <td><%= Status %></td>
    <td><%= Amount %></td>
</script>


<!-- Back to dashboard link-->
<script id="back-to-dashboard-tpl" type="text/template">
    <section class="row">
        <aside class="broadband-phone2">
            <a href="index11.html" class="body-header-back"><i class="fa fa-angle-left"></i>back to dashboard</a>
        </aside>
    </section>
</script>



<!-- Second navigation with nothing chosen-->

<script id="billing-contract-usage-nav-tpl" type="text/template">
    <ul>
        <li><a class="bills" href="#">Bills</a></li>
        <li><button class="usage btn-link" data-toggle="tooltip" title="@ViewBag.Message" data-placement="top">Usage </button></li>
        <li><a class="contract" href="#">Contract</a></li>
        <li><a class="billing" href="#">Billing</a></li>
    </ul>
</script>

<!-- Search options-->
<script id="search-options-tpl" type="text/template">
    <section class="col-lg-12">
        <form action="" method="" class="water-body-form">
            <span class="water-search"><i class="fa fa-search"></i><input type="button" name="" class="water-button" /><input type="text" name="" class="water-text" placeholder="Search..." /></span>
            <span class="water-calender">
                <span class="water-calendar-label">from</span>
                <span class="water-calendar-input">
                    <i class="fa fa-calendar"></i><input type="text" id="from-date" name="" max="12-30-2013" placeholder="12-30-2013" />
                </span>
                <span class="water-calendar-label">to</span>
                <span class="water-calendar-input">
                    <i class="fa fa-calendar"></i><input type="text" id="to-date" name="" min="12-30-2014" placeholder="12-30-2014" />
                </span>
            </span>
            <span class="filter-select">
                <label class="filter" for="filter">filter by</label>
                <select name="" id="filter">
                    <option value="">Paid</option>
                    <option value="">Advance</option>
                    <option value="">Due</option>
                </select>
            </span>
            <a href="" class="water-print"><i class="fa fa-print"></i><span>Print</span></a>
            <a href="" class="water-download"><i class="fa fa-download"></i><span>Download</span></a>
        </form>
    </section>
</script>



<!-- Billing template-->
<script id="billing-item-tpl" type="text/template">
    <section class="billing-body" style="padding-top:40px;">
        <div style="padding-bottom:30px;text-align:center;color:#B2B2B2;font-size:12px;font-family:Helvetica-Light;">Waste Water Billing</div>
        <aside class="billing-body-aside1">
            <p>Last Month’s Payment</p>
            <p class="bill-box">£500.00</p>
            <i class="fa fa-question"></i>
        </aside>
        <aside class="billing-body-aside1">
            <p>Estimated Next Payment</p>
            <p class="bill-box">£500.00</p>
            <i class="fa fa-question"></i>
        </aside>
        <div class="clear-fix"></div>
    </section>
</script>

<!-- Billing footer information-->
<script id="billling-footer-info-tpl" type="text/template">
    <div class="clear-fix"></div>
    <a href="" class="view-bottom">View Broadband Biling History</a>
</script>



<!-- Contract item-->
<script id="contract-item-tpl" type="text/template">
    <section class="">
        <p style="font-family:Helvetica-Light;font-size:12px;margin-bottom:20px;color:#B2B2B2;margin-top:10px;">Current Status:<span style="font-weight:bold;font-family:Helvetica;font-size:16px;color:black;margin-left:10px;"><%= Status %></span></p>
        <span class="current-status">If you would like to add more services to your house account please do so by upgrading your package.<a href="">Upgrade Package</a><i class=" fa fa-question"></i></span>
    </section>
    <section class="billing-body4">
        <aside class="billing-body-aside1">
            <p>Contract State Date</p>
            <p class="bill-box"><%= StartDate %></p>
            <i class="fa fa-question"></i>
        </aside>
        <aside class="billing-body-aside1">
            <p>Contract End Date</p>
            <p class="bill-box"><%= EndDate %></p>
            <i class="fa fa-question"></i>
        </aside>
        <div class="clear-fix"></div>
    </section>
    <div class="clear-fix"></div>
    <p class="view-bottom">Cancelling or <a href="">Downgrading</a> your service may <a href="">incur fees</a>, tenants of this account will also be notified and <br />need to confirm this action.</p>

</script>


<!-- Electricity Usage - usage status-->
<script id="el-usage-status-tpl" type="text/template">
    <section class="">
        <p style="font-family:Helvetica-Light;font-size:12px;margin-bottom:20px;color:#B2B2B2;margin-top:10px;">Gas Status: <span style="font-weight:bold;font-family:Helvetica;font-size:16px;color:black;margin-left:10px;">Active</span></p>
        <span class="current-status">If you would like to add more services to your house account please do so by upgrading your package.<a href="">Upgrade Package</a><i class=" fa fa-question"></i></span>
    </section>
</script>

<!-- Usage - Current usage-->
<script id="current-usage-tpl" type="text/template">
    <section class="map-section">
        <section class="map-section-head">
            <span>Cancelling or <a href="">Downgrading</a> your service may <a href="">incur fees</a>, tenants of this account will also be notified and need to confirm this action.</span><span><span style="width:10px;height:10px;border-radius:100px;border:2px solid black;background-color:white;margin-right:10px;margin-left:10%;display:inline-block;"></span>Current Usage</span>
        </section>
        <p>Monthly Usage Comparison <i class="fa fa-question"></i></p>
        <figure>
            <img src="img/map.png" alt="">
        </figure>
    </section>
</script>

<!-- Monthly usage-->
<script id="monthly-usage-tpl" type="text/template">
    <section class="map-section-head">
        <span>Cancelling or <a href="">Downgrading</a> your service may <a href="">incur fees</a>, tenants of this account will also be notified and need to confirm this action.</span><i class="fa fa-signal" style="color:black;margin-right:10px;margin-left:10%;"></i><span style="color:black;">Monthly Comparison</span>
    </section>
    <section class="map-section-body map-full">
        <aside class="col-md-3">
            <aside class="map-single">
                <aside class="map-single-main">
                    <p class="map-s-m-head">Upload your Meter Readings</p>
                    <p>
                        We ask that you upload your meters
                        readings on a monthly basis to ensure
                        that our system readings are accurate
                        and that you are being billed
                        accordingly
                    </p>
                    <form action="" method="">
                        <input type="text" name="" placeholder="Enter Meter Serial Number..." class="map-single-a1"><br />
                        <input type="button" name="" value="Upload Meter Readings" class="map-single-a2">
                    </form>
                </aside>
            </aside>
        </aside>
        <aside class="col-md-9">
            <section class="row">
                <aside class="col-md-6 col-sm-6">
                    <aside class="map-single1">
                        <p class="map-single1-p">Fresh Water Meter Usage<i class="fa fa-question"></i></p>
                        <aside class="map-single11">
                            <div class="map-single111">
                                <p>Usage</p>
                                <span class="map-p1">700 Litres</span>
                            </div>
                            <div class="map-single111">
                                <p>Estimated</p>
                                <span class="map-p11">1000 Litres</span>
                            </div>
                            <div class="clear-fix"></div>
                        </aside>
                        <figure style="border-right:1px solid #ECECEC;">
                            <img src="img/map1.png" alt="">
                        </figure>
                    </aside>
                </aside>
                <aside class="col-md-6 col-sm-6">
                    <aside class="map-single1">
                        <p class="map-single1-p">Waste Water  Meter Usage<i class="fa fa-question"></i></p>
                        <aside class="map-single11">
                            <div class="map-single111">
                                <p>Usage</p>
                                <span class="map-p1">700 Litres</span>
                            </div>
                            <div class="map-single111">
                                <p>Estimated</p>
                                <span class="map-p11">1000 Litres</span>
                            </div>
                            <div class="clear-fix"></div>
                        </aside>
                        <figure>
                            <img src="img/map2.png" alt="" />
                        </figure>
                    </aside>
                </aside>
            </section>
        </aside>
        <aside class="col-md-5">
            <aside class="map-single"></aside>
        </aside>
    </section>
</script>