﻿@{
    ViewBag.Title = "Dashboard";
    ViewBag.Message = "Coming Soon...";
}


<script id="page-header-tpl" type="text/template">
    <section class="row">
        <aside class="broadband-phone2">
            <a class="body-header-back"><i class="fa fa-angle-left"></i>back to dashboard</a>
        </aside>
    </section>
    <section class="tenant3">
        <aside class="col-md-5 col-sm-5">
            <p class="row body-header-title"><%= PageHeaderTitle %> </p>
        </aside>
        <% if (PageHeaderMenu!=null) { %>
        <nav class="col-md-7 col-sm-7 navi">
            <ul>
                <% _.each(PageHeaderMenu.toJSON(), function(item){ %>
                @*<% console.log(item); %>*@
                <li><a id="<%= item.id %>"><%= item.linkTitle %></a></li>
                <% }); %>
            </ul>
        </nav>
        <% } %>
    </section>
    <br />
</script>

<script id="main-window-tpl" type="text/template">
    <div class="ajax-main">
        <!--[if lt IE 7]>
            <p >You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <main class="main" id="content"></main>
    </div>
</script>

<script id="dashboard-tpl" type="text/template">
    <section class="house-body">
        <section class="container">
            <section class="row" style="margin-top:15px;">
                <div id="notifications" class="col-md-6 col-sm-12 col-xs-12"></div>
                <div id="house-account" class="col-md-6 col-sm-12 col-xs-12"></div>
                <div id="tenant-settings" class="col-md-6 col-sm-12 col-xs-12"></div>
                <div id="services" class="col-md-6 col-sm-12 col-xs-12"></div>
                <div class="clear-fix"></div>
                <div class="house-body-bottom-p"><p>Having problems? Please <a href="">Report</a> the issue to help us. </p></div>
            </section>
        </section>
    </section>
</script>


<!-- Notifications Tile -->
<script id="notifications-tpl" type="text/template">
    <aside class="block notifications-block">
        <div class="third-single-img notifications">
            <i class="fa fa-envelope"></i>
        </div>
        <p class="block-title"> Notifications </p>
        <hr class="title-aligned" /> <br />
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center" style="color: #949494;">
                    Coming Soon...
                </h3><br/><br/>
            </div>
           <!-- <div class="col-sm-12 col-xs-12">
                <p class="col-sm-6 col-xs-6 service-text"> Notifications: </p>
                <p class="col-sm-6">??</p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="col-sm-6 col-xs-6 service-text"> Last Received: </p>
                <p class="col-sm-6">???</p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="col-sm-6 col-xs-6 service-text"> Marked Important: </p>
                <p class="col-sm-6">??</p>
            </div>-->

        </div>
        <div class="text-right">
            <button data-toggle="tooltip" data-trigger="hover" title="This is your Notification Section where you will receive alerts about recent changes to the house account, your next bills and much more."
                    data-placement="left" class="fa fa-question small-question"></button>

        </div>
    </aside>
</script>

<!-- House Tile -->
<script id="house-account-tpl" type="text/template">
    <aside style="height:340px" id="card">
        <aside class="block front" id="main">
            <div class="third-single-img house_account">
                <i class="fa fa-home"></i>
            </div>
            <p class="block-title"> House Account </p>
            <hr class="title-aligned" /> <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text">Total # of Tenants: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6"><%= TenantCount %></p>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text"> Active Services: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6 active_service">
                        <% _.each(ServiceInitials, function(item){ %>
                        <span><%= item %></span>
                        <% }); %>
                    </p>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text"> Starting Date: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6"><%= StartDate %></p>
                </div>

            </div>
            <div class="text-right">
                <button type="button" data-toggle="tooltip" data-trigger="hover" title="This is your House Account Section. From here you can view and soon make changes to the whole house account. "
                        data-placement="left" class="fa fa-question small-question"></button>
            </div>
        </aside>
        <div class="third-single back" id="back">
            <a class="e-back backButton">back</a>
            <div class="third-single-img" style="background-color:#F6921E;border:1px solid #F6921E;color:white;margin-top:0px;"><i class="fa fa-home"></i></div>
            <p class="third-single-title">House Account</p>
            <hr style="width:40%;">
            <br>
            <div class="col-xs-12">
                <p id="changeOfService" class="service-text col-sm-7">
                    Change of Service <span style="float:right"><i class="fa fa-angle-double-right"></i></span>
                </p>
                <p id="tenantManagement" class="service-text col-sm-7">
                    Tenant Management <span style="float:right"><i class="fa fa-angle-double-right"></i></span>
                </p>
            </div>
        </div>

    </aside>
</script>

<!-- Tenant Tile -->
<script id="tenant-tile-tpl" type="text/template">
    <div style="height:340px" id="card">
        <aside class="block front" id="main">
            <div class="third-single-img tenant_settings">
                <i class="fa fa-user"></i>
            </div>
            <p class="block-title"> Tenant Settings </p>
            <hr class="title-aligned" /> <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text">Tenant Start Date: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6"><%= StartDate %></p>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text">Tenant End Date: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6 active_service"><%= EndDate %></p>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <p class="col-md-5 col-sm-6 col-xs-6 service-text"> Length of Stay: </p>
                    <p class="col-md-7 col-sm-6 col-xs-6"><%= Duration %> days</p>
                </div>

            </div>
            <div class="text-right">
                <button data-toggle="tooltip" data-trigger="hover" title="This is your Tenant Settings Section. From here you change your personal details, and soon divide the share of bills."
                        data-placement="left" class="fa fa-question small-question"></button>

            </div>
        </aside>

        <aside class="block back">
            <a class="e-back backButton">back</a>
            <div class="third-single-img tenant-colored">
                <i class="fa fa-user"></i>
            </div>
            <p class="block-title"> Tenant Settings </p>
            <hr class="title-aligned" /> <br />
            <div class="row">
                <div class="col-sm-12 col-xs-12" id="tenantAccount">
                    <p class="col-sm-7 service-text">
                        Tenant Account
                        <span class="right"><i class="fa fa-angle-double-right"></i></span>
                    </p>
                </div>
                <div class="col-sm-12 col-xs-12" id="paymentDetails">
                    <p class="col-sm-7 service-text">
                        Payment Details
                        <span class="right"><i class="fa fa-angle-double-right"></i></span>
                    </p>
                </div>
            </div>
            <br />
        </aside>
    </div>
</script>

<!-- Services Tile -->
<script id="services-tpl" type="text/template">
    <aside class="block">
        <div class="third-single-img services-settings">
            <i class="fa fa-wifi"></i>
        </div>
        <p class="block-title"> Services </p>
        <hr class="title-aligned" /> <br />
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <p class="col-md-5 col-sm-6 col-xs-6 service-text">Total Estimated Bill: </p>
                <p class="col-md-7 col-sm-6 col-xs-6"><%= CurrentBill %></p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="col-md-5 col-sm-6 col-xs-6 service-text">Total Previous Bill: </p>
                <p class="col-md-7 col-sm-6 col-xs-6 active_service"><%= PreviousBill %></p>
            </div>
            <div class="col-sm-12 col-xs-12">
                <p class="col-md-5 col-sm-6 col-xs-6 service-text">Last Bill Payment: </p>
                <p class="col-md-7 col-sm-6 col-xs-6"><%= LastBillPayment %></p>
            </div>

        </div>
        <div class="text-right">
            <button data-toggle="tooltip"  data-trigger="hover" title="This is the Services Section. You can view the details of all your services, and manage everything from here. "
                    data-placement="left" class="fa fa-question small-question"></button>
        </div>
    </aside>
</script>


<!-- Services Dashboard -->
<script id="services-dashboard-tpl" type="text/template">
    <section class="container">
        <div id="page-header"></div>
        <div id="page-item">
            <aside class="col-sm-4 col-md-3 col-xs-12 bb-tile">
                <aside class="block">
                    <div class="third-single-img broadband <% if(Services[4].IsActive) {%> broadband-active <% } %>">
                        <i class="fa fa-wifi"></i>
                    </div> <br />
                    <p class="block-title"> Broadband </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[4].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[4].BillStatus %></p>

                    </div>
                    <br />

                    <% if(!Services[4].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip"  data-trigger="hover" title="This is your Broadband service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 phone-tile">
                <aside class="block">
                    <div class="third-single-img broadband <% if(Services[8].IsActive) {%> broadband-active <% } %>">
                        <i class="fa fa-phone"></i>
                    </div> <br />
                    <p class="block-title"> Phone </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[8].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[8].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[8].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your Phone service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 tv-tile">
                <aside class="block">
                    <div class="third-single-img television <% if(Services[7].IsActive) {%> television-active <% } %>">
                        <i class="fa fa-desktop"></i>
                    </div> <br />
                    <p class="block-title"> TV License </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[7].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[7].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[7].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your TV License service. You can click on it to see more details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 water-tile">
                <aside class="block">
                    <div class="third-single-img water <% if(Services[3].IsActive) {%> water-active <% } %>">
                        <i class="fa fa-tint"></i>
                    </div> <br />
                    <p class="block-title"> Water </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[3].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[3].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[3].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your Water service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 electricity-tile">
                <aside class="block">
                    <div class="third-single-img notifications <% if(Services[1].IsActive) {%> electricity-active <% } %>">
                        <i class="fa fa-bolt"></i>
                    </div> <br />
                    <p class="block-title"> Electricity </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[1].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[1].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[1].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your Electricity service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 gas-tile">
                <aside class="block">
                    <div class="third-single-img gas <% if(Services[2].IsActive) {%> gas-active <% } %>">
                        <i class="fa fa-fire"></i>
                    </div> <br />
                    <p class="block-title"> Gas </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[2].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[2].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[2].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your Gas service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12 sky-tile">
                <aside class="block">
                    <div class="third-single-img sky <% if(Services[6].IsActive) {%> sky-active <% } %>">
                        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="40px" viewBox="-19.11 -19.11 1101.22 675.22" id="svg2521">
                            <defs id="defs2523" />
                            <path class="sky <% if(Services[6].IsActive) {%> sky-svg-active <% } %>" d="M 394.90627,0 C 374.03247,0 359.15627,10.3904 359.15627,35.9375 L 359.15627,486.09375 C 359.15627,496.11256 365.79197,500.375 374.18747,500.375 L 426.59377,500.375 C 447.54947,500.37499 462.37497,489.9385 462.37497,464.375 L 462.37497,14.28125 C 462.37497,4.21325 455.69007,0 447.34377,0 L 394.90627,0 z M 121.75,153.46875 C 41.9112,153.46875 0,199.7226 0,258.6875 C 0,311.09351 32.2622,343.0109 96.6875,357.375 L 199.5312,380.375 C 220.4379,385.08109 226.9375,390.9667 226.9375,401.625 C 226.9375,409.80729 220.4359,416.34375 201.5625,416.34375 L 42.0937,416.34375 C 16.5302,416.34374 6.25,431.159 6.25,452 L 6.25,485.3125 C 6.25,493.65869 10.3874,500.375 20.4062,500.375 L 195.3437,500.375 C 289.8253,500.37499 327.96873,454.0469 327.96873,399.3125 C 327.96873,342.693 295.2489,310.80005 231.25,296.46875 L 128.375,273.40625 C 107.4684,268.73366 101,262.84735 101,252.15625 C 101,244.00745 107.4852,237.5 126.375,237.5 L 279.4062,237.5 C 304.90414,237.5 315.21873,222.6403 315.21873,201.75 L 315.21873,168.53125 C 315.21874,160.16855 311.06488,153.46875 301.06248,153.46875 L 121.75,153.46875 z M 635.74997,153.46875 C 619.99207,153.46875 611.59957,157.682 602.18747,167.75 L 468.68747,311.09375 L 588.43747,485.59375 C 595.35717,495.66176 601.13217,500.375 611.59377,500.375 L 682.93747,500.375 C 693.61217,500.37499 699.81247,496.1107 699.81247,487.125 C 699.81247,481.61539 697.13557,478.03555 693.59377,472.96875 L 588.43747,317.3125 L 668.28127,231.3125 L 825.90627,464.375 L 756.21877,611.6875 C 754.30027,616.0164 752.06247,620.19367 752.06247,624.375 C 752.06247,632.88523 758.30227,637 766.81247,637 L 830.03127,637 C 842.91957,637.00001 848.47827,632.55064 853.24997,622.1875 L 1058.8125,178.875 C 1060.8458,174.5133 1063,170.38685 1063,166.15625 C 1063,157.66245 1056.8243,153.46875 1048.2813,153.46875 L 984.56247,153.46875 C 971.80517,153.46875 966.01537,157.96485 961.37497,168.34375 L 871.46877,367.9375 L 746.06247,170.40625 C 738.32287,158.15805 730.15707,153.46875 711.56247,153.46875 L 635.74997,153.46875 z" />
                        </svg>
                    </div> <br />
                    <p class="block-title"> Sky </p>
                    <hr class="title-aligned" /> <br />
                    <div class="row">
                        <p class="col-xs-7 service-text text-right">Estimated Bill: </p>
                        <p class="col-xs-4"><%= Services[6].EstimatedBill %></p>
                        <p class="col-xs-7 service-text text-right"> Status: </p>
                        <p class="col-xs-4"><%= Services[6].BillStatus %></p>
                    </div> <br />
                    <% if(!Services[6].IsActive) {%>
                    <button type="button" class="btn col-xs-10 col-xs-offset-1 start-service-btn"> Start this Service </button>
                    <% } %>
                    <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="This is your Sky service. You can click on it to see your bills details."
                                data-placement="left" class="fa fa-question small-question">
                            </i>
                        </button>
                    </div>
                </aside>

            </aside>
            <aside class="col-sm-4 col-md-3 col-xs-12">
                <aside class="block">
                    <div class="third-single-img coming-soon">
                        <i class="fa fa-cloud-upload"></i>
                    </div> <br /><br />
                    <h2 class=" block-title" style="color:#949494"> Cloud Storage </h2>
                    <hr />
                    <div class="row">
                        <br />
                        <h3 class="text-center" style="color:#949494">Coming Soon... </h3>
                    </div> <br /><br/>
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="We will provide Cloud Starage soon."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <aside class="col-xs-12">
                <aside class="block">
                    <div class="third-single-img coming-soon">
                        <i class="fa fa-question"></i>
                    </div> <br />
                    <h2 class="text-center" style="color:#949494"> Coming Soon... </h2>
                    <hr /> <br />
                    <div class="row">
                        <br />
                        <h3 class="text-center" style="color:#949494">More DividaBill services coming soon for you!</h3>

                    </div> <br /> <br />
                    <div class="text-right">
                        <button data-toggle="tooltip" data-trigger="hover" title="You can request more services by using this block."
                                data-placement="left" class="fa fa-question small-question"></button>
                    </div>
                </aside>
            </aside>
            <div class="clear-fix"></div>
        </div>
    </section>
</script>

<!--Change of Services template-->
<script id="changeServices-tpl" type="text/template">
    <br />
    <section class="container">
        <section class="row">
            <section class="tenant-body-full">
                <section class="col-md-7">
                    <section class="house-ac-index51">
                        <p><span class="span1">Account Created :</span><span class="span2"><%= CreationDate %></span></p>
                        <p>
                            <span class="span1" style="margin:20px 0;display:inline-block;">Current Active Services :</span><span class="span2">
                                <% _.each(ServiceInitials, function(item){ %>
                                <span><%= item %></span>
                                <% }); %>
                            </span>
                        </p>
                        <div class="house-navi">
                            <% _.each(Services, function(item){ %>
                            <button class="btn-link" onclick="App.vent.trigger('show:showService', '<%= item %>');"><%= item %></button> -
                            <% }); %>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message"
                                    data-placement="top" class="span4 btn-link">
                                Upgrade Package
                            </button><!--<i class="fa fa-question small-question" style="margin-left: 1em;"></i>-->

                        </div>
                        <span class="span6">click service to view usage charts</span>
                    </section>
                    <!-- <section class="house-ac-index52">
                         <p><span class="span1">Current Active Services :</span><span class="span2"><span>Tv</span><span>TL</span></span></p>
                         <div class="house-navi">
                             <a href="">Television </a> - <a href=""> Television License </a>
                             <button data-toggle="tooltip" title="@ViewBag.Message"
                                     data-placement="top" class="span4 btn-link">Upgrade Package</button>
                             <i class="fa fa-question small-question" style="margin-left: 1em;"></i>
                         </div>
                     </section>-->
                    <section class="house-ac-index53">
                        <p>
                            Cancelling or 
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top" class="btn-link"> Downgrading</button>
                             a DividaBill Account may 
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top" class="btn-link"> incur fees</button>
                        , tenants of this account will also be notified andneed to
                            confirm this action


                            
                        </p><br/>
                        <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message"
                                data-placement="top" class="house-ac-a">
                            Cancel Account
                        </button>
                    </section>
                </section>
                <section class="col-md-5 col-sm-5"></section>
                <div class="clear-fix"></div>
            </section>
        </section>
    </section>
</script>

<!--Tenant Management-->
<script id="tenantManagement-tpl" type="text/template">
    <br />
    <section class="container">
        <section class="row">
            <section class="tenant-body-full">
                <section class="col-md-12">
                    <section class="row">
                        <section class="col-md-6 ">
                            <section class="house-ac-head2-left">
                                <span style="color:#989898;">Total # of Tenants :</span><span style="color:black;padding:0 30px;font-size:16px;"><%= TenantCount %></span>
                            </section>
                        </section>
                        <section class="col-md-6"></section>
                    </section>
                    <section class="row">
                        <section class="col-md-6">
                            <div class="house-ac-head-left2">
                                <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message"
                                        data-placement="top" class="client-add btn-link">
                                    <i class="fa fa-plus-circle"></i> Add New Tenant
                                </button>
                                <!--<i class="fa fa-question small-question" style="margin-left: 1em;"></i>-->
                            </div>
                            <div class="clear-fix"></div>
                        </section>
                        <section class="col-md-6"></section>
                    </section>

                </section>

                <section class="gas-table-section col-lg-12" style=" margin-top: 30px;">
                    <section class="gas-table1">
                        <p><!--<a href="" style="color:black;">-->Current Tenants</p>
                        <!--<p><a href="" style="color:#ccc;">Past Tenants :</a></p>-->
                    </section>
                    <!-- House Account Table template-->
                    <div id="tenant-table">

                    </div>

                    <div class="clear-fix"></div>
                </section>
                <div class="clear-fix"></div>
            </section>
        </section>
    </section>
</script>

<!-- Tenant Settings template -->
<script id="tenant-settings-tpl" type="text/template">

    <section class="container">
        <div id="page-header"></div>
    </section>
    <div id="page-item"></div>
</script>

<!-- Edit User Details-->
<script id="edit-details-tpl" type="text/template">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="user_name" class="control-label tanent-left-td col-xs-offset-1 col-xs-2">Name:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="user_name" id="user_name" value=" <%= FullName %>" />
            </div>
        </div>
        <div class="form-group">
            <label for="user_name" class="control-label tanent-left-td col-xs-offset-1 col-xs-2">Phone:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="user_name" id="user_name" value="<%= PhoneNumber %>" />
            </div>
        </div>
        <div class="form-group">
            <label for="user_name" class="control-label tanent-left-td col-xs-offset-1 col-xs-2">Email:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="user_name" id="user_name" value="<%= EMail %>" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1">
                <button type="button" class="btn btn-danger col-xs-offset-3 col-xs-4" id="cancel-edit">Cancel</button>
                <button type="button" class="btn btn-success  col-xs-offset-1 col-xs-4" id="submit">Save</button>
            </div>
        </div>
    </form>
</script>

<script id="tenant-details-tpl" type="text/template">
    <!--<aside class="tanent-left2-part12">
        <img src="" alt="" /><br/>
        <a href="">remove image</a>
    </aside>-->

    <table style="float:left;" id="details">
        <tr>
            <td class="tanent-left-td">Name :</td>
            <td class="tanent-left-td2"><%= FullName %> </td>
        </tr>
        <tr>
            <td class="tanent-left-td">Phone # :</td>
            <td class="tanent-left-td2"><%= PhoneNumber %></td>
        </tr>
        <tr>
            <td class="tanent-left-td">Email : </td>
            <td class="tanent-left-td2"><%= EMail %></td>
        </tr>
    </table>
    <span style="float:right;font-size:12px;;">
        <i class="fa fa-pencil"></i>
        <button class="client-edit btn-link" id="edit-details-btn">Edit </button>
    </span>
    <div class="clear-fix"></div>
</script>

<script id="tenant-account-tpl" type="text/template">
    <br />
    <section class="container">
        <section class="row">
            <section class="tenant-body-full">
                <section class="col-md-5">
                    <section class="tanent-left" id="tenant-details"></section>
                    <section class="tanent-left2">
                        <aside class="text-center col-xs-6">
                            <p class="">Tenant Start Date</p>
                            <span class="tenant-date-input">
                                <i class="fa fa-calendar"></i>
                                <input type="text" name="startDate" readonly value="<%= StartDate %>" />
                            </span>
                            <br />
                            <button class="btn-link" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top"> <i class="fa fa-question small-question" style="margin:0"></i></button>
                        </aside>
                        <aside class="text-center col-xs-6">
                            <p class="">Tenant End Date</p>
                            <span class="tenant-date-input">
                                <i class="fa fa-calendar"></i>
                                <input type="text" name="endDate" readonly value="<%= EndDate %>" />
                            </span>
                            <br />
                            <button class="btn-link" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top"><i class="fa fa-question small-question" style="margin:0"></i></button>

                        </aside>
                        <div class="clear-fix"></div>
                    </section>

                    <section class="tanent-left22">
                        <p>
                            Removing yourself from Tenacy on a DividaBill Account may <button class="btn-link" data-toggle="tooltip" title="@ViewBag.Message" data-placement="top">incur fees </button>,
                            <br />tenants of this account will also be notified and need to confirm this action.
                        </p>
                        <button class="tanent-bottom-a" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">End Tenancy</button>


                    </section>
                </section>

                <section class="col-md-7">
                    <section class="tanent-right">
                        <aside class="tanent-right7-part1">
                            <p class="ta-right71">Would you like to refer a tenant? </p>
                            <br />
                            <p class="ta-right72">
                                Please refer tenants to send out an email that will allow the house bill to be split amongst included tenants
                                <br />once they have signed up and added to the house account.
                            </p>
                            <br />
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">Refer a Tenant</button>
                        </aside>
                        <div style="clear:both;"></div>
                        <aside class="tanent-right7-part2">
                            <p class="ta-right71">Would you like to refer a friend to Dividabill?</p>
                            <br />
                            <p class="ta-right72">
                                You can refer friends to use our Dividabill services.<br /><br />Once they have signed up you will receive a £10 credit to your account. If they refer another friend to join our
                                services you receive £5 and they receive £10 as long at that house account is not already in our system.
                            </p>
                            <br />
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" class="btn-link" data-placement="top"><i class="fa fa-envelope"></i> </button>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" class="btn-link" data-placement="top"><i class="fa fa-facebook" style="padding:8px 11px;"></i> </button>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" class="btn-link" data-placement="top"><i class="fa fa-twitter"></i> </button>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" class="btn-link" data-placement="top"><i class="fa fa-google-plus"></i> </button>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" class="btn-link" data-placement="top"><i class="fa fa-linkedin"></i> </button>
                        </aside>
                    </section>
                </section>

                <div class="clear-fix"></div>
            </section>
        </section>
    </section>
</script>

<!-- Edit Paydetails Details-->
<script id="edit-paydetails-tpl" type="text/template">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="method" class="control-label tanent-left-td col-xs-3 col-md-4">Payment Method:</label>
            <div class="col-xs-8 col-md-8">
                <input type="text" class="form-control" name="method" id="method" value="<%= PaymentMethod %>" />
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="control-label tanent-left-td col-xs-3 col-md-4">Type:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="type" id="type" value="<%= PaymentType %>" />
            </div>
        </div>
        <div class="form-group">
            <label for="account_number" class="control-label tanent-left-td col-xs-3 col-md-4">Account Number:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="account_number" id="account_number" value="<%= AccountNumber %>" />
            </div>
        </div>
        <div class="form-group">
            <label for="sort_code" class="control-label tanent-left-td col-xs-3 col-md-4">Sort Number:</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" name="sort_code" id="sort_code" value="<%= AccountSortCode %>" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-10 col-xs-offset-1 col-md-11">
                <button type="button" class="btn btn-danger col-xs-3  col-xs-offset-5" id="cancel-paydetails">Cancel</button>
                <button type="button" class="btn btn-success  col-xs-offset-1 col-xs-3" id="submit-peydetails">Save</button>
            </div>
        </div>
    </form>
</script>

<script id="paydetails-tpl" type="text/template">
    <table style="float:left;">
        <tr>
            <td class="tanent-left-td">Payment Method :</td>
            <td class="tanent-left-td2"> <%= PaymentMethod %></td>
        </tr>
        <tr>
            <td class="tanent-left-td">Type</td>
            <td class="tanent-left-td2"><%= PaymentType %></td>
        </tr>
        <tr>
            <td class="tanent-left-td">Account Number</td>
            <td class="tanent-left-td2"> <%= AccountNumber %></td>
        </tr>
        <tr>
            <td class="tanent-left-td">Sort Code</td>
            <td class="tanent-left-td2"> <%= AccountSortCode %></td>
        </tr>
    </table>
    <span style="float:right;font-size:12px;;">
        <i class="fa fa-pencil"></i>
        <button class="client-edit1 btn-link" id="edit-paydetails-btn">Edit </button>
    </span>
    <div class="clear-fix"></div>
</script>

<script id="payment-details-tpl" type="text/template">
    <br />
    <section class="container">
        <section class="row">
            <section class="tenant-body-full">
                <section class="col-md-5">
                    <section class="tanent-left" id="tenant_paydetails"></section>
                    <section class="tanent-left2 col-xs-12">
                        <aside class="col-xs-6 text-center">
                            <p class="">Last Month’s Payment</p>
                            <p class="tanent-pa-p"><%= LastPayment %></p>
                        </aside>
                        <aside class="col-xs-6 text-center">
                            <p class="">Estimated Next Payment</p>
                            <p class="tanent-pa-p"><%= NextPayment %></p>
                        </aside>
                        <div class="clear-fix"></div>
                    </section>
                    <button class="btn-link tanent-foot-a" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">View Payment Detail History </button>
                </section>
                <section class="col-md-7">
                    <section class="tanent-right">
                        <div class="tanent-right-part1">
                            <span class="tanent-span1">
                                Payment Allocation
                            </span>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">Original Setting </button>
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">Confirm Change </button>
                            <div class="clear-fix"></div>
                        </div>
                        <form action="" method="" style="margin-top:30px;">
                            <input type="range" name="points" min="0" max="100" disabled step="0.01" id="points">
                        </form>
                        <div class="tanent-right-part2">
                            <span class="ta-ri-part1">You will pay the following months :</span><span class="ta-ri-part2" id="valBox">£0</span><i class="fa fa-question"></i><br />
                            <span class="ta-ri-part1" style="margin-right:63px;">Fellow tenants adjusted to: </span><span class="ta-ri-part2" id="other">£0</span><i class="fa fa-question"></i>
                        </div>
                        <div class="tanent-rigth-part3">
                            You can adjust the payment allocation for your following payouts above. The remaining estimated amount
                            will be readjusted to estimate the new charges your fellow tenants and you will incur.
                            <br /><br />
                            Tenants of this account will also be notified and need to confirm this action.
                        </div>
                    </section>
                </section>
                <div class="clear-fix"></div>
            </section>
        </section>
    </section>
</script>

<script id="payment-history" type="text/template">
    <section class="container">
        <section class="row">
            <section class="tenant-body-full">
                <section class="tenant-body-section">
                    <aside class="broadband-phone2">
                        <a href="index4.html" class="body-header-back" style="color:#989898;padding-left:20px;"><i class="fa fa-angle-left"></i>back to dashboard</a>
                    </aside>
                </section>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon input-icon"> <i class="fa fa-search"></i></span>
                            <input type="text" class="form-control" placeholder="Search...." aria-describedby="basic-addon1" style="border-left: 0px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label search-label" for="start-date">from</label>
                        <div class="input-group full-calendar">
                            <div class="input-group-addon input-icon calendar-icon"> <i class="fa fa-calendar"></i></div>
                            <input type="date" class="form-control calendar-input" id="start-date" placeholder="" style="border-left: 0px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label search-label" for="end-date">to</label>
                        <div class="input-group full-calendar">
                            <div class="input-group-addon input-icon calendar-icon"><i class="fa fa-calendar"></i></div>
                            <input type="date" class="form-control calendar-input" id="end-date" placeholder="" style="border-left: 0px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label search-label" for="filter">filter by</label>
                        <select class="form-control" id="filter">
                            <option value="one">Paid</option>
                            <option value="two">Advance</option>
                            <option value="three">Due</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <a href="" class="water-print"><i class="fa fa-print"></i><span>Print</span></a>
                        <a href="" class="water-download"><i class="fa fa-download"></i><span>Download</span></a>
                    </div>
                </form> <br /> <br />
                <section class="tenant-table-section col-lg-12">
                    <table>
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Bill No. </td>
                                <td>Date</td>
                                <td>Status</td>
                                <td>Amount</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="tenant-table-td">Credit Card</td>
                                <td>?????????</td>
                                <td>??-??-????</td>
                                <td>?!?!</td>
                                <td>£??</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="tenant-table-td"></td>
                                <td></td>
                                <td></td>
                                <td style="font-weight:bold;color:black;padding-top:30px;">Total</td>
                                <td style="font-weight:bold;color:black;padding-top:30px;">£???</td>
                            </tr>
                        </tfoot>
                    </table>
                </section>
                <div class="clear-fix"></div>
            </section>
        </section>
    </section>
</script>



<!-- Service Page template-->
<script id="service-page-tpl" type="text/template">
    <section class="container">
        <div id="page-header"></div>
    </section>
    <section class="container">
        <section class="row">
            <section class="water-body-full">
                <section class="gas-body-section">

                    <div id="second-nav"></div><br /> <hr />
                    <div id="page-item"></div>

                    <div class="clear-fix"></div>
                </section>
                <div class="clear-fix"></div>

                <div id="footer-info"></div>

            </section>
        </section>
    </section>
</script>

<script id="bill-table-tpl" type="text/template">
    <!--<div id="search-options"></div>-->

    <div id="usage-status"></div>
    <br />
    <br />
    <section id="bill-table"></section>
</script>


<!-- Table template-->
<script id="table-tpl" type="text/template">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Bill No. </td>
                    <td>Date</td>
                    <td>Status</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="table-item-tpl" type="text/template">
    <td class="water-table-td"><%= Name %></td>
    <td><%= BillNo %></td>
    <td><%= Date %></td>
    <td><%= Status %></td>
    <td><%= Amount %></td>
</script>

<!--House Account Tenants table template-->
<script id="house-table-tpl" type="text/template">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Tenancy Start </td>
                    <td>Tenancy End</td>
                    <td>Last Payment</td>
                    <td>Payment Status</td>
                    <td colspan="2"></td>
                </tr>
            </thead>
            <tbody>
                <% _.each(Tenants, function(item){ %>
                <tr>
                    <td><%= item.FullName %></td>
                    <td><%= item.StartDate %></td>
                    <td><%= item.EndDate %></td>
                    <td><%= item.PaymentStatus %></td>
                    <td><%= item.LastPaymentAmount %></td>
                    <td class="client-edit">
                            <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top" class="client-edit11 btn-link">
                                <i class="fa fa-pencil"></i> Edit Details
                            </button>
                    </td>
                    <td class="client-edit">
                        <button data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top" class="client-remove btn-link">
                            <i class="fa fa-minus-circle"></i>Remove Tenant
                        </button>
                    </td>
                </tr>
                <% }); %>

            </tbody>
        </table>
    </div>

</script>

<!-- Second navigation with nothing chosen-->

<script id="billing-contract-usage-nav-tpl" type="text/template">
    <ul>
        <li><a class="bills" href="#">Bills</a></li>
        <li><button class="usage btn-link" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">Usage </button></li>
        <li><a class="contract" href="#">Contract</a></li>
        <li><a class="billing" href="#">Billing</a></li>
    </ul>
</script>

<!-- Search options-->
<script id="search-options-tpl" type="text/template">
    <form class="form-inline">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon input-icon"> <i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search...." aria-describedby="basic-addon1" style="border-left: 0px;">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label search-label" for="start-date">from</label>
            <div class="input-group full-calendar">
                <div class="input-group-addon input-icon calendar-icon"> <i class="fa fa-calendar"></i></div>
                <input type="date" class="form-control calendar-input" id="start-date" placeholder="" style="border-left: 0px;">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label search-label" for="end-date">to</label>
            <div class="input-group full-calendar">
                <div class="input-group-addon input-icon calendar-icon"><i class="fa fa-calendar"></i></div>
                <input type="date" class="form-control calendar-input" id="end-date" placeholder="" style="border-left: 0px;">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label search-label" for="filter">filter by</label>
            <select class="form-control" id="filter">
                <option value="one">Paid</option>
                <option value="two">Advance</option>
                <option value="three">Due</option>
            </select>
        </div>
        <div class="form-group">
            <a href="" class="water-print"><i class="fa fa-print"></i><span>Print</span></a>
            <a href="" class="water-download"><i class="fa fa-download"></i><span>Download</span></a>
        </div>
    </form>
</script>



<!-- Billing template-->
<script id="billing-item-tpl" type="text/template">
    <section class="billing-body" style="padding-top:40px;">
        <div style="padding-bottom:30px;text-align:center;color:#B2B2B2;font-size:12px;font-family:Helvetica-Light;">Waste Water Billing</div>
        <aside class="billing-body-aside1">
            <p>Last Month’s Payment</p>
            <p class="bill-box"><%= LastPayment %></p>
            <i class="fa fa-question"></i>
        </aside>
        <aside class="billing-body-aside1">
            <p>Estimated Next Payment</p>
            <p class="bill-box"><%= NextPayment %></p>
            <i class="fa fa-question"></i>
        </aside>
        <div class="clear-fix"></div>
    </section>
</script>

<!-- Contract item-->
<script id="contract-item-tpl" type="text/template">
    <section class="col-sm-12">
        <p style="font-family:Helvetica-Light;font-size:12px;margin-bottom:20px;color:#B2B2B2;margin-top:10px;">
            Current Status:
            <span style="font-weight:bold;font-family:Helvetica;font-size:16px;color:black;margin-left:10px;">
                <%= Status %>
            </span>
        </p>
        <span class="current-status">
            If you would like to add more services to your house account please do so by upgrading your package.
            <button href="#" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">Upgrade Package </button>
            <!--<i class="small-question fa fa-question"></i>-->
        </span>
    </section>
    <section class="billing-body4">
        <aside class="billing-body-aside1">
            <p>Contract Start Date</p>
            <p class="bill-box"><%= StartDate %></p>
            <i class="fa fa-question"></i>
        </aside>
        <aside class="billing-body-aside1">
            <p>Contract End Date</p>
            <p class="bill-box"><%= EndDate %></p>
            <i class="fa fa-question"></i>
        </aside>
        <div class="clear-fix"></div>
    </section>
    <div class="clear-fix"></div>
    <p class="view-bottom">
        Cancelling or
        <button class="btn-link" data-toggle="tooltip" data-trigger="hover" title="@ViewBag.Message" data-placement="top">incur fees </button>
        , tenants of this account will also be notified and <br />need to confirm this action.
    </p>

</script>


