﻿<main class="white-bg">
    <br /><br />

    <div class="col-sm-3">
        <button class="btn btn-default" type="button" id="refresh-btn">Refresh </button> <br />
        <div class="logs" style="min-height: 100px; border: 1px solid #ccc;padding: 10px;margin-top: 38px;">
            <p class="par"><b> LOGS: </b></p>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="responsive-table">
            <label class="label-control pull-right" style="margin-right: 100px;"> Save to DB  <input type="checkbox" value="true" id="saveToDB" class="chekbox" /> </label>
            <table class="table table-bordered text-center" id="info-table">
                <thead>
                    <th class="text-center"> Name </th>
                    <th class="text-center" colspan="2"> Last changes | Dividabill </th>
                    <th class="text-center" colspan="2"> Last changes | Other </th>
                    <th class="text-center"> Pull data </th>
                    <th class="text-center"> Push data</th>
                </thead>
                <tbody>
                    <tr>
                        <td> Origin </td>
                        <td> Date </td>
                        <td> # Changes </td>
                        <td> Date </td>
                        <td> # Changes </td>
                        <td> <button class="btn btn-success fetch-btn" data-target="1" type="button">Fetch </button> </td>
                        <td> <button class="btn btn-warning" type="button"> Sync </button> </td>
                    </tr>
                    <tr>
                        <td> Origin </td>
                        <td> Date </td>
                        <td> # Changes </td>
                        <td> Date </td>
                        <td> # Changes </td>
                        <td> <button class="btn btn-success" type="button">Fetch </button> </td>
                        <td> <button class="btn btn-warning" type="button"> Sync </button> </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
    <Br /> <br /> <br />
</main>
@section Scripts {
 @*   @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@

    <script type="text/javascript">
        $("#refresh-btn").click(function () {
            $.getJSON('/api/GDrive/info').done(
	            function (result) {
	                var id = 0;
	                console.log(result);
	                if (result.length == 0)
	                    alert("Sorry, there were no results");
	                else {
	                    $(".logs").empty();
	                    $("#info-table > tbody").empty();

	                    $.each(result.LogLines, function (key, value) {
	                        $(".logs")
	                            .append($("<p> </p>")
	                            .text(value));
	                    });

	                    $.each(result.Files, function (key, value) {
	                        var name ="<td>"+value.Name+"</td>";
	                        var ourLastCh = "<td>"+value.OurLastChangesInfo+"</td>" ;
	                        var ourLastChD = "<td>"+value.OurLastChangeDate+"</td>";
	                        var suppLastCh = "<td>"+value.SupplierLastChangesInfo+"</td>";
	                        var supplLastChD = "<td>"+value.SupplierLastChangeDate+"</td>";
	                        var sync = "<button class='btn btn-warning sync-btn' data-target='"+id+"' type='button'>Sync </button> ";
	                        var fetch = "<button class='btn btn-success fetch-btn' data-target='"+id+"' type='button'>Fetch </button> ";
	                        $("#info-table > tbody").append($("<tr>"+name+ourLastCh+ourLastChD+suppLastCh+supplLastChD+fetch+sync+"</tr>"));
	                        id++;
	                    });
	                }
	            });
        });

        $(".fetch-btn").click(function() {
            var id = $(this).data("target"), checked;
            var checked = $("#saveToDB").is(":checked");
            console.log(checked);
			
            $.getJSON('/api/GDrive/pull?id='+id+"&saveToDB="+checked).done(
	            function (result) {
	                console.log(result);
	                if (result.length == 0)
	                    alert("Sorry, there were no results");
	                else {
	                    $(".logs").empty();
	                    $("#info-table > tbody").empty();
	                    alert("Successfully fetched!");
	                }
	            });
        });


            $(".sync-btn").click(function() {
                var id = $(this).data("target"), checked;
                var checked = $("#saveToDB").is(":checked");
                console.log(checked);
			
                $.getJSON('/api/GDrive/push?id='+id+"&saveToDB="+checked).done(
                    function (result) {
                        console.log(result);
                        if (result.length == 0)
                        {
                            alert("Sorry, there were no results");
                        }
                        else {
                            alert("Successfully synced!");
                        }
                    });
            });
</script>
}