﻿@model IEnumerable<Dividabill.Models.User>

@{
    ViewBag.Title = "Clients";
}


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box light-grey">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <button id="clientsTable_new" class="btn green">
                            Add New <i class="fa fa-plus"></i>
                        </button>
                    </div>


                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Export to Excel", "Export", new { id = "Excel" })
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover" id="clientsTable">
                    <thead>
                        <tr>
                            <th class="table-checkbox">
                                <input type="checkbox" class="group-checkable" data-set="#clientsTable .checkboxes">
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DOB)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.HomeAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PhoneNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LockoutEnabled)
                            </th>
                            <th>
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{var i = 0;}
                        @foreach (var item in Model)
                        {
                            i++;
                            <tr class="gradeX @{ if (i % 2 == 0)
                                                         { <text> even </text>       }
                                                         else
                                                         { <text> odd </text>      }} ">
                                <td>
                                    <input type="checkbox" class="checkboxes" value="@item.Id">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    <span class="label label-sm @{ if (item.EmailConfirmed == true)
                                                                           {
                                               <text> label-success </text> }
                                                                           else
                                                                           {  <text> label-default </text> }
                                }">
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </span>
                                </td>
                                <td class="center ">
                                    @item.DOB.ToShortDateString()
                                </td>
                                <td>
                                    @item.HomeAddress
                                </td>
                                <td>

                                    <span class="label label-sm @{ if (item.PhoneNumberConfirmed == true)
                                                                           {
                                               <text> label-success </text> }
                                                                           else
                                                                           {  <text> label-default </text> }
                                }">
                                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                                    </span>
                                </td>
                                <td>
                                    @{ if (item.LockoutEnabled != true)
                                     {
                                        <span class="label label-sm label-success"> Unlocked </span>  }
                                     else
                                     {
                                        <span class="label label-sm label-default"> Locked </span>
                                     }
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>


@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/admin-clientsDetailsTable")
    @Styles.Render("~/Content/adminTables")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>
}