﻿@model IEnumerable<IList<ManualMandateExportOutputModel>>

@{
    ViewBag.Title = "Go Cardless Manual Export of billing run: " + ViewBag.BillingRunId;
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">

                </div>


                @using Mvc.JQuery.DataTables
                @using DividaBill.Services.NewBillingSystem.Impl               
                @using Mvc.JQuery.DataTables.Serialization
                @using DividaBill.ViewModels.DataTables
                

                @{
                    
                    var vm = Html.DataTableVm<ManualMandateExportOutputModel>("table-houses", new Uri("/api/billingrun/GetGoCardlessManualExport/" + ViewBag.BillingRunId, UriKind.Relative) );

                    //vm.JsOptions.Add("iDisplayLength", 5);
                    vm.LengthMenu = LengthMenuVm.Default();


                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.AutoWidth = true;
                    
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copy',
            'excel',
            'csv',
            'pdf'
    ]"));

                    vm.ColumnFilter = false;

                    //vm.FilterOn("HouseID", null, new { sSearch = Model.House_ID }).Number();
                }

                @Html.Partial("DataTable", vm, ViewData)

            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
   @* @Scripts.Render("~/bundles/admin-housesDetailsTable")*@
    @Styles.Render("~/Content/adminTables")
    @*<script type="text/javascript">
        jQuery(document).ready(function () {
            TableManaged.init();
        });
    </script>*@
}