﻿@model IEnumerable<DividaBill.Models.HouseModel>

@{
    ViewBag.Title = "Houses To Be Billed in Billing Run " + ViewBag.BillingRunId;
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group">
                        <div>
                            <button id="SetActiveHousesToBeBilled" class="btn green">
                                Add all active houses
                            </button>
                        </div>
                        
                    </div>

                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            Tools <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="#">
                                    Print
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Save as PDF
                                </a>
                            </li>
                            <li>
                                @Html.ActionLink("Send Mass Message", "MassMessage");
                            </li>
                            <li>
                                @Html.ActionLink("Export to Excel", "Export", new {id = "Excel", Type = "Active"})
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group pull-right">
                        <div>
                            <button id="housesAdd" class="btn green">
                                Add selected houses
                            </button>
                            <button id="housesDelete" class="btn red">
                                Delete selected houses
                            </button>
                        </div>
                        <div>
                            <label><input type="checkbox" id="checkAll" /> Check all</label>
                        </div>
                    </div>
                </div>

                @using Mvc.JQuery.DataTables
                @using Mvc.JQuery.DataTables.Serialization
                @using DividaBill.ViewModels.DataTables
                

                @{
                    
                    var vm = Html.DataTableVm<HousesToBeBilledViewModel>("table-houses", new Uri("/api/billingrun/HousesToBeBilled/" + ViewBag.BillingRunId, UriKind.Relative) );

                    //vm.JsOptions.Add("iDisplayLength", 5);
                    vm.LengthMenu = LengthMenuVm.Default();


                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.AutoWidth = true;
                    
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copy',
            'excel',
            'csv',
            'pdf'
    ]"));

                    vm.ColumnFilter = false;

                    //vm.FilterOn("HouseID", null, new { sSearch = Model.House_ID }).Number();
                }

                @Html.Partial("DataTable", vm, ViewData)
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/housesToBeBilled")
    @* @Scripts.Render("~/bundles/admin-housesDetailsTable")*@
    @Styles.Render("~/Content/adminTables")

    <script>
        billingRunId = @ViewBag.BillingRunId;    
    </script>
}