﻿@model IEnumerable<DividaBill.Models.BillingRun>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitiatedByUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitiatedByUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastModified)
        </td>
        <td>
            @*@Html.ActionLink("Get", "Get", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })*@

            @Html.ActionLink("Set Active Houses To Be Billed", "HousesToBeBilled", new {id = item.ID}) |

            @Html.ActionLink("Generate Missing Bills", "HousesThatHaventBeenBilledYet", new {id = item.ID}) |

            @Html.ActionLink("Send Test Emails 1 house", "SendTestEmail", new {id = item.ID}) |

            @Html.ActionLink("Send Test Emails for billingRun", "SendTestBillingRunEmails", new {id = item.ID}) |

            @Html.ActionLink("Send Test Bills to GoCardless", "SendBillsToGoCardless", new {id = item.ID}) |

            @Html.ActionLink("Send Real Bills to GoCardless", "SendBillsToGoCardless", new { id = item.ID }) |
        </td>
    </tr>
}

</table>
