﻿@model DividaBill.ViewModels.ControllerViewModels.BillingRun.BillingRunRefreshPaymentsAndMandatesInputModel

@{
    ViewBag.Title = "RefreshPaymentsAndMandates";
}

<h2>RefreshPaymentsAndMandates</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BillingRunRefreshPaymentsAndMandatesInputModel</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.Environment, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.Environment, new List<SelectListItem>
                {
                    new SelectListItem
                    {
                        Text = ViewBag.Environments[0].ToString,
                        Value = ViewBag.Environments[0]
                    },
                                      new SelectListItem
                    {
                        Text = ViewBag.Environments[1].ToString,
                        Value = ViewBag.Environments[1]
                    }
                }, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Environment, "", new {@class = "text-danger"})
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
