﻿@{
    ViewBag.Title = "Mandates to update";
}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>@ViewBag.Title
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
                </div>
            </div>
            
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="btn-group pull-right">
                        <div>
                            <button id="forceRegenerateMandate" class="btn red distantFromNeighbours">
                                Force regenerate Mandate
                            </button>
                        </div>
                    </div>
                    <div class="btn-group pull-right">
                        <div>
                            <button id="updateJustMandateInfo" class="btn green distantFromNeighbours">
                                Update selected mandates info
                            </button>
                        </div>
                        @*<div>
                            <button id="updateAllMandatesInfo" class="btn yellow distantFromNeighbours">
                                Update ALL mandates info
                            </button>
                        </div>*@
                    </div>
                    <div class="btn-group pull-right checkAllBox">
                        <div>
                            <label><input type="checkbox" id="checkAll"/> Check all</label>
                        </div>
                    </div>
                </div>

                @using Mvc.JQuery.DataTables
                @using Mvc.JQuery.DataTables.Serialization
                @using DividaBill.ViewModels.DataTables

                @{
                    
                    var vm = Html.DataTableVm<UserGcInfoUpdateViewModel>("table-houses", new Uri("/api/billingrun/MandatesToUpdate/", UriKind.Relative) );

                    //vm.JsOptions.Add("iDisplayLength", 5);
                    vm.LengthMenu = LengthMenuVm.Default();

                    vm.Dom = "<Blf<\"clear\"><'portlet-body't>ipr>";
                    vm.TableClass = "table table-striped table-bordered table-advance table-hover";
                    vm.AutoWidth = true;
                    
                    vm.JsOptions.Add("buttons", new Raw(@"[
            'copy',
            'excel',
            'csv',
            'pdf'
    ]"));

                    vm.ColumnFilter = true;
                }

                @Html.Partial("DataTable", vm, ViewData)
            </div>
        </div>
    </div>
    <!-- END EXAMPLE TABLE PORTLET-->
</div>

@section Scripts {
    @Scripts.Render("~/bundles/adminTables")
    @Scripts.Render("~/bundles/updateMandate")
    @Styles.Render("~/Content/adminTables")

    <style>
        .checkAllBox {
            margin: 7px 10px 7px 7px;
        }
        .distantFromNeighbours {
            margin: 0 2px 2px 0px;
        }
    </style>
}