﻿Content-Type: text/html; charset=utf-8


<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>
</head>
<body>
    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.Message))

    <br />
    <br />
    <br />
    <div>
        Regards,<br /> <br />
        The DividaBill Team
    </div>
</body>
</html>