﻿Content-Type: text/html; charset=utf-8

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Subject</title>

    <style type="text/css">
        body, #bodyTable, #bodyCell {
            height: 100% !important;
            width: 100% !important;
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
        }

        img, a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
            line-height: 100%;
        }

        table, td {
            mso-table-lspace: 0;
            mso-table-rspace: 0;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body, table, td, p, a, li, blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            border-top: 0;
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body, #bodyTable {
            background-color: #F2F2F2;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -1px;
            text-align: left;
            margin: 0;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -.75px;
            text-align: left;
            margin: 0;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: -.5px;
            text-align: left;
            margin: 0;
        }

        h4 {
            color: gray !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            letter-spacing: normal;
            text-align: left;
            margin: 0;
        }

        .ReadMsgBody, .ExternalClass {
            width: 100%;
        }

        #templatePreheader, #templateHeader, #templateBody, #templateFooter {
            background-color: #FFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent, .preheaderContainer .mcnTextContent p, .footerContainer .mcnTextContent, .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a, .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: 400;
                text-decoration: underline;
            }

        .headerContainer .mcnTextContent, .headerContainer .mcnTextContent p, .bodyContainer .mcnTextContent, .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a, .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: 400;
                text-decoration: underline;
            }

        @@media only screen and max-width 480px {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            body {
                width: 100% !important;
                min-width: 100% !important;
            }

            td[id=bodyCell] {
                padding: 10px !important;
            }

            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }

            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }

            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }

            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }

            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }

            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }

            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }

            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }

            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }

            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                max-width: 600px !important;
                width: 100% !important;
            }

            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }

            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }

            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }

            table[class=mcnTextContentContainer], table[class=mcnBoxedTextContentContainer], img[class=mcnImage], table[class=mcnImageGroupContentContainer], table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent], table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }

            td[class=mcnImageCardTopImageContent], td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }

            h3, table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p, td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p, td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }

            table[id=templatePreheader], td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }

            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p, td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templatePreheader">
                                    <tr>
                                        <td valign="top" class="preheaderContainer" style="padding-top:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="366" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;">

                                                                            Use this area to offer a short preview of your email's content.
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                            <table align="right" border="0" cellpadding="0" cellspacing="0" width="197" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;">

                                                                            <a href="#" target="_blank">View this email in your browser</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="" src="http://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/1de67ac1-8e00-4a91-93f6-f30f642bb6d1.png" width="200" style="max-width:200px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                                    <tr>
                                        <td valign="top" class="bodyContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">


                                                                            <img align="center" alt="" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/b2491e68-c6de-4a0e-ae87-85771df55de8.jpg" width="600" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <h1>Welcome To DividaBill</h1>

                                                                            <h3>Thank you for becoming part of Team DividaBill!</h3>

                                                                            <p>
                                                                                Dear&nbsp;<strong>@ViewBag.FirstName @ViewBag.LastName</strong><br />
                                                                                <br />
                                                                                At DividaBill we do the bills so that you are able to concentrate on other things.&nbsp;<br />
                                                                                <br />
                                                                                <strong>Don't forget to make sure that everyone in your house signs up, otherwise we can't get you started on enjoying a stress free year!*</strong>
                                                                            </p>

                                                                            <p>
                                                                                Once everyone has signed up, we'll get to work managing your bills for you. If you are required to do anything else, we will let you know.<br />
                                                                                <br />
                                                                                We take over your water payments as soon as all of your house-mates have signed up, and we have reached the date that you have asked for bills to start. Please make sure any water bills up to this point that you are liable for are paid as we can't help you with those!<br />
                                                                                Electricity and Gas can take a little longer before we can take over paying for you. This can be&nbsp;up to six weeks but is usually around 21 days. You should receive a final bill from your last supplier that you need to pay off if your tenancy started before we were able to take over the supply. Then you don't have to worry for the rest of the year. Sometimes if you were with the same supplier as us before, you may be reimbursed this final payment and we will collect it around the same time from you.&nbsp;<br />
                                                                                To avoid these problems get everyone signed up asap!
                                                                            </p>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock">
                                                <tbody class="mcnButtonBlockOuter">
                                                    <tr>
                                                        <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                                                            <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 2px solid #007FFF;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color: #007FFF;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 16px;">
                                                                            <a class="mcnButton " title="Confirm Account" href="@ViewBag.CallBackUrl" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Confirm Account</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <span style="line-height:20.7999992370605px">Soon you will be able to check your bill and submit meter readings via your&nbsp;</span><em style="line-height:20.7999992370605px">my</em><span style="line-height:20.7999992370605px">DividaBill account, we are just finishing the features^. Until then you can email us the meter readings at; info@dividabill.co.uk and we will do the rest. &nbsp;</span><br style="line-height: 20.7999992370605px;" />
                                                                            <br style="line-height: 20.7999992370605px;" />
                                                                            <span style="line-height:20.7999992370605px">If you have chosen to be contacted about our great broadband, TV and phone packages we will be in touch shortly. If you haven't done it already&nbsp;</span><a href="https://www.dividabill.co.uk/Home/Media" style="line-height: 20.7999992370605px;" target="_blank">click here</a><span style="line-height:20.7999992370605px">&nbsp;and we will get you started.&nbsp;</span><br style="line-height: 20.7999992370605px;" />
                                                                            <br style="line-height: 20.7999992370605px;" />
                                                                            <span style="line-height:20.7999992370605px">If you would like to get in contact with us please email us at info@dividabill.co.uk or call us at&nbsp;02380 223596.</span><br style="line-height: 20.7999992370605px;" />
                                                                            <br style="line-height: 20.7999992370605px;" />
                                                                            <span style="line-height:20.7999992370605px">We hope you enjoy your bill-free year!</span><br style="line-height: 20.7999992370605px;" />
                                                                            <span style="line-height:20.7999992370605px">&nbsp;</span><br style="line-height: 20.7999992370605px;" />
                                                                            <span style="line-height:20.7999992370605px">The DividaBill Team</span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">


                                                                            <img align="left" alt="" src="https://gallery.mailchimp.com/dbf884bc61b855d8bf95a5664/images/354c2038-0927-4abf-8034-edb8edcde3b9.png" width="564" style="max-width:1472px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />


                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                    <tr>
                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock">
                                                <tbody class="mcnFollowBlockOuter">
                                                    <tr>
                                                        <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border: 1px solid #EEEEEE;background-color: #FAFAFA;">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top">


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="https://www.facebook.com/dividabill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Follow us on Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="https://www.facebook.com/dividabill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Follow us on Facebook</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                            <a href="https://www.twitter.com/dividabill" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Follow us on Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                            <a href="https://www.twitter.com/dividabill" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Follow us on Twitter</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->


                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:5px;">
                                                                                                                            <a href="https://www.dividabill.co.uk" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Go to our website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                        </td>
                                                                                                                    </tr>


                                                                                                                    <tr>
                                                                                                                        <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:0; padding-bottom:9px;">
                                                                                                                            <a href="https://www.dividabill.co.uk" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Go to our website</a>
                                                                                                                        </td>
                                                                                                                    </tr>

                                                                                                                </tbody>
                                                                                                            </table>


                                                                                                            <!--[if gte mso 6]>
                                                                                                            </td>
                                                                                                            <td align="left" valign="top">
                                                                                                            <![endif]-->

                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                <tbody class="mcnTextBlockOuter">
                                                    <tr>
                                                        <td valign="top" class="mcnTextBlockInner">

                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                <tbody>
                                                                    <tr>

                                                                        <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                            <p style="margin-top:15.0pt;margin-right:0cm;margin-bottom:15.0pt;margin-left:
0cm">
                                                                                <br />
                                                                                Terms and Conditions Apply, see <a href="https://www.dividabill.co.uk" target="_blank">website</a> for details<br />
                                                                                *DividaBill can only help you achieve a year free of utility bill related stress. Sadly we are unable to afford the magic wand that will grant you a year free of all stress!<br />
                                                                                <span style="font-size:8.0pt">^The Bill amount may be different to your quote as our suppliers will look at different aspects of your house before giving us a final estimate</span>
                                                                            </p>
                                                                            <em>Copyright © *2014* *Soleus Ltd.* All rights reserved.</em><br />
                                                                            &nbsp;
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
</body>
</html>
