﻿@{
    @model DividaBill.ViewModels.ContractViewModel
    var housesList = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).Houses;
    var providersList = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).Providers;
    var contractLengths = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).ContractLengths;
    var packages = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).Packages;
    var houseTenants = (ViewBag.Parameters as DividaBill.ViewModels.ContractViewsViewBagParameters).HouseTenants;
}
    <div class="">
        @using (Html.BeginForm("/", "api/contracts", new { id = Model.ID }, FormMethod.Post, new { @id = "form-contract-" + Model.ID}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.Service)
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.RequestedStartDate, new {@class= "col-sm-5 text-right" })
                    @Html.TextBox("RequestedStartDate", Model.RequestedStartDate.Date.ToShortDateString(), new { @class = "form-control datepicker col-sm-7" })
                </div>
            </div>
            <div class="row" style="margin-top: 1em;">
                <div class="col-sm-12">
                    <div class="input-daterange" id="datepicker">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">Actual From</span>
                                    @Html.TextBox("StartDate", Model.StartDate.HasValue ? Model.StartDate.Value.Date.ToShortDateString() : string.Empty, new { @class = "form-control datepicker" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">to</span>
                                    @Html.TextBox("EndDate", Model.EndDate.Date.ToShortDateString(), new { @class = "form-control datepicker", required="required" })
                                </div>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.StartDate)
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top:1em">
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.House_ID, new { @class = "label-control col-sm-3 text-right" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.House_ID, housesList, new { @class = "form-control select2me", required="required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.House_ID)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.Length, new { @class = "col-sm-3 text-right control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.Length, contractLengths, new { @class = "form-control select2me", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.Length)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.PackageRaw, new { @class = "col-sm-3 text-right control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.PackageRaw, packages, new { @class = "form-control select2me", required = "required" })
                        </div>
                        @Html.ValidationMessageFor(model => model.PackageRaw)
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.SubmissionStatus, new { @class = "col-sm-4 text-right control-label" })
                        <div class="col-sm-7">
                            @Html.TextBoxFor(model => model.SubmissionStatus, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        @Html.ValidationMessageFor(model => model.SubmissionStatus)
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group">
                        <br />
                        @Html.LabelFor(model => model.Provider_ID, new { @class = "col-sm-4 text-right control-label" })
                        <div class="col-sm-7">
                            @Html.DropDownListFor(model => model.Provider_ID, providersList, new { @class = "form-control select2me", required = "required" })
                        </div>
                            @Html.ValidationMessageFor(model => model.Provider_ID)
                        </div>
                </div>
                <div class="row" style="margin-top: 1em">
                    <div class="form-group">
                        @Html.LabelFor(model => model.RequestedTenantId, new { @class = "col-sm-4 text-right control-label" })
                        <div class="col-sm-7">
                            @Html.DropDownListFor(model => model.RequestedTenantId, houseTenants, new { @class = "form-control select2me", required = "required" })
                        </div>
                            @Html.ValidationMessageFor(model => model.RequestedTenantId)
                        </div>
               </div><br/><br/>
         </div>
        }
    </div>
