﻿@{
    ViewBag.Title = "Manage student bills & Young professional bills - Divide your house bills";
    ViewBag.SubTitle = "Services";
    ViewBag.Heading = " We only bill you your share of all the bills once a month.";
    ViewBag.MetaDescription = "Simple bills for shared houses. Rather than one person paying all the bills, DividaBill can split your student & young professional housing bills for you.";
    ViewBag.MetaKeywords = "student bill management, bill management, student bills, easy student bills, student bills, young professional bills, split bills";
}
<script type="text/template" id="services-tpl">
    <div class="services-header">
        <div class="row services-header-info">
            <div class="col-sm-4 col-sm-offset-4">
                <i class="fa fa-cogs fa-5x services-header-icon"></i>
                <h2 class="big-size services-page-title"> Our Services </h2>
            </div>
        </div>
    </div>
    <div class="content">
        <br /><br />
        <div class=" col-sm-4 col-md-3 col-lg-2 sidebar-wrapper">
            <div class="services-sidebar">
                <div class="sidebar-btn">
                    <button href="#gas-service" class="small-service Gas active btn-block" data-target="Gas">
                        <i class="fa fa-fire fa-2x"></i>
                    </button>
                    <p class="service-title active hidden-xs">Gas & Electricity</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#water-service" class="small-service Water btn-block" data-target="Water">
                        <i class="fa fa-tint fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Water</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#internet-service" class="small-service Internet btn-block" data-target="Internet">
                        <i class="fa fa-wifi fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Internet</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#phone-service" class="small-service Telephone btn-block" data-target="Telephone">
                        <i class="fa fa-phone fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">Landline Phone</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#sky-service" class="small-service Sky btn-block" data-target="Sky">
                        <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.0" width="30px" style="margin-top: 2px;" viewBox="-19.11 -19.11 1101.22 675.22" id="svg2521">
                            <defs id="defs2523" />
                            <path class="sky" d="M 394.90627,0 C 374.03247,0 359.15627,10.3904 359.15627,35.9375 L 359.15627,486.09375 C 359.15627,496.11256 365.79197,500.375 374.18747,500.375 L 426.59377,500.375 C 447.54947,500.37499 462.37497,489.9385 462.37497,464.375 L 462.37497,14.28125 C 462.37497,4.21325 455.69007,0 447.34377,0 L 394.90627,0 z M 121.75,153.46875 C 41.9112,153.46875 0,199.7226 0,258.6875 C 0,311.09351 32.2622,343.0109 96.6875,357.375 L 199.5312,380.375 C 220.4379,385.08109 226.9375,390.9667 226.9375,401.625 C 226.9375,409.80729 220.4359,416.34375 201.5625,416.34375 L 42.0937,416.34375 C 16.5302,416.34374 6.25,431.159 6.25,452 L 6.25,485.3125 C 6.25,493.65869 10.3874,500.375 20.4062,500.375 L 195.3437,500.375 C 289.8253,500.37499 327.96873,454.0469 327.96873,399.3125 C 327.96873,342.693 295.2489,310.80005 231.25,296.46875 L 128.375,273.40625 C 107.4684,268.73366 101,262.84735 101,252.15625 C 101,244.00745 107.4852,237.5 126.375,237.5 L 279.4062,237.5 C 304.90414,237.5 315.21873,222.6403 315.21873,201.75 L 315.21873,168.53125 C 315.21874,160.16855 311.06488,153.46875 301.06248,153.46875 L 121.75,153.46875 z M 635.74997,153.46875 C 619.99207,153.46875 611.59957,157.682 602.18747,167.75 L 468.68747,311.09375 L 588.43747,485.59375 C 595.35717,495.66176 601.13217,500.375 611.59377,500.375 L 682.93747,500.375 C 693.61217,500.37499 699.81247,496.1107 699.81247,487.125 C 699.81247,481.61539 697.13557,478.03555 693.59377,472.96875 L 588.43747,317.3125 L 668.28127,231.3125 L 825.90627,464.375 L 756.21877,611.6875 C 754.30027,616.0164 752.06247,620.19367 752.06247,624.375 C 752.06247,632.88523 758.30227,637 766.81247,637 L 830.03127,637 C 842.91957,637.00001 848.47827,632.55064 853.24997,622.1875 L 1058.8125,178.875 C 1060.8458,174.5133 1063,170.38685 1063,166.15625 C 1063,157.66245 1056.8243,153.46875 1048.2813,153.46875 L 984.56247,153.46875 C 971.80517,153.46875 966.01537,157.96485 961.37497,168.34375 L 871.46877,367.9375 L 746.06247,170.40625 C 738.32287,158.15805 730.15707,153.46875 711.56247,153.46875 L 635.74997,153.46875 z" />
                        </svg>
                    </button>
                    <p class="service-title hidden-xs">Sky TV</p>
                </div>
                <div class="sidebar-btn">
                    <button href="#tvl-service" class="small-service Television btn-block" data-target="TVLicense">
                        <i class="fa fa-desktop fa-2x"></i>
                    </button>
                    <p class="service-title hidden-xs">TV License</p>
                </div>
            </div>
        </div>
        <div class="services-content col-sm-8">
            <div class="Gas-block service-section">
                <div class="services-image gas-image"></div><br /> <br />
                <p class="cust-para">Your gas and electricity accounts can be some of the most complex bills to set up, but with DividaBill you can be registered in minutes and a standard switch over takes just 15 days. You will never be cut off and if you pre-register your move we aim to have you switched on your move date. You will realise how easy it should have been the whole time.</p>
                <div class="col-sm-8 col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control col-md-12" style="z-index:0" placeholder="Postcode">
                        <span class="input-group-btn">
                            <button class="btn btn-default" id='search-gas' style="margin-bottom: 3em;">Search</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
                <br />
                <aside class='col-md-8 col-sm-12'>
                    <div id="gas-table" class="table-responsive">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th rowspan="2"></th>
                                    <th colspan="2" class="align">Gas</th>
                                    <th colspan="2" class="align">Electricity</th>
                                </tr>
                                <tr>
                                    <td>Unit Rate</td>
                                    <td>Standing Charge</td>
                                    <td>Unit Rate</td>
                                    <td>Standing Charge</td>
                                </tr>
                                <tr>
                                    <th> Average</th>
                                    <td id="gas-ur">3.465p</td>
                                    <td id="gas-sc"> 27.975p</td>
                                    <td id="el-ur"> 11.60p</td>
                                    <td id="el-sc"> 28.67</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </aside>
                <aside class='col-sm-12'>
                    <button data-toggle="modal" data-target="#info-gas" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                    <p>We switch you over to us the day that you choose to start with DividaBill. Whilst we switch you over your electricity and gas wont go out, not even for a second.</p>
                    <br /><br />
                </aside>
                <!-- Modal -->
                <div class="modal fade" id="info-gas" tabindex="-1" role="dialog" aria-labelledby="ModalGas" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalGas">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <p class="par">
                                    Your tariff is made up of a standing charge and a unit rate per kilowatt-hour (kWh).
                                </p>
                                <p class="par">The guideline consumption figures are 13,500 kWh of gas and 3,200 kWh of electricity per year.</p> <br>
                                <p class="par">The standing charge is a fixed daily charge for each utility. Prices may increase or decrease at any time.</p> <br>
                                <p class="par">We will give you 30 days advanced notice before we increase your prices.</p> <br>
                                <p class="par">If you have a pre payment meter we are unable to change it for you at the moment unfortunately. We are working on it and hope to have the ability to do this soon. You can still sign up for all our other services and join our electricity and gas at a later time. You can call up your current supplier who may be able to change it for you, or change to a supplier that is able to change it. You then join us once you have a meter or smart meter fitted by them.</p> <br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Water-block service-section" style="display:none;">
                <div class="services-image water-image"></div><br /> <br />
                <p>
                    We work with all of the national water companies. We set you up with your local fresh water and wastewater suppliers so that you don’t have to worry. This covers all of your water needs and stops any unexpected bills coming through and we don’t even charge an additional management fee. <br />
                    We will start covering your bill from the day you start with us or if you are signing up in advance we will set it up for the day that you want us to.
                </p>
                <aside class='row'>
                    <aside class='col-md-12'>
                        <button data-toggle="modal" data-target="#info-water" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                        <br /><br />
                    </aside>
                </aside>
                <!-- Modal -->
                <div class="modal fade" id="info-water" tabindex="-1" role="dialog" aria-labelledby="ModalWater" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style='color:white; margin:0px;' id="ModalWater">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <p class="par"> There can be regional price differences or individual circumstances changes for your water supply. These prices should be used as a guide only. After you have signed up with us, your local water company will provide us with the exact charge, unique to your property.  </p><br>
                                <p class="par">Interested in the water quality and type in your area, then check out your local supplier’s website for further information. </p><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Internet-block service-section" style="display:none;">
                <div class="services-image internet-image"></div> <br /> <br />
                <p>We know that a good internet connection is crucial in the modern world. With DividaBill you receive some of the highest quality broadband in the country. We use business quality broadband to give you priority bandwidth, installations, engineers and more. We never slow you down during peak hours and our Internet is truly unlimited.</p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Basic broadband</th>
                                <th>Home Plus broadband</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Download Speed </th>
                                <td>Up-to 17 Mb/s</td>
                                <td>Up-to 38 Mb/s </td>
                            </tr>
                            <tr>
                                <th>Upload Speed</th>
                                <td>Up-to 1.5 Mb/s </td>
                                <td>Up-to 10 Mb/s</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>£21.99 per month </td>
                                <td>£29.99 per month</td>
                            </tr>
                            <tr>
                                <th>Phone Line Rental Price</th>
                                <td>£15.99 per month</td>
                                <td>£15.99 per month</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="align">No delivery, installation or set up costs Based on our 12 month contract</td>
                            </tr>
                            <tr>
                                <td colspan="3">No installation costs or router costs.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <button data-toggle="modal" data-target="#info-internet" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                    <br /> <br />
                </div>
                <!-- Modal -->
                <div class="modal fade" id="info-internet" tabindex="-1" role="dialog" aria-labelledby="ModalInternet" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style='color:white; margin:0' id="ModalPhone">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <br />
                                <p class="par align"> New line or line reactivation required? </p> <hr />
                                <p class="par">All of our packages include a BT home hub. Landline calls are not available unless you select the landline phone service with DividaBill. The bandwidth is unlimited.</p><Br />
                                <p class="par align"> New line or line reactivation required? </p> <hr />
                                <p class="par">In the rare case that you need a new phone line put in or need a BT phone line reactivated an additional one off charge of £140.00 will be added to your first bill.</p><Br />
                                <p class="par align">What speeds will I get? </p> <hr />
                                <p class="par">The speeds referred to are download speeds; speeds are affected by various factors including distance from the cabinet, time of day and internal home wiring. If your line won’t support our top speed, we’ll offer the best speed available. We’ll always offer the best available speed on your line.</p><Br />
                                <p class="par align">What contracts are available?</p> <hr />
                                <p class="par">Our standard contracts are twelve months, however we also offer shorter contracts. Your contract will be automatically reflected in the length of time you choose to have DividaBill for with a minimum of nine months.</p><Br />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Telephone-block service-section" style="display:none">
                <div class="services-image phone-image"></div> <br> <br>
                <p class="cust-para">It might not seem like a necessity anymore but it can be useful to have.</p>
                <p class="cust-para">Choose the package you want and use your minutes anytime with 0870 and 0845 numbers included. </p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th>Mobile minutes</th>
                                <th>Landline minutes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>£2.50 </td>
                                <td>750</td>
                                <td>3000</td>
                            </tr>
                            <tr>
                                <td>£5</td>
                                <td>1500</td>
                                <td>6000</td>
                            </tr>
                            <tr>
                                <td colspan="3"><i>+£15.99 line rental per month </i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <button data-toggle="modal" data-target="#info-phone" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                    <br /><br />
                </div>
                <!-- Modal -->
                <div class="modal fade" id="info-phone" tabindex="-1" role="dialog" aria-labelledby="ModalPhone" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style="color:white; margin:0" id="ModalPhone">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <p class="par"> Your line is usually activated on the day that you choose to start with DividaBill. If you run in to any problems, with the help from the B.T tech team most problems can be dealt with right away. If you need an engineer to help we get priority service for any repairs or installations and they can usually be with you in 24 hours. </p>
                                <hr><p class="par align"> Why do I need a phone line? </p> <hr>
                                <p class="par">If you’ve already selected broadband with us, you’ve already got your phone line included in the quote. If you just want a phone, then the phone line is what actually connects you to the BT network.</p>
                                <hr><p class="par align"> What is this £15.99 fee?</p><hr>
                                <p class="par">This enables you to be able to use the BT network, this fee is included in the quote. Line rental is also required for Internet, so if you also select Internet, the line rental payment will be included in the Internet quote.  </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Sky-block service-section" style="display:none;">
                <div class="services-image sky-image"></div> <br> <br>
                <p class="cust-para">Our complete Sky TV package is available for customers starting July 1st onwards. You will get 75 entertainment channels, 11 movie channels and 7 sports channels, so there really is something for everyone, all in stunning HD. Our priority installation team gets you set up on your first choice date almost all of the time so we are ready to go when you are.</p>
                <div class="col-sm-12 col-md-8 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Price</th>
                                <th>Channels</th>
                                <th>Quality</th>
                                <th>Contract</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>£68.00 per month <br> No delivery and installation costs</td>
                                <td>75 entertainment channels <br> 11 movie channels <br> 7 sports channels </td>
                                <td>All in stunning HD <br> <br>  Pause and record TV </td>
                                <td>Based on 12 month contract</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <p class="par">Installation only available in England.</p>
                    <button data-toggle="modal" data-target="#info-sky" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                    <br /><br />
                </div>
                <!-- Modal -->
                <div class="modal fade" id="info-sky" tabindex="-1" role="dialog" aria-labelledby="ModalSky" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style="color:white; margin:0" id="ModalSky">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <p class="par align"> Do I have to pay for installations? </p> <hr>
                                <p class="par"> Standard installations are included in the monthly price. Any unusual installations may result in extra costs.</p>
                                <hr>
                                <p class="par">We can install Sky in most locations in England. Unfortunately we are unable to cover installations across most of Wales and Scotland at the moment and are working to set this up. </p>
                                <br><p class="par">   If you already have Sky TV set up and want to switch to us, we may be able to do that for you as we only need to change out the viewing card. If you are unsure please contact us and we can assist you with the enquiry.</p>

                                <hr><p class="par align"> Here is the legal bit:</p><hr>
                                <p class="par">Penny Dreadful © Showtime Networks Inc. All rights reserved. © 2014 Viacom International Media Networks. All rights reserved. ©2014 Fox Broadcasting Co. The Following © 2015 Warner Bros Entertainment Inc. All Rights Reserved. Madam Secretary © 2015 CBS Broadcasting Inc. All Rights Reserved. © Carnival Film &amp; Television Ltd 2014. © Kudos Film &amp; Television Ltd 2013. The Flash ©2014 Warner Bros Entertainment Inc. © Disney. Game of Thrones ©2015 Home Box Office, Inc. All rights reserved. HBO® and all related programs are the property of Home Box Office, Inc. The Blacklist © 2015 Sony Pictures Television Inc. All Rights Reserved. HBO® and related service marks are the property of Home Box Office, Inc. Scandal © ABC Studios. Girls SM under licence from Home Box Office, Inc. Revenge © ABC Studios©2014 Home Box Office, Inc. All rights reserved. BONES TM &amp; © 2015 Fox and its related entities. All rights reserved. HBO® and related channels and service marks are the property of Home Box Office, Inc. ©2014 Warner Bros Entertainment Inc. Stalker ©2015 Warner Bros Entertainment Inc. MODERN FAMILY © 2014-2015 Twentieth Century Fox Film Corporation. All rights reserved. Artwork: © 2014 American Broadcasting Companies. All rights reserved. Elementary © 2015 CBS Broadcasting Inc. All Rights Reserved. West Wing © 2014 Warner Bros Entertainment Inc. Justified © 2010 Sony Pictures Television Inc. and Bluebush Productions, LLC. All Rights Reserved. Mad Men © 2015 Lions Gate Television Inc. All rights Reserved.The F1 logo, F1, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX and related marks are trade marks of Formula One Licensing BV, a Formula One group company. All rights reserved. </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="TVLicense-block service-section" style="display:none;">
                <div class="services-image tv-image"></div> <br> <br>
                <p class="par">Get your TV license hassle free. We only charge the standard TV licensing rate, with no addition maintenance fee. <a href="/Account/SignUp">Sign Up</a> so you can watch live TV legally! </p> <br> <br>
                <aside class="row">
                    <aside class="col-sm-12 col-md-8 table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>£12.30 per month</td>
                                </tr>
                            </tbody>
                        </table>
                    </aside>
                </aside>
                <aside class="row">
                    <aside class="col-md-12">
                        <button data-toggle="modal" data-target="#info-tv" type="submit" class="btn small-button btn-default" style="margin-bottom:1em">More Information</button>
                        <p class="cust-para"> If you watch live TV without a TV license, even online, or breach the other terms and conditions you may be breaking the law. Get signed up if you think that you require a TV license with DividaBill so you don’t need to go through the hassle of doing it yourself.</p>
                        <br /><br />
                    </aside>
                </aside>
                <!-- Modal -->
                <div class="modal fade" id="info-tv" tabindex="-1" role="dialog" aria-labelledby="ModalTV" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title align about-header" style="color:white; margin:0" id="ModalPhone">More Information</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <p class="par">
                                    The serious stuff - If you watch live TV without a TV license, even online, or breach the other terms
                                    and conditions you may be breaking the law and could lead to a lead to prosecution, a court appearance and a fine of
                                    up to £1,000. Get signed up today in less than 5 minutes if you think that you require a TV license. For more information
                                    on TV Licensing visit <a href="http://www.tvlicensing.co.uk"> www.tvlicensing.co.uk</a>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default col-md-6 col-md-offset-3" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--Services Content -->
    </div>
    <Br />
    <br />
    <br />
</script>
