﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pick Utilities</title>
</head>
<body style="text-align:center;align-items:center">
    <h3>You get to pick your house services again, <br/> 'cuz we fucked up last time. </h3>
  <form method="post" action="Confirm">
      @Html.AntiForgeryToken()

      <table border="1" align="center" style="text-align:left;">
          <tr><td><label>
                  <input type="checkbox" name="Electricity" value="1" />Electricity
          </label></td></tr>
          <tr><td><label>
                  <input type="checkbox" name="Gas" value="1" />Gas
          </label></td></tr>
          <tr><td><label>
                  <input type="checkbox" name="Water" value="1" />Water
          </label></td></tr>
          <tr><td><label>
                  <input type="checkbox" name="Sky" value="1" />Sky TV
          </label></td></tr>
          <tr><td><div>
                Internet:<br />
                <label><input type="radio" name="Internet" value="0" checked>None </label><br/>
                <label><input type="radio" name="Internet" value="1">ADSL </label><br/>
                <label><input type="radio" name="Internet" value="2">Fiber </label>
          </div></td></tr>
          <tr><td><div>
                Landline:<br />
                <label><input type="radio" name="Landline" value="0" checked>None</label><br />
                <label><input type="radio" name="Landline" value="1">Basic</label><br />
                <label><input type="radio" name="Landline" value="2">Medium</label><br />
          </div></td></tr>
        </table>
        <input type="submit" value="Continue" />
</form> 
</body>
</html>
