﻿@using DividaBill.Library
@{
    var leftMenu = Session["AdminLeftMenuViewModel"] as DividaBill.Areas.Admin.ViewModels.AdminLeftMenuViewModel;

}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>@ViewBag.Title - DividaBill Administration</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    @Styles.Render("~/Content/metronic-core")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")


</head>
<body class="page-header-fixed page-full-width">
    <div class="se-pre-con"></div>
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="@Url.Action("Index", "Dashboard")">
                <img src="~/Content/Images/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN HORIZANTAL MENU -->

            <div class="hor-menu hidden-sm hidden-xs">
                @{string ctrName = ViewContext.RouteData.Values["controller"].ToString();}

                <ul class="nav navbar-nav">

                    <li class="classic-menu-dropdown @if(ctrName == "Dashboard"){<text> active</text>}">
                        @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "dropdown-toggle" })
                    </li>

                    <li class="classic-menu-dropdown @if (ctrName == " bills") { <text> active</text>}">
                        @Html.ActionLink("Bills", "Index", "HouseholdBills", null, new { @class = "dropdown-toggle" })
                    </li>

                    <li class="classic-menu-dropdown @if(ctrName == "Houses"){ <text> active</text>}">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            Houses <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">


                            <li>
                                <a href="@Url.Action("All", "Houses")">
                                    All Houses
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Active", "Houses")">
                                    Active Houses
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("LastWeek", "Houses")">
                                    Last Week Houses
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Yesterday", "Houses")">
                                    Yesterday Houses
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("Today", "Houses")">
                                    Today Houses
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="classic-menu-dropdown @if (ctrName == " clients")
                                                     {<text> active</text>}">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            Tenants <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="@Url.Action("Active", "Tenants")">
                                    Active Tenants
                                </a>
                            </li>

                            <li>
                                <a href="@Url.Action("All", "Tenants")">
                                    All Tenants
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="classic-menu-dropdown @if(ctrName == "Reporting"){ <text> active</text>}">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            Reporting <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="@Url.Action("MonthlyBillingReports", "Reporting")">
                                    Monthly Billing Reports
                                </a>
                            </li>
                        </ul>

                    </li>

                    <li class="classic-menu-dropdown @if(ctrName == "Billing"){ <text> active</text>}">
                        <a data-toggle="dropdown" href="javascript:;" data-hover="megamenu-dropdown" data-close-others="true" class="hover-initialized" aria-expanded="false">
                            Billing <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li>
                                <a href="@Url.Action("Index", "BillingRun")">
                                    View Billing Runs
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("Create", "BillingRun")">
                                    Create a Billing Run
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("UpdateMandate", "BillingRun")">
                                    Manage GoCardless mandates
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="@if(ctrName == "Codes"){<text> active</text>}">
                        @Html.ActionLink("Codes", "Index", "Coupons", null, new { @class = "dropdown-toggle" })
                    </li>
                    <li class="@if (ctrName == "Logs")
                               {<text> active</text>}">
                        @Html.ActionLink("Logs", "Logs", "Dashboard", null, new { @class = "dropdown-toggle" })
                    </li>
                </ul>
            </div>

            <!-- END HORIZANTAL MENU -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img src="~/Content/Images/metronic/menu-toggler.png" alt="" />
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">

                    <!-- BEGIN NOTIFICATION DROPDOWN -->

                    <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">

                            <i class="fa fa-bell"></i>

                            @*<span class="badge">@leftMenu.Notifications.Count()</span>*@

                        </a>

                        <ul class="dropdown-menu">

                            <li class="external">

                                <h3>
                                    <span class="bold">You have 14 new notifications</span>
                                </h3>

                            </li>

                            <li>
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                    <ul class="dropdown-menu-list scroller" style="height: 250px; overflow: hidden; width: auto;" data-handle-color="#637283" data-initialized="1">

                                        @*@foreach (DividaBill.Areas.Admin.ViewModels.INotificationViewModel notification in leftMenu.Notifications)
                                        {
                                            <li>
                                                <a href="@notification.Link">
                                                    <span class="label label-icon @notification.Type">
                                                        <i class="fa @notification.Action"></i>
                                                    </span>
                                                    @notification.Title
                                                    <span class="time">
                                                        @notification.Created
                                                    </span>
                                                </a>
                                            </li>
                                        }*@


                                    </ul>
                                </div>
                                <div class="slimScrollBar" style="background-color: rgb(99, 114, 131); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; z-index: 99; right: 1px; height: 121.35922330097088px; background-position: initial initial; background-repeat: initial initial;"></div>
                                <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; background-color: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px; background-position: initial initial; background-repeat: initial initial;"></div>
                            </li>
                        </ul>

                    </li>

                    <!-- END NOTIFICATION DROPDOWN -->


                    <!-- BEGIN USER LOGIN DROPDOWN -->

                    <li class="dropdown dropdown-user">

                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="/Content/Images/metronic/avatar3_small.jpg">
                            <span class="username username-hide-on-mobile">
                                @*@leftMenu.User.FullName*@
                                @User.Identity.Name
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="extra_profile.html">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li>
                                <a href="page_calendar.html">
                                    <i class="icon-calendar"></i> My Calendar
                                </a>
                            </li>
                            <li>
                                <a href="inbox.html">
                                    <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                        3
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="page_todo.html">
                                    <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                        7
                                    </span>
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="extra_lock.html">
                                    <i class="icon-lock"></i> Lock Screen
                                </a>
                            </li>
                            <li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "hidden" }))
                                {
                                    @Html.AntiForgeryToken()
                                }
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-key"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>

                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">

    </div>

    <!-- BEGIN CONTAINER -->

    <div class="page-container">

        @*@Html.Partial("~/Areas/Admin/Views/Shared/_Sidepanel.cshtml")*@
        <!-- BEGIN CONTENT -->

        <div class="page-content-wrapper">

            <div class="page-content">

                <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

                <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <div class="modal-dialog">

                        <div class="modal-content">

                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                                <h4 class="modal-title">Modal title</h4>

                            </div>

                            <div class="modal-body">

                                Widget settings form goes here

                            </div>

                            <div class="modal-footer">

                                <button type="button" class="btn blue">Save changes</button>

                                <button type="button" class="btn default" data-dismiss="modal">Close</button>

                            </div>

                        </div>

                        <!-- /.modal-content -->

                    </div>

                    <!-- /.modal-dialog -->

                </div>

                <!-- /.modal -->
                <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
                @Html.Partial("~/Views/Shared/_StyleCustomizer.cshtml")
                <!-- BEGIN PAGE HEADER-->

                <div class="row">

                    <div class="col-md-12">

                        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

                        <h3 class="page-title">

                            @ViewBag.Title <small>@ViewBag.SubTitle</small>

                        </h3>

                        <div class="page-bar">
                            <ul class="page-breadcrumb">
                                <li>
                                    <i class="fa fa-home"></i>
                                    @Html.ActionLink(linkText: "Home", actionName: "Index", controllerName: "Dashboard",
                                routeValues: null, htmlAttributes: "")
                                    <i class="fa fa-angle-right"></i>
                                </li>
                                <li>
                                    @Html.ActionLink(ViewContext.RouteData.Values["Controller"].ToString(), "Index")
                                    <i class="fa fa-angle-right"></i>
                                </li>

                                <li>
                                    @Html.ActionLink(linkText: ViewContext.RouteData.Values["Action"].ToString(),
                                         actionName: ViewContext.RouteData.Values["Action"].ToString(),
                                         controllerName: ViewContext.RouteData.Values["Controller"].ToString(),
                                         routeValues: null, htmlAttributes: "")
                                </li>
                            </ul>
                            <div class="page-toolbar">
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                        <span>
                                            Actions
                                        </span>
                                        <i class="fa fa-angle-down"></i>
                                    </button>

                                    <ul class="dropdown-menu pull-right" role="menu">
                                        @if (IsSectionDefined("ActionsMenu"))
                                        {
                                            @RenderSection("ActionsMenu")
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END PAGE TITLE & BREADCRUMB-->

                    </div>

                </div>

                <!-- END PAGE HEADER-->
                @RenderBody()

            </div>

        </div>

        <!-- END CONTENT -->

    </div>

    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            &copy; @DateTime.Now.Year - DividaBill.co.uk
            <br />
            <span>
                Version:
                @Functions.GetAssemblyVersionInfo(typeof(DividaBill.SysOp.MvcApplication).Assembly) -
                @HttpContext.Current.Application["codename"]
            </span>
        </div>
        <div class="scroll-to-top" style="display: block;">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!-- END FOOTER -->
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metronic-core")
    <script type="text/javascript">
        jQuery(document).ready(function () {
            App.init();
        });
    </script>
    @RenderSection("scripts", required: false)

    <!-- URL: @Request.Url.AbsoluteUri -->
</body>
</html>