﻿@model DividaBill.ViewModels.TenancyViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#accordion1_1">
                @if (!@Model.IsActive)
                {
                  <i class="fa fa-info-circle"></i><strong>@(!@Model.IsActive ? " Left the house on " + @Model.LeavingDate.Value.ToString("dd/MM/yyy") : "")</strong>
                }
            </a>
        </h4>
    </div>

    <div id="accordion1_1" class="panel-collapse collapse in">
    <div class="panel-body  @(!@Model.IsActive ? "former-tenant" : "" )">

    <!-- BEGIN PAGE CONTENT-->

    <div class="row profile">

    <div class="col-md-12">

    <!--BEGIN TABS-->

    <div class="tabbable tabbable-custom tabbable-full-width">
    <div class="tab-content">
    <div class="tab-pane active">
    <div class="row">
    <div class="col-md-3">
        <ul class="list-unstyled profile-nav">
            <li>
                <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&f=y&s=400" class="img-responsive" alt=""/>
            </li>
            <li>
                <a href="#">
                    Send message
                </a>
            </li>
            <li>
                @Html.ActionLink("Edit", "Edit", "Tenants", new {id = Model.UserId}, new {target="_blank"})
            </li>
        </ul>
    </div>

    <div class="col-md-9">

    <div class="row">

        <div class="col-md-8 profile-info">
            <h1>@Model.User.FullName</h1>
            <p>
                @Model.User.Note
            </p>
            <ul class="list-inline">
                <li>
                    <i class="fa fa-map-marker"></i> @Model.User.HomeAddress
                </li>
                <li>
                    <i class="fa fa-calendar"></i>DoB @Model.User.DOB.ToShortDateString()
                </li>
                <li>
                    <i class="fa fa-mobile-phone"></i> @Model.User.PhoneNumber
                </li>
            </ul>
            <h4>Tenancy</h4>
            <ul class="list-inline">
                <li>
                <i class="fa fa-calendar"></i>Joining Date @(Model.JoiningDate.HasValue ? Model.JoiningDate.Value.ToString("dd/MM/yyy") : "n/a")
                <li>
                <i class="fa fa-calendar"></i>Leaving Date @(Model.LeavingDate.HasValue ? Model.LeavingDate.Value.ToString("dd/MM/yyy") : "n/a")
                </li>
            </ul>
            <h4>Other</h4>
            <ul class="list-inline">
                <li>
                    <i class="fa fa-info-circle"></i>Go CardlessCustomerId @Model.User.GoCardlessCustomerID
                </li>
            </ul>
        </div>

        <!--end col-md-8-->

        <div class="col-md-4">

            <div class="portlet sale-summary">

                <div class="portlet-title">

                    <div class="caption">

                        Bank Details

                    </div>

                </div>

                <div class="portlet-body">

                    <ul class="list-unstyled">

                        <li>

                            <span class="sale-info">

                                                                            @Html.DisplayNameFor(model => model.User.AccountHolder)

                                                                        </span>

                            <span class="sale-num">

                                                                            @Html.DisplayFor(model => model.User.AccountHolder)

                                                                        </span>

                        </li>

                        <li>

                            <span class="sale-info">

                                                                            @Html.DisplayNameFor(model => model.User.AccountNumber)

                                                                        </span>

                            <span class="sale-num">

                                                                            @Html.DisplayFor(model => model.User.AccountNumber)

                                                                        </span>

                        </li>

                        <li>

                            <span class="sale-info">

                                                                            @Html.DisplayNameFor(model => model.User.AccountSortCode)

                                                                        </span>

                            <span class="sale-num">

                                                                            @Html.DisplayFor(model => model.User.AccountSortCode)

                                                                        </span>

                        </li>

                        <li>

                            <span class="sale-info">

                                                                            @Html.DisplayNameFor(model => model.User.AccountSoleHolder)

                                                                        </span>

                            <span class="sale-num">

                                                                            @Html.DisplayFor(model => model.User.AccountSoleHolder)

                                                                        </span>

                        </li>

                    </ul>

                </div>

            </div>

        </div>

        <!--end col-md-4-->

    </div>

    <!--end row-->

    <div class="tabbable tabbable-custom tabbable-custom-profile">

        <ul class="nav nav-tabs">

            <li class="active">

                <a>

                    Bills

                </a>

            </li>

        </ul>

        <div class="tab-content">

            <div class="tab-pane active">

                <div class="portlet-body">

                    <table class="table table-striped table-bordered table-advance table-hover">

                        <thead>

                        <tr>

                            <th>

                                <i class="fa fa-briefcase"></i> Company

                            </th>

                            <th class="hidden-xs">

                                <i class="fa fa-question"></i> Descrition

                            </th>

                            <th>

                                <i class="fa fa-bookmark"></i> Amount

                            </th>

                            <th>

                            </th>

                        </tr>

                        </thead>

                        <tbody>

                        <tr>

                            <td>

                                <a href="#">

                                    Pixel Ltd

                                </a>

                            </td>

                            <td class="hidden-xs">

                                Server hardware purchase

                            </td>

                            <td>

                                52560.10$

                                <span class="label label-success label-sm">

                                                                                    Paid

                                                                                </span>

                            </td>

                            <td>

                                <a class="btn default btn-xs green-stripe" href="#">

                                    View

                                </a>

                            </td>

                        </tr>

                        </tbody>

                    </table>

                </div>

            </div>

            <!--tab-pane-->

        </div>

    </div>

    </div>

    </div>

    </div>

    <!--end tab-pane-->

    </div>

    </div>

    <!--END TABS-->

    </div>

    </div>

    <!-- END PAGE CONTENT-->

    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.NewsletterSubscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.NewsletterSubscription)
        </dd>



    </dl>

    </div>

            </div>
        
</div>
